<header>
  <h1>Forms</h1>
</header>

<section>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde sit, obcaecati totam ab, iste recusandae blanditiis architecto nostrum voluptas, eveniet ea eos! Possimus eaque, soluta optio aperiam, deserunt nemo?</p>

  <p>Atque quis soluta architecto, quo aperiam quibusdam a. Fuga, reiciendis odio delectus voluptatibus ea. Commodi omnis fuga nulla facilis magni necessitatibus, hic temporibus eum modi, expedita, sunt quis, amet excepturi.</p>

</section>

<section id="basic">
 
  <header>
    <h2>Basic form</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint unde sit, obcaecati totam ab, iste recusandae blanditiis architecto nostrum voluptas, eveniet ea eos! Possimus eaque, soluta optio aperiam, deserunt nemo?</p>


  <form class="basic-form">

    <legend>Legend</legend>
    
    <label for="full-name">Full name</label>
    <input id="full-name" type="text">
    
    <label for="company">Company <small>(optional)</small></label>
    <input id="company" type="text">
    
    <label for="address-1">Address</label>
    <input id="address-1" type="text">
    
    <label for="address-2"></label>
    <input id="address-2" type="text">
    
    <label for="city">ZIP/State/City</label>
    <div style="display: flex">
      <input id="city" type="text" style="width: 30%; margin-right: .5em;">
      <input id="state" type="text" style="width: 20%; margin-right: .5em">
      <input id="zip" type="text" style="width: 50%">
    </div>
    
    <label for="country">Country</label>
    <select id="country">
      <option value=""></option>
      <option value="Afghanistan">Afghanistan</option>
      <option value="Åland Islands">Åland Islands</option>
      <option value="Albania">Albania</option>
      <option value="Algeria">Algeria</option>
      <option value="American Samoa">American Samoa</option>
      <option value="Andorra">Andorra</option>
      <option value="Angola">Angola</option>
      <option value="Anguilla">Anguilla</option>
      <option value="Antarctica">Antarctica</option>
      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
      <option value="Argentina">Argentina</option>
      <option value="Armenia">Armenia</option>
      <option value="Aruba">Aruba</option>
      <option value="Australia">Australia</option>
      <option value="Austria">Austria</option>
      <option value="Azerbaijan">Azerbaijan</option>
      <option value="Bahamas">Bahamas</option>
      <option value="Bahrain">Bahrain</option>
      <option value="Bangladesh">Bangladesh</option>
      <option value="Barbados">Barbados</option>
      <option value="Belarus">Belarus</option>
      <option value="Belgium">Belgium</option>
      <option value="Belize">Belize</option>
      <option value="Benin">Benin</option>
      <option value="Bermuda">Bermuda</option>
      <option value="Bhutan">Bhutan</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
      <option value="Botswana">Botswana</option>
      <option value="Bouvet Island">Bouvet Island</option>
      <option value="Brazil">Brazil</option>
      <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
      <option value="Brunei Darussalam">Brunei Darussalam</option>
      <option value="Bulgaria">Bulgaria</option>
      <option value="Burkina Faso">Burkina Faso</option>
      <option value="Burundi">Burundi</option>
      <option value="Cambodia">Cambodia</option>
      <option value="Cameroon">Cameroon</option>
      <option value="Canada">Canada</option>
      <option value="Cape Verde">Cape Verde</option>
      <option value="Cayman Islands">Cayman Islands</option>
      <option value="Central African Republic">Central African Republic</option>
      <option value="Chad">Chad</option>
      <option value="Chile">Chile</option>
      <option value="China">China</option>
      <option value="Christmas Island">Christmas Island</option>
      <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
      <option value="Colombia">Colombia</option>
      <option value="Comoros">Comoros</option>
      <option value="Congo">Congo</option>
      <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
      <option value="Cook Islands">Cook Islands</option>
      <option value="Costa Rica">Costa Rica</option>
      <option value="Cote D'ivoire">Cote D'ivoire</option>
      <option value="Croatia">Croatia</option>
      <option value="Cuba">Cuba</option>
      <option value="Cyprus">Cyprus</option>
      <option value="Czech Republic">Czech Republic</option>
      <option value="Denmark">Denmark</option>
      <option value="Djibouti">Djibouti</option>
      <option value="Dominica">Dominica</option>
      <option value="Dominican Republic">Dominican Republic</option>
      <option value="Ecuador">Ecuador</option>
      <option value="Egypt">Egypt</option>
      <option value="El Salvador">El Salvador</option>
      <option value="Equatorial Guinea">Equatorial Guinea</option>
      <option value="Eritrea">Eritrea</option>
      <option value="Estonia">Estonia</option>
      <option value="Ethiopia">Ethiopia</option>
      <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
      <option value="Faroe Islands">Faroe Islands</option>
      <option value="Fiji">Fiji</option>
      <option value="Finland">Finland</option>
      <option value="France">France</option>
      <option value="French Guiana">French Guiana</option>
      <option value="French Polynesia">French Polynesia</option>
      <option value="French Southern Territories">French Southern Territories</option>
      <option value="Gabon">Gabon</option>
      <option value="Gambia">Gambia</option>
      <option value="Georgia">Georgia</option>
      <option value="Germany">Germany</option>
      <option value="Ghana">Ghana</option>
      <option value="Gibraltar">Gibraltar</option>
      <option value="Greece">Greece</option>
      <option value="Greenland">Greenland</option>
      <option value="Grenada">Grenada</option>
      <option value="Guadeloupe">Guadeloupe</option>
      <option value="Guam">Guam</option>
      <option value="Guatemala">Guatemala</option>
      <option value="Guernsey">Guernsey</option>
      <option value="Guinea">Guinea</option>
      <option value="Guinea-bissau">Guinea-bissau</option>
      <option value="Guyana">Guyana</option>
      <option value="Haiti">Haiti</option>
      <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
      <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
      <option value="Honduras">Honduras</option>
      <option value="Hong Kong">Hong Kong</option>
      <option value="Hungary">Hungary</option>
      <option value="Iceland">Iceland</option>
      <option value="India">India</option>
      <option value="Indonesia">Indonesia</option>
      <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
      <option value="Iraq">Iraq</option>
      <option value="Ireland">Ireland</option>
      <option value="Isle of Man">Isle of Man</option>
      <option value="Israel">Israel</option>
      <option value="Italy">Italy</option>
      <option value="Jamaica">Jamaica</option>
      <option value="Japan">Japan</option>
      <option value="Jersey">Jersey</option>
      <option value="Jordan">Jordan</option>
      <option value="Kazakhstan">Kazakhstan</option>
      <option value="Kenya">Kenya</option>
      <option value="Kiribati">Kiribati</option>
      <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
      <option value="Korea, Republic of">Korea, Republic of</option>
      <option value="Kuwait">Kuwait</option>
      <option value="Kyrgyzstan">Kyrgyzstan</option>
      <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
      <option value="Latvia">Latvia</option>
      <option value="Lebanon">Lebanon</option>
      <option value="Lesotho">Lesotho</option>
      <option value="Liberia">Liberia</option>
      <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
      <option value="Liechtenstein">Liechtenstein</option>
      <option value="Lithuania">Lithuania</option>
      <option value="Luxembourg">Luxembourg</option>
      <option value="Macao">Macao</option>
      <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
      <option value="Madagascar">Madagascar</option>
      <option value="Malawi">Malawi</option>
      <option value="Malaysia">Malaysia</option>
      <option value="Maldives">Maldives</option>
      <option value="Mali">Mali</option>
      <option value="Malta">Malta</option>
      <option value="Marshall Islands">Marshall Islands</option>
      <option value="Martinique">Martinique</option>
      <option value="Mauritania">Mauritania</option>
      <option value="Mauritius">Mauritius</option>
      <option value="Mayotte">Mayotte</option>
      <option value="Mexico">Mexico</option>
      <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
      <option value="Moldova, Republic of">Moldova, Republic of</option>
      <option value="Monaco">Monaco</option>
      <option value="Mongolia">Mongolia</option>
      <option value="Montenegro">Montenegro</option>
      <option value="Montserrat">Montserrat</option>
      <option value="Morocco">Morocco</option>
      <option value="Mozambique">Mozambique</option>
      <option value="Myanmar">Myanmar</option>
      <option value="Namibia">Namibia</option>
      <option value="Nauru">Nauru</option>
      <option value="Nepal">Nepal</option>
      <option value="Netherlands">Netherlands</option>
      <option value="Netherlands Antilles">Netherlands Antilles</option>
      <option value="New Caledonia">New Caledonia</option>
      <option value="New Zealand">New Zealand</option>
      <option value="Nicaragua">Nicaragua</option>
      <option value="Niger">Niger</option>
      <option value="Nigeria">Nigeria</option>
      <option value="Niue">Niue</option>
      <option value="Norfolk Island">Norfolk Island</option>
      <option value="Northern Mariana Islands">Northern Mariana Islands</option>
      <option value="Norway">Norway</option>
      <option value="Oman">Oman</option>
      <option value="Pakistan">Pakistan</option>
      <option value="Palau">Palau</option>
      <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
      <option value="Panama">Panama</option>
      <option value="Papua New Guinea">Papua New Guinea</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Peru">Peru</option>
      <option value="Philippines">Philippines</option>
      <option value="Pitcairn">Pitcairn</option>
      <option value="Poland">Poland</option>
      <option value="Portugal">Portugal</option>
      <option value="Puerto Rico">Puerto Rico</option>
      <option value="Qatar">Qatar</option>
      <option value="Reunion">Reunion</option>
      <option value="Romania">Romania</option>
      <option value="Russian Federation">Russian Federation</option>
      <option value="Rwanda">Rwanda</option>
      <option value="Saint Helena">Saint Helena</option>
      <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
      <option value="Saint Lucia">Saint Lucia</option>
      <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
      <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
      <option value="Samoa">Samoa</option>
      <option value="San Marino">San Marino</option>
      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
      <option value="Saudi Arabia">Saudi Arabia</option>
      <option value="Senegal">Senegal</option>
      <option value="Serbia">Serbia</option>
      <option value="Seychelles">Seychelles</option>
      <option value="Sierra Leone">Sierra Leone</option>
      <option value="Singapore">Singapore</option>
      <option value="Slovakia">Slovakia</option>
      <option value="Slovenia">Slovenia</option>
      <option value="Solomon Islands">Solomon Islands</option>
      <option value="Somalia">Somalia</option>
      <option value="South Africa">South Africa</option>
      <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
      <option value="Spain">Spain</option>
      <option value="Sri Lanka">Sri Lanka</option>
      <option value="Sudan">Sudan</option>
      <option value="Suriname">Suriname</option>
      <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
      <option value="Swaziland">Swaziland</option>
      <option value="Sweden">Sweden</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Syrian Arab Republic">Syrian Arab Republic</option>
      <option value="Taiwan, Province of China">Taiwan, Province of China</option>
      <option value="Tajikistan">Tajikistan</option>
      <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
      <option value="Thailand">Thailand</option>
      <option value="Timor-leste">Timor-leste</option>
      <option value="Togo">Togo</option>
      <option value="Tokelau">Tokelau</option>
      <option value="Tonga">Tonga</option>
      <option value="Trinidad and Tobago">Trinidad and Tobago</option>
      <option value="Tunisia">Tunisia</option>
      <option value="Turkey">Turkey</option>
      <option value="Turkmenistan">Turkmenistan</option>
      <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
      <option value="Tuvalu">Tuvalu</option>
      <option value="Uganda">Uganda</option>
      <option value="Ukraine">Ukraine</option>
      <option value="United Arab Emirates">United Arab Emirates</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="United States">United States</option>
      <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Uzbekistan">Uzbekistan</option>
      <option value="Vanuatu">Vanuatu</option>
      <option value="Venezuela">Venezuela</option>
      <option value="Viet Nam">Viet Nam</option>
      <option value="Virgin Islands, British">Virgin Islands, British</option>
      <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
      <option value="Wallis and Futuna">Wallis and Futuna</option>
      <option value="Western Sahara">Western Sahara</option>
      <option value="Yemen">Yemen</option>
      <option value="Zambia">Zambia</option>
      <option value="Zimbabwe">Zimbabwe</option>
    </select>

    <label></label>
    <ul class="radios inline">
      <li>
        <input type="radio" name="rescom" id="residential"> 
        <label for="residential">Residential</label>
      </li>
      <li>
        <input type="radio" name="rescom" id="commercial"> 
        <label for="commercial">Commercial</label></li>
    </ul>

    <div class="controls">
      <button type="submit" class="primary">Submit</button>
      <button type="reset">Reset</button>
      <div class="spacer"></div>
      <a href="">Carbon emmissions check</a>
    </div>
    
  </form>

  <p>Atque quis soluta architecto, quo aperiam quibusdam a. Fuga, reiciendis odio delectus voluptatibus ea. Commodi omnis fuga nulla facilis magni necessitatibus, hic temporibus eum modi, expedita, sunt quis, amet excepturi.</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-forms-basic">
    <label for="code-forms-basic" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;form class="basic-form"&gt;
  &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;input type="..." id="..."&gt;

&lt;/form&gt;</code></pre>
  
  </div>
 
</section>

<section id="login">
  <header>
    <h2>Login form</h2>
  </header>

  <p>Nostrum nobis maiores aut laudantium consequatur ut, iure, et iste vitae. Ab ipsa placeat sint reprehenderit accusamus explicabo quas nam iure libero inventore laboriosam tempore, ducimus cumque, eveniet maxime omnis!</p>

  <p>Nulla sunt adipisci autem, sit perspiciatis ipsum blanditiis, iste culpa laudantium provident debitis aliquam ex ducimus officiis repudiandae dolor est modi consectetur molestiae alias, mollitia quam eveniet, cum reiciendis. Porro!</p>

  <form action="" class="basic-form">
    
    <label for="username">Username</label>
    <input type="text" id="username" required="">

    <label for="password">Password</label>
    <input type="password" id="password" required="">

    <div class="controls">
      <button type="submit">Login</button>
      <a href="" class="forgot-password">Forgot password?</a>
     
      <div class="spacer"></div>

    </div>
  </form>

  <p>Dolor sit amet, consectetur adipisicing elit. Aliquam reiciendis ipsa doloribus, quasi molestias! Ipsa veritatis repellendus cumque non debitis nesciunt culpa rerum. Dolore nisi qui accusamus sint quod natus.</p>

  <form action="" class="login-form container" >
    <legend>Login Form</legend>

    <label for="username">Username</label>
    <input type="text" id="username" required="">

    <label for="password">Password</label>
    <input type="password" id="password" required="">

    <div class="controls">
      <label for="remember">
        <input id="remember" type="checkbox"> Keep me logged in
      </label>

      <button type="submit">Login</button>

      <a href="" class="forgot-password">Forgot password?</a>
     
      <div class="spacer"></div>
    </div>
  </form>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam reiciendis ipsa doloribus, quasi molestias! Ipsa veritatis repellendus cumque non debitis nesciunt culpa rerum. Dolore nisi qui accusamus sint quod natus.</p>

  <form action="" class="login-form container gray" >
    
    <div class="group">
      <svg class="icon">
        <use xlink:href="/icons/icons.svg#mail"></use>
      </svg>
      <input type="email" id="email" required="" placeholder="E-mail address" class="prepend-icon">
      
    </div>

    <div class="group">
      <svg class="icon">
        <use xlink:href="/icons/icons.svg#lock"></use>
      </svg>
      <input type="password" id="password" required="" class="prepend-icon" placeholder="Password">
    </div>

    <div class="controls">
      <label for="remember">
        <input id="remember" type="checkbox"> Remember me
      </label>

      <button type="submit" class="primary">Sign in</button>
     
      <div class="spacer"></div>
    </div>
    
  </form>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit minima consequatur, magnam quos eveniet ullam accusamus fuga quidem amet consectetur doloremque delectus officiis adipisci quasi vero debitis vel suscipit, quis!</p>
  <p>Voluptate deserunt voluptas deleniti, ab laudantium impedit consequuntur ad alias. Iure mollitia odio sunt nesciunt, perspiciatis, consectetur cupiditate! Quibusdam nostrum autem inventore consequatur enim non! Voluptatem similique, dolores minus ex?</p>
  <p>Dolor, provident qui animi veniam iure quae natus sed, laborum nostrum quod harum quasi excepturi quam. Delectus in, laudantium nihil modi ad obcaecati reiciendis, expedita animi laborum hic sed nemo.</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-forms-login">
    <label for="code-forms-login" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;form action="..." class="login-form container" &gt;
  &lt;label for="username"&gt;Username&lt;/label&gt;
  &lt;input type="text" id="username" required&gt;

  &lt;label for="password"&gt;Password&lt;/label&gt;
  &lt;input type="password" id="password" required&gt;

  &lt;div class="controls"&gt;
    &lt;label for="remember"&gt;
      &lt;input id="remember" type="checkbox"&gt; Keep me logged in
    &lt;/label&gt;

    &lt;button type="submit" class="primary"&gt;Login&lt;/button&gt;

    &lt;a href="" class="forgot-password"&gt;Forgot password?&lt;/a&gt;
   
    &lt;div class="spacer"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;

&lt;!-- Compact Login Form --&gt;

&lt;form action="..." class="login-form container gray"&gt;
  &lt;div class="group"&gt;
    &lt;svg class="icon"&gt;&lt;/svg&gt;
    &lt;input type="email" id="email" required placeholder="E-mail address" class="prepend-icon"&gt;
  &lt;/div&gt;

  &lt;div class="group"&gt;
    &lt;svg class="icon"&gt;&lt;/svg&gt;
    &lt;input type="password" id="password" required class="prepend-icon" placeholder="Password"&gt;
  &lt;/div&gt;

  &lt;div class="controls"&gt;
    &lt;label for="remember"&gt;
      &lt;input id="remember" type="checkbox"&gt; Remember me
    &lt;/label&gt;

    &lt;button type="submit" class="primary"&gt;Sign in&lt;/button&gt;
   
    &lt;div class="spacer"&gt;&lt;/div&gt;
  &lt;/div&gt;  
&lt;/form&gt;</code></pre>
  
  </div>

</section>

<section id="integrated-labels">
  
  <header>
    <h2>Integrated labels</h2>
  </header>

  <p>Laudantium, nemo! Incidunt eum, corrupti in culpa sed dignissimos maxime tempora quidem minima fuga, repudiandae libero, repellat explicabo, est eius enim. Laudantium molestias totam quae non repudiandae ipsam. Magni, voluptas.</p>
  
  <p>Repudiandae nobis fuga maiores dignissimos et nisi alias doloribus, harum autem minima quae possimus iure accusamus sequi placeat minus ipsum explicabo. Tempora assumenda at quasi, vel, aut distinctio pariatur nemo!</p>

  <form action="">
    
    <div class="integrated-label">
      <input type="email" id="email-address" placeholder="Email address">      
      <label for="email-address">Email address</label>
    </div>

    <div class="integrated-label">
      <input type="password" id="new-password" placeholder="Password">
      <label for="new-password">Password</label>
    </div>

    <div class="integrated-label">
      <input type="url" id="website-name" placeholder="Website name">
      <label for="website-name">Website name</label>
    </div>
  </form>

  <p>Nemo numquam ea assumenda, illum nostrum laborum sapiente esse totam cumque voluptatibus minus magnam veniam. Tenetur veritatis nesciunt perspiciatis nam voluptatum nostrum, maxime libero vel totam unde, laborum vero sed.</p>


  <div class="code-example">
    
    <input type="checkbox" id="code-forms-integrated">
    <label for="code-forms-integrated" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="integrated-label"&gt;
  &lt;input type="..." id="..."   placeholder="..."&gt;
  &lt;label for="..."&gt;...&lt;/label&gt;
&lt;/div&gt;</code></pre>
  
  </div>
</section>



<section id="integrated-label-groups">
  
  <header>
    <h2>Integrated labels in groups</h2>
  </header>

  <p>Laudantium, nemo! Incidunt eum, corrupti in culpa sed dignissimos maxime tempora quidem minima fuga, repudiandae libero, repellat explicabo, est eius enim. Laudantium molestias totam quae non repudiandae ipsam. Magni, voluptas.</p>
  
  <p>Repudiandae nobis fuga maiores dignissimos et nisi alias doloribus, harum autem minima quae possimus iure accusamus sequi placeat minus ipsum explicabo. Tempora assumenda at quasi, vel, aut distinctio pariatur nemo!</p>

  <form action="" class="group integrated-labels" style="display: flex;">
    
    <div class="integrated-label">
      <input type="email" id="email-address" placeholder="Email address">      
      <label for="email-address">Email address</label>
    </div>

    <div class="integrated-label">
      <input type="password" id="new-password" placeholder="Password">
      <label for="new-password">Password</label>
    </div>

    <button>Login</button>
  </form>

  <form action="" class="group integrated-labels" style="display: flex; width: 80%;">
    
    <div class="integrated-label" style="flex: 2 0 auto">
      <input type="url" id="website" placeholder="http://">      
      <label for="website">Website address</label>
    </div>

    <select name="" id="" style="flex: 1 0 auto">
      <option value=""></option>
    </select>

    <button class="positive">Submit</button>
  </form>

  <p>Nemo numquam ea assumenda, illum nostrum laborum sapiente esse totam cumque voluptatibus minus magnam veniam. Tenetur veritatis nesciunt perspiciatis nam voluptatum nostrum, maxime libero vel totam unde, laborum vero sed.</p>


  <div class="code-example">
    
    <input type="checkbox" id="code-forms-integrated-groups">
    <label for="code-forms-integrated-groups" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="integrated-label"&gt;
  &lt;input type="..." id="..."   placeholder="..."&gt;
  &lt;label for="..."&gt;...&lt;/label&gt;
&lt;/div&gt;</code></pre>
  
  </div>
</section>
