<header>
  <h1>Gallery</h1>
</header>

<section>
  <p>Ut obcaecati incidunt, quas consequuntur dolor odio, aut cumque consectetur itaque architecto nesciunt fugiat delectus voluptatum! Molestias, illum, natus! Omnis, nesciunt. Tenetur iusto totam, atque repudiandae quo consequuntur nihil. Delectus.</p>

  <p>Tenetur maiores reprehenderit dicta debitis fugit, excepturi ea ex nemo voluptatum, adipisci. Soluta veniam possimus ex unde fuga, praesentium aliquam vitae, ab at distinctio, exercitationem dignissimos nisi, assumenda? Nemo, accusamus!</p>
</section>


<section id="regular">
  <header>
    <h2>Regular</h2>
  </header>

  <p>Possimus nihil, voluptatum illum consequatur doloribus eveniet sit nesciunt nostrum vitae libero debitis aliquam ducimus dolore recusandae, maxime omnis est corrupti illo. Nostrum perspiciatis officia natus distinctio. Aliquid, distinctio quia.</p>

  <ul class="gallery image-cover">
    <li>
      <figure>
        <img src="/images/dunlop.jpg" alt="">
        <figcaption>Possimus nihil, voluptatum illum consequatur</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </figure>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <figure>
          <img src="/images/lastman.jpg" alt="">
        </figure>
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-cles-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery">
    <label for="code-gallery" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery"&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;!-- Link not mandatory --&gt;
  &lt;li&gt;
    &lt;img src="..." alt="..."&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
</section>


<section id="fit">
  <header>
    <h2>Fit</h2>
  </header>

  <ul class="gallery">
    <header>Stretch to fill image (default)</header>
    <li>
      <img src="/images/dunlop.jpg" alt="">
    </li>
    <li>
      <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-cles-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover">
    <header>Cover image</header>
    <li>
      <img src="/images/dunlop.jpg" alt="">
    </li>
    <li>
      <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-cles-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-contain">
    <header>Contain image</header>
    <li>
      <img src="/images/dunlop.jpg" alt="">
    </li>
    <li>
      <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-cles-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-original">
    <header>Original image size</header>
    <li>
      <img src="/images/dunlop.jpg" alt="">
    </li>
    <li>
      <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-cles-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-fit">
    <label for="code-gallery-fit" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery"&gt;&lt;/ul&gt; &lt;!-- Stretch to fill (default) --&gt;

&lt;ul class="gallery image-cover"&gt;&lt;/ul&gt;
&lt;ul class="gallery"&gt;
  &lt;li&gt;
    &lt;img src="..." alt="..." class="image-cover"&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class="gallery image-contain"&gt;&lt;/ul&gt;
&lt;ul class="gallery"&gt;
  &lt;li&gt;
    &lt;img src="..." alt="..." class="image-contain"&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;ul class="gallery image-original"&gt;&lt;/ul&gt;
&lt;ul class="gallery"&gt;
  &lt;li&gt;
    &lt;img src="..." alt="..." class="image-original"&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>


</section>

<section id="sizes">
  <header>
    <h2>Sizes</h2>
  </header>

  <p>Vel, quos tempore molestias ea consequuntur fugiat minus ducimus in vitae incidunt quae hic sed libero! Sit, neque. Ut quibusdam, consequuntur tempora iusto nam dolore quod ipsam odit sit! Labore.</p>

  <p>Soluta numquam provident aliquid nesciunt. Fugiat at magnam adipisci, repudiandae soluta quos, explicabo libero quia, laborum suscipit, unde. Doloribus eaque optio eveniet sapiente saepe ad, animi possimus aliquam ea dolore.</p>


  <ul class="gallery image-cover mini">
    <header>Mini</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover small">
    <header>Small</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover medium">
    <header>Medium</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover large">
    <header>Large</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover big">
    <header>Big</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover huge">
    <header>Huge</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover massive">
    <header>Massive</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-sizes">
    <label for="code-gallery-sizes" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery mini"&gt;&lt;/ul&gt;
&lt;ul class="gallery small"&gt;&lt;/ul&gt;
&lt;ul class="gallery medium"&gt;&lt;/ul&gt;
&lt;ul class="gallery large"&gt;&lt;/ul&gt;
&lt;ul class="gallery big"&gt;&lt;/ul&gt;
&lt;ul class="gallery huge"&gt;&lt;/ul&gt;
&lt;ul class="gallery massive"&gt;&lt;/ul&gt;
&lt;ul class="gallery enormous"&gt;&lt;/ul&gt;
&lt;ul class="gallery giant"&gt;&lt;/ul&gt;</code></pre>
  </div>
</section>

<section id="ratio">
  <header>
    <h2>Ratio</h2>
  </header>

  <p>Possimus nihil, voluptatum illum consequatur doloribus eveniet sit nesciunt nostrum vitae libero debitis aliquam ducimus dolore recusandae, maxime omnis est corrupti illo. Nostrum perspiciatis officia natus distinctio. Aliquid, distinctio quia.</p>

  <ul class="gallery image-cover ratio-3by4">
    <header>3:4</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover ratio-9by16">
    <header>9:16</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover ratio-golden-portrait">
    <header>Golden ratio (portrait)</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/lastman.jpg">
        <img src="/images/lastman.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover big ratio-4by3">
    <header>4:3</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover big ratio-16by9">
    <header>16:9</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
  </ul>

  <ul class="gallery image-cover big ratio-golden-landscape">
    <header>Golden ratio (landscape)</header>
    <li>
      <a href="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </li>
    <li>
      <a href="/images/sandrart.jpg">
        <img src="/images/sandrart.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg">
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="/images/dunlop.jpg">
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-ratio">
    <label for="code-gallery-ratio" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery ratio-3by4"&gt;&lt;/ul&gt;
&lt;ul class="gallery ratio-9by16"&gt;&lt;/ul&gt;
&lt;ul class="gallery ratio-golden-portrait"&gt;&lt;/ul&gt;
&lt;ul class="gallery ratio-4by3"&gt;&lt;/ul&gt;
&lt;ul class="gallery ratio-16by9"&gt;&lt;/ul&gt;
&lt;ul class="gallery ratio-golden-landscape"&gt;&lt;/ul&gt;</code></pre>
  </div>
</section>



<section id="position">
  <header>
    <h2>Position</h2>
  </header>

  <p>Sit odio harum nam hic veniam, numquam assumenda dolores natus, doloremque minus unde laudantium. Optio doloribus aspernatur, repellendus expedita esse distinctio culpa repellat veritatis rem facilis vel quidem dolores inventore.</p>

  <p>Veniam numquam eligendi consequatur incidunt officiis assumenda tempore cupiditate nostrum libero perferendis, dolor voluptates architecto magni asperiores esse nesciunt enim, ea accusamus eum, delectus est sequi vitae sit aliquam totam.</p>

  <ul class="gallery image-cover huge">
    <li>
      <figure>
        <img class="left-top" src="/images/sandrart.jpg" alt="">
        <figcaption>X: 0%, Y: 0%</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img class="center-top" src="/images/sandrart.jpg" alt="">
        <figcaption>X: 50%, Y: 0%</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img class="right-top" src="/images/sandrart.jpg" alt="">
        <figcaption>X: 100%, Y: 0%</figcaption>
      </figure>
    </li>
  </ul>



  <ul class="gallery image-cover huge">
    <li>
      <figure>
        <img class="left-top" src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        <figcaption>X: 0%, Y: 50%</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img class="left-center" src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        <figcaption>X: 0%, Y: 50%</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img class="left-bottom" src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        <figcaption>X: 0%, Y: 100%</figcaption>
      </figure>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-position">
    <label for="code-gallery-position" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;!-- Position classes: left-top, left-center, left-bottom, center-top, center-center, center-bottom, right-top, right-center, right-bottom --&gt;

&lt;ul class="gallery left-top"&gt;&lt;/ul&gt;

&lt;!-- You can also set position per image --&gt;

&lt;ul class="gallery"&gt;
  &lt;li&gt;
    &lt;img src="..." alt="..." class="left-top"&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
  </div>
</section>

<section id="slideshow">
  <header>
    <h2>Slideshow</h2>
  </header>
  
  <p>Fuga distinctio error sapiente. Sint distinctio corrupti quibusdam tenetur ipsa labore soluta, ab, esse quos fugit, itaque assumenda consequuntur quia. Quos earum, sunt adipisci saepe nulla, sint eaque cum ut?</p>
  
  <ul class="gallery slideshow image-cover enormous">
    <li>
      <input type="radio" name="sse" id="ss1e" checked>
      <label for="ss1e"></label>
      <a href="/images/dunlop.jpg">        
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sse" id="ss2e">
      <label for="ss2e"></label>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sse" id="ss3e">
      <label for="ss3e"></label>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg"> 
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sse" id="ss4e">
      <label for="ss4e"></label>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sse" id="ss5e">
      <label for="ss5e"></label>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis dolorem incidunt accusantium quaerat similique repellat eius veritatis porro dolore quod voluptate, atque ipsa? Odit aspernatur veritatis, ad veniam consequatur! Eveniet.</p>
  
  <p>Atque alias mollitia iusto voluptatibus minus ut adipisci magni magnam corporis aut aspernatur facere maiores, sunt similique nihil unde est laboriosam reprehenderit vel aliquid libero eum, necessitatibus fugiat. Corporis, dignissimos!</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-slideshow">
    <label for="code-gallery-slideshow" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery slideshow"&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..."&gt;
    &lt;label for="..."&gt;&lt;/label&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..."&gt;
    &lt;label for="..."&gt;&lt;/label&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..."&gt;
    &lt;label for="..."&gt;&lt;/label&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>

  <header>
    <h3>Slideshow with thumbnails</h3>
  </header>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus cumque adipisci aliquam eligendi magni voluptatibus aperiam facere est quasi alias ullam molestias a sunt earum porro commodi, neque quidem!</p>

  <p>Ad eveniet obcaecati, sint consequatur illo asperiores eum, iure laudantium. Nihil tempore voluptas ipsa minima et amet dicta nostrum reprehenderit, fugiat dolorem modi repudiandae ab, a quia delectus quibusdam? Omnis!</p>

  <ul class="gallery slideshow with-thumbnails image-contain giant">
    <li>
      <input type="radio" name="sswte" id="sswt1e" checked>
      <label for="sswt1e"></label>
      <a href="/images/dunlop.jpg">        
        <img src="/images/dunlop.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sswte" id="sswt2e">
      <label for="sswt2e"></label>
      <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg">
        <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sswte" id="sswt3e">
      <label for="sswt3e"></label>
      <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg"> 
        <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sswte" id="sswt4e">
      <label for="sswt4e"></label>
      <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg">
        <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
      </a>
    </li>
    <li>
      <input type="radio" name="sswte" id="sswt5e">
      <label for="sswt5e"></label>
      <a href="/images/ma-31767197.jpg">
        <img src="/images/ma-31767197.jpg" alt="">
      </a>
    </li>
  </ul>

  <p>Iure eius a neque eos explicabo perferendis sed, beatae, nobis quia odit nesciunt assumenda quod dignissimos? Nobis, aut sed consequuntur cum aliquam eligendi ab exercitationem quo illum consequatur ipsum eos?</p>
  
  <p>Atque aspernatur at tempore ex maxime repudiandae possimus reiciendis facilis. Quia quisquam, doloremque. Minus sit dolor ipsa voluptatem eius corrupti officia ea quae repudiandae. Ipsum laudantium quasi reprehenderit delectus exercitationem?</p>


  <div class="code-example">
    
    <input type="checkbox" id="code-gallery-with-thumbails">
    <label for="code-gallery-with-thumbails" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="gallery slideshow <u>with-thumbnails</u>"&gt;...&lt;/ul&gt;</code></pre>
  </div>
</section>
