<header>
  <h1>Products</h1>
</header>

<section>
  <p>Tenetur omnis harum cupiditate ut neque? Atque esse, adipisci error, quas aspernatur nesciunt beatae quod modi enim maxime velit eligendi deleniti harum voluptatum omnis dolorum alias at possimus amet aut!</p>
  <p>Corporis, incidunt cum. Vel, perspiciatis non incidunt tempore ipsam doloribus repellendus voluptate ullam atque a id aliquam deserunt delectus neque eaque ad natus beatae eius ducimus tenetur sit assumenda animi!</p>
</section>


<section id="card">

  <header>
    <h2>Card</h2>
  </header>

  <p>Beatae consequatur ad corrupti velit veritatis minima laudantium ab, repellat laboriosam impedit reprehenderit nemo numquam enim ea rem eum, possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos.</p>

  <div class="product card bordered" style="width: 350px">


    <div class="product-image ratio-4by3">

      <span class="tag sticky purple">Recommended</span>

      <a href="">
        <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="">
      </a>
    </div>

    <div class="product-metadata">
      <a href="" title="Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos" class="product-title">Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos</a>
    </div>

    <footer class="product-controls">
      
      <button class="medium negative">
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#lock"></use>
        </svg>
      </button>
      
      <button class="medium primary">
        <span class="label">
          <svg class="icon">
            <use xlink:href="/icons/icons.svg#comment-plus"></use>
          </svg>
        </span>

        Add comment
      </button>

      <div class="spacer"></div>

      <h5><span class="price">&#163;12.95</span></h5>
    </footer>
  </div>


  <p>Ex nemo nihil nisi quaerat sed, assumenda blanditiis minus ea maiores voluptas voluptatum dolore omnis totam perferendis officiis quibusdam. Velit, iste. Minus dolorum sint vero fugit, ea tenetur voluptatem ad.</p>

  <p>Dignissimos placeat tenetur eos magnam laborum magni, eveniet quo fugit facere praesentium aut dolor at vel eum excepturi dolore deserunt iusto quae ab commodi quidem exercitationem. Voluptates eaque placeat quis!</p>

  <ul class="products cards large ratio-3by4">
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos" class="product-title">Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/icons/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;12.95</span></h6>
      </footer>
    </li>
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/sandrart.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore" class="product-title">Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/icons/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;112.50</span></h6>
      </footer>
    </li>
    
    <li class="product card">


      <div class="product-image image-cover">
        <span class="tag sticky red">New</span> 
        
        <a href="">
          <img src="/images/lastman.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">      
        <a href="" title="Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! " class="product-title">Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! </a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/icons/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;99.95</span></h6>
      </footer>
    </li>    
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Molestiae facere quasi aut ut, magnam, eos architecto voluptatibus ratione excepturi voluptates.  " class="product-title">Molestiae facere quasi aut ut, magnam, eos architecto voluptatibus ratione excepturi voluptates.</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/icons/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;48.75</span></h6>
      </footer>
    </li>

  </ul>

  <p>Corporis, incidunt cum. Vel, perspiciatis non incidunt tempore ipsam doloribus repellendus voluptate ullam atque a id aliquam deserunt delectus neque eaque ad natus beatae eius ducimus tenetur sit assumenda animi!</p>

  <p>Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! Labore, aperiam quas. Pariatur, est explicabo vel minus harum non possimus et, quisquam necessitatibus repudiandae cumque enim porro doloribus.</p>

  <div class="code-example">
  
    <input type="checkbox" id="product-card">
    <label for="product-card" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="product card bordered"&gt;
  
  &lt;span class="tag sticky"&gt;...&lt;/span&gt;

  &lt;div class="product-image"&gt;
    &lt;a href="..."&gt;
      &lt;img src="..." alt="..."&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;a href="..." class="product-title"&gt;...&lt;/a&gt;

  &lt;footer class="product-controls"&gt;
    &lt;button&gt;...&lt;/button&gt;

    &lt;div class="spacer"&gt;&lt;/div&gt;

    &lt;span class="price tag"&gt;...&lt;/span&gt;
  &lt;/footer&gt;
&lt;/div&gt;

&lt;ul class="products cards"&gt;
  &lt;li class="product card"&gt;
    &lt;div class="product-image"&gt;
      &lt;a href="..."&gt;
        &lt;img src="..." alt="..."&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;a href="..." class="product-title"&gt;...&lt;/a&gt;

    &lt;footer class="product-controls"&gt;
      &lt;button&gt;...&lt;/button&gt;

      &lt;div class="spacer"&gt;&lt;/div&gt;

      &lt;span class="price tag"&gt;...&lt;/span&gt;
    &lt;/footer&gt;
  &lt;/li&gt;
  &lt;li class="product card"&gt;
    &lt;span class="tag sticky"&gt;...&lt;/span&gt;

    &lt;div class="product-image"&gt;
      &lt;a href="..."&gt;
        &lt;img src="..." alt="..."&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;a href="..." class="product-title"&gt;...&lt;/a&gt;

    &lt;footer class="product-controls"&gt;
      &lt;button&gt;...&lt;/button&gt;

      &lt;div class="spacer"&gt;&lt;/div&gt;

      &lt;span class="price tag"&gt;...&lt;/span&gt;
    &lt;/footer&gt;
  &lt;/li&gt;
  &lt;li class="product card"&gt;
    &lt;div class="product-image"&gt;
      &lt;a href="..."&gt;
        &lt;img src="..." alt="..."&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;a href="..." class="product-title"&gt;...&lt;/a&gt;

    &lt;footer class="product-controls"&gt;
      &lt;button&gt;...&lt;/button&gt;

      &lt;div class="spacer"&gt;&lt;/div&gt;

      &lt;span class="price tag"&gt;...&lt;/span&gt;
    &lt;/footer&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  
  </div>
  
</section>


<section id="list">

  <header>
    <h2>List</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae facere quasi aut ut, magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore veniam voluptatibus officiis, officia quo!</p>

  <ul class="products list">
    
    <li class="product">
      
      <div class="product-image">
        <span class="tag sticky blue">New</span> 

        <a href="">
          <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <h5>        
          <a href="" title="Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos" class="product-title">Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos</a>
        </h5>

        <p>
          <a href="">Valerie Steele</a><br>
          Fashion Institute of Technology New York & Thames & Hudson, 2018<br>
          9780500022269<br>
          176 pages, illustrated, hardcover, 27,5 x 19,7 cm<br>
          English
        </p>

        <h5><span class="tag red">Availability</span></h5>
        
      </div>
      

      <div class="product-controls">

        <h4 class="price">&#8364;12.95</h4>
                
        <button class="medium">
          <span class="label">
            <svg class="icon">
              <use xlink:href="/icons/icons.svg#cart"></use>
            </svg>
          </span>
          Add to cart
        </button>

        <a href="">Add to wishlist</a>
      </div>
    </li>
    
    <li class="product">

      <div class="product-image ">
        <a href="">
          <img src="/images/sandrart.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <h5>      
          <a href="" title="Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore" class="product-title">Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore</a>
        </h5>

        <p>
          <a href="">Guillaume Bounoure</a>, <a href="">Chloe Genevaux</a><br>
          Gingko Press, 2019<br>
          9783943330328<br>
          176 pages, illustrated, hardcover, 27,5 x 19,7 cm<br>
          English
        </p>

        <h5><span class="tag green">Availability</span></h5>
      </div>

      <div class="product-controls">

        <h4><span class="price">&dollar;112.50</span></h4>
                
        <button class="medium">
          <span class="label">
            <svg class="icon">
              <use xlink:href="/icons/icons.svg#cart"></use>
            </svg>
          </span>
          Add to cart
        </button>

        <a href="">Add to wishlist</a>
      </div>
    </li>
    
    <li class="product">

      <div class="product-image">
        <ul class="gallery slideshow ratio-3by4">
          <li>
            <input type="radio" name="sse" id="ss1e" checked>
            <label for="ss1e"></label>
            <a href="/images/dunlop.jpg">        
              <img src="/images/dunlop.jpg" alt="">
            </a>
          </li>
          <li>
            <input type="radio" name="sse" id="ss2e">
            <label for="ss2e"></label>
            <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg">
              <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
            </a>
          </li>
          <li>
            <input type="radio" name="sse" id="ss3e">
            <label for="ss3e"></label>
            <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg"> 
              <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="" class="left-top">
            </a>
          </li>
        </ul>
      </div>
      
      <div class="product-metadata">
        <h5>        
          <a href="" title="Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! " class="product-title">Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! </a>
        </h5>

        <p>
          <a href="">Moises Puente</a>, <a href="">Pedro Bandeira</a>, <a href="">Tibor Joanelly</a>, <a href="">Kersten Geers</a>, <a href="">Ricardo Loureiro</a><br>
          Verlag Walter König, 2020<br>
          9783960985952<br>
          160 pages, illustrated, paperback, 30 x 23 cm<br>
          English
        </p>

        <h5><span class="tag blue">Availability</span></h5>
      </div>

      <div class="product-controls">

        <h4 class="price">&#8377;99.95</h4>
                
        <button class="medium">
          <span class="label">
            <svg class="icon">
              <use xlink:href="/icons/icons.svg#cart"></use>
            </svg>
          </span>
          Add to cart
        </button>

        <a href="">Add to wishlist</a>
      </div>
    </li>    
    
    <li class="product">

      <div class="product-image image-contain">
        <a href="">
          <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        </a>
      </div>
      
      <div class="product-metadata">
        <h5>        
          <a href="" title="Molestiae facere quasi aut ut" class="product-title">Molestiae facere quasi aut ut</a>
        </h5>

        <p>
          <a href="">Helen Thomas</a>, <a href="">Katrien Vandermarliere</a>, <a href="">Javier Fernández Contreras</a><br>
          Copyright Slow Publishing, 2019<br>
          9789082763515<br>
          304 pages, 30,8 x 22,7 cm, linen hardcover, 4 paper types<br>
          English
        </p>

        <h5><span class="tag orange">Availability</span></h5>
      </div>

      <div class="product-controls">

        <h4 class="price">&yen;4800.00</h4>
                
        <button class="medium">
          <span class="label">
            <svg class="icon">
              <use xlink:href="/icons/icons.svg#cart"></use>
            </svg>
          </span>
          Add to cart
        </button>

        <a href="">Add to wishlist</a>
      </div>
    </li>
  </ul>

  <p>Sapiente sunt animi, ratione quo adipisci corporis quae unde vel porro quidem voluptates consectetur necessitatibus ipsam nam perspiciatis libero eligendi sint fugit architecto esse ullam, aliquam repellat aut dolorem. Consectetur?</p>

  <p>A, molestias, accusamus? Sequi voluptatem placeat corporis dolorum non in pariatur sint totam deserunt, est similique. Praesentium commodi consequuntur error, quasi numquam incidunt accusantium illum cupiditate, libero similique impedit aut.</p>

  <div class="code-example">
  
    <input type="checkbox" id="product-list">
    <label for="product-list" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="products list"&gt;
  &lt;li class="product"&gt;
    &lt;div class="product-image"&gt;...&lt;/div&gt;
    
    &lt;div class="product-metadata"&gt;
      &lt;a href="..." title="..." class="product-title"&gt;...&lt;/a&gt;
      ...
    &lt;/div&gt;

    &lt;div class="product-controls"&gt;...&lt;/div&gt;
  &lt;/li&gt;  
  &lt;li class="product"&gt;
    &lt;div class="product-image"&gt;...&lt;/div&gt;
    
    &lt;div class="product-metadata"&gt;
      &lt;a href="..." title="..." class="product-title"&gt;...&lt;/a&gt;
      ...
    &lt;/div&gt;

    &lt;div class="product-controls"&gt;...&lt;/div&gt;
  &lt;/li&gt;  
  &lt;li class="product"&gt;
    &lt;div class="product-image"&gt;...&lt;/div&gt;
    
    &lt;div class="product-metadata"&gt;
      &lt;a href="..." title="..." class="product-title"&gt;...&lt;/a&gt;
      ...
    &lt;/div&gt;

    &lt;div class="product-controls"&gt;...&lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  
  </div>
  
</section>


<section id="detail">

  <header>
    <h2>Detail</h2>
  </header>

  <p>Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! Labore, aperiam quas. Pariatur, est explicabo vel minus harum non possimus et, quisquam necessitatibus repudiandae cumque enim porro doloribus.</p>

  <p>Et blanditiis est, dolores nesciunt mollitia cum, molestiae, doloribus molestias dolorum tenetur quam eius quidem voluptas modi soluta incidunt delectus, ea architecto ullam at ex atque sed? Neque, animi, placeat?</p>

  <hr>

  <div class="product detail">    

    <h3 class="product-title">Odio fugit atque soluta repellendus ipsam repellat a illum facere fuga! Aspernatur nesciunt, excepturi commodi</h3>
    <p class="product-author">
      <a href="">Helen Thomas</a>, <a href="">Katrien Vandermarliere</a>, <a href="">Javier Fernández Contreras</a>
    </p>


    <div class="product-image">
      <ul class="gallery slideshow with-thumbnails ratio-3by4 image-contain">
        <li>
          <input type="radio" name="sswte" id="sswt1e" checked>
          <label for="sswt1e"></label>
          <a href="/images/dunlop.jpg">        
            <img src="/images/dunlop.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt2e">
          <label for="sswt2e"></label>
          <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg">
            <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt3e">
          <label for="sswt3e"></label>
          <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg"> 
            <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt4e">
          <label for="sswt4e"></label>
          <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg">
            <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="product-metadata">

      <h3 class="product-price">
        <span class="price">&#8364;12.95</span>
      </h3>

      <div class="product-controls">
        
        <div class="group product-cart">
          <input type="number" value="1" step="1" min="1">
          <div class="dropdown">
            <button class="primary">
              <svg class="icon">
                <use xlink:href="/icons/icons.svg#cart-plus"></use>
              </svg>
            </button>
            <nav class="panel arrow top right">
              <ul>
                <li><a href="">Duis a ultrices ante</a></li>
                <li><a href="">Praesent suscipit porttitor dui ultricies auctor</a></li>
                <li><a href="">Nunc pharetra nibh justo</a></li>
                <li><a href="">Duis elementum arcu nec enim sagittis interdum</a></li>
                <li><a href="">Praesent gravida lacinia ipsum</a></li>
                <li><a href="">Duis ipsum ipsum</a></li>
                <li><a href="">Maecenas ut fermentum libero</a></li>
                <li><a href="">Mauris eu libero sollicitudin, pulvinar </a></li>
              </ul>
            </nav>
          </div>
        </div><br>

        <a href="" class="product-wishlist">Add to wishlist</a>
      </div>

      <dl>
        <dt>ISBN</dt>
        <dd>9780674048362</dd>
        <dt>Imprint</dt>
        <dd>The Belknap Press</dd>
        <dt>Publisher</dt>
        <dd>Harvard University Press</dd>
        <dt>Date</dt>
        <dd>16 December 2014, United States</dd>
        <dt>Binding</dt>
        <dd>Hardback</dd>
        <dt>Pages</dt>
        <dd>ca. 420 p.</dd>
        <dt>Language</dt>
        <dd>Italian</dd>
      </dl>

      <h4><span class="tag blue">Not yet published</span></h4>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat aperiam ullam nostrum dolores, dolorem quaerat perspiciatis magni iusto. Ea alias corporis totam sed quo fugiat, expedita similique voluptates? Sapiente! Esse, dolorem, asperiores voluptatum quisquam reiciendis vero veniam excepturi! Illo vero architecto aspernatur magnam deserunt magni tempora earum, consequuntur? Quod neque necessitatibus est, debitis. Accusamus at iure recusandae animi dicta. Odio fugit atque soluta repellendus ipsam repellat a illum facere fuga! Aspernatur nesciunt, excepturi commodi! Incidunt quos tempore architecto corrupti, voluptas, dolorem! Vel, quam, odio. Deserunt doloribus quae, velit necessitatibus. Illum nemo eos aliquid, accusamus debitis velit voluptates consectetur expedita?</p>
      <p>Ab non qui magnam consequuntur molestias veniam, sapiente dolorum laborum quo? Debitis recusandae natus velit quas molestias tempore optio expedita ipsa illum sequi. Soluta fugit voluptate id possimus alias suscipit!</p>
      
    </div>


  </div>

  <div class="code-example">
  
    <input type="checkbox" id="product-detail">
    <label for="product-detail" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="product detail"&gt;

  &lt;h3 class="product-title"&gt;...&lt;/h3&gt;
  &lt;p class="product-author"&gt;...&lt;/p&gt;

  &lt;div class="product-image"&gt;
    &lt;div class="gallery slideshow with-thumbnails"&gt;...&lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="product-metadata"&gt;
    &lt;h3 class="product-price"&gt;
      &lt;span class="price"&gt;...&lt;/span&gt;
    &lt;/h3&gt;

    &lt;div class="product-controls"&gt;
      &lt;button&gt;...&lt;/button&gt;
      &lt;a href="..."&gt;...&lt;/a&gt;
    &lt;/div&gt;

    &lt;dl&gt;
      &lt;dt&gt;...&lt;/dt&gt;
      &lt;dd&gt;...&lt;/dd&gt;
    &lt;/dl&gt;

    &lt;p&gt;...&lt;/p&gt;

    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  
  </div>
  
</section>
