#frontpage section.introduction .skew {
  background-color: #444;
}
#frontpage section u {
  text-decoration-color: #006266;
}

:root {
  --outline-stroke: #000;
  --outline-stroke-width: 0.25;
  --outline-fill: #000;
  --east-fill: #006266;
  --east-top-fill: #aaa;
  --west-fill: #1289a7;
  --west-top-fill: #bfbfbf;
  --roof-fill: #ccc;
}

#frontpage section.elaboration .illustration {
  --east-fill: #ee5a24;
  --west-fill: #f38259;
}

#frontpage section.elaboration h2 u,
#frontpage section.elaboration u {
  text-decoration-color: #ee5a24;
}

#documentation-overview .introduction .skew {
  background-color: #444;
}
#documentation-overview .introduction h1,
#documentation-overview .introduction u {
  text-decoration-color: #006266;
}

#documentation-overview .introduction a {
  color: #00dee6;
  text-decoration: underline solid #fff;
  -webkit-text-decoration: underline solid #fff;
}
