<main class="examples product-detail">
 

  <div class="product detail">    

    <h3 class="product-title">Odio fugit atque soluta repellendus ipsam repellat a illum facere fuga! Aspernatur nesciunt, excepturi commodi</h3>
    <p class="product-author">
      <a href="">Helen Thomas</a>, <a href="">Katrien Vandermarliere</a>, <a href="">Javier Fernández Contreras</a>
    </p>


    <div class="product-image">
      <ul class="gallery slideshow with-thumbnails ratio-3by4 image-contain">
        <li>
          <input type="radio" name="sswte" id="sswt1e" checked>
          <label for="sswt1e"></label>
          <a href="/images/dunlop.jpg">        
            <img src="/images/dunlop.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt2e">
          <label for="sswt2e"></label>
          <a href="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg">
            <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt3e">
          <label for="sswt3e"></label>
          <a href="/images/1878_Frederick_Leighton_-_Nausicaa.jpg"> 
            <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
          </a>
        </li>
        <li>
          <input type="radio" name="sswte" id="sswt4e">
          <label for="sswt4e"></label>
          <a href="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg">
            <img src="/images/m.-heinrich-eddelein-nausikaa-and-her-maids-bringing-clothes-to-odysseus.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="product-metadata">

<!--       <h3 class="product-price">
        <span class="price">&#8364;12.95</span>
      </h3> -->

<!--       <div class="product-controls">
        
        <div class="group product-cart">
          <input type="number" value="1" step="1" min="1">
          <div class="dropdown">
            <button class="primary">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#cart-plus"></use>
              </svg>
            </button>
            <nav class="panel arrow top right">
              <ul>
                <li><a href="">Duis a ultrices ante</a></li>
                <li><a href="">Praesent suscipit porttitor dui ultricies auctor</a></li>
                <li><a href="">Nunc pharetra nibh justo</a></li>
                <li><a href="">Duis elementum arcu nec enim sagittis interdum</a></li>
                <li><a href="">Praesent gravida lacinia ipsum</a></li>
                <li><a href="">Duis ipsum ipsum</a></li>
                <li><a href="">Maecenas ut fermentum libero</a></li>
                <li><a href="">Mauris eu libero sollicitudin, pulvinar </a></li>
              </ul>
            </nav>
          </div>
        </div><br>

        <a href="" class="product-wishlist">Add to wishlist</a>
      </div> -->

      <dl>
        <dt>ISBN</dt>
        <dd>9781498578011</dd>
        <dt>Imprint</dt>
        <dd>The Belknap Press</dd>
        <dt>Publisher</dt>
        <dd>Lexington Books</dd>
        <dt>Date</dt>
        <dd>15 December 2019, United States</dd>
        <dt>Binding</dt>
        <dd>Hardback</dd>
        <dt>Pages</dt>
        <dd>ca. 420 p.</dd>
        <dt>Illustrations</dt>
        <dd>11 tables, 7 charts</dd>
        <dt>Language</dt>
        <dd>English</dd>
      </dl>

      <h4><span class="tag green">Available to order</span></h4>

      <dl>
        <dt>Erasmus</dt>
        <dd>Psychology, Media Studies</dd>
        <dt>Dewey</dt>
        <dd>362.2</dd>
        <dt>BIC</dt>
        <dd>Communication studies (GTC), Psychology (JM)</dd>
      </dl>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat aperiam ullam nostrum dolores, dolorem quaerat perspiciatis magni iusto. Ea alias corporis totam sed quo fugiat, expedita similique voluptates? Sapiente! Esse, dolorem, asperiores voluptatum quisquam reiciendis vero veniam excepturi! Illo vero architecto aspernatur magnam deserunt magni tempora earum, consequuntur? Quod neque necessitatibus est, debitis. Accusamus at iure recusandae animi dicta. Odio fugit atque soluta repellendus ipsam repellat a illum facere fuga! Aspernatur nesciunt, excepturi commodi! Incidunt quos tempore architecto corrupti, voluptas, dolorem! Vel, quam, odio. Deserunt doloribus quae, velit necessitatibus. Illum nemo eos aliquid, accusamus debitis velit voluptates consectetur expedita?</p>
      <p>Ab non qui magnam consequuntur molestias veniam, sapiente dolorum laborum quo? Debitis recusandae natus velit quas molestias tempore optio expedita ipsa illum sequi. Soluta fugit voluptate id possimus alias suscipit!</p>
      
    </div>

  </div>

  <input type="checkbox" id="sidebar-toggle">  
  <label for="sidebar-toggle">
    <svg class="icon menu">
      <use xlink:href="/images/icons.svg#sidebar-toggle"></use>
    </svg>
    <svg class="icon close">
      <use xlink:href="/images/icons.svg#clear"></use>
    </svg>
  </label>

  <aside>
    <nav class="panel blue">
      <header>Distributors</header>
      <dl class="inverse">
        <dt>
          <span class="tag badge green"></span>
          <a href="">Baker & Taylor</a>
        </dt>
        <dd><span class="price">&dollar;59.99</span></dd>
        <dt>
          <span class="tag badge blue"></span>
          <a href="">Ingram</a>
        </dt>
        <dd><span class="price">&dollar;57.99</span></dd>
        <dt>
          <span class="tag badge blue"></span>
          <a href="">Bertrams</a>
        </dt>
        <dd><span class="price">&pound;42.20</span></dd>
        <dt>
          <span class="tag badge green"></span>
          <a href="">Gardners</a>
        </dt>
        <dd><span class="price">&pound;43.99</span></dd>
        <dt>
          <span class="tag badge yellow"></span>
          <a href="">KNV Zeitfracht</a>
        </dt>
        <dd><span class="price">&euro;49.95</span></dd>
        <dt>
          <span class="tag badge red"></span>
          <a href="">Dilicom</a>
        </dt>
        <dd><span class="price">None</span></dd>
        <dt>
          <span class="tag badge purple"></span>
          <a href="">Centraal Boekhuis</a>
        </dt>
        <dd><span class="price">&euro;55.95</span></dd>
      </dl>
    </nav>
    <small>Nulla dolorum enim cumque eos quia sequi</small>


    <div class="group" style="margin-bottom: 0">
      <input type="number" value="1" step="1" min="1">
      <div class="dropdown">
        <button class="primary">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart-plus"></use>
          </svg>
        </button>
        <nav class="panel arrow">
          <ul>
            <li><a href="">Duis a ultrices ante</a></li>
            <li><a href="">Praesent suscipit porttitor dui ultricies auctor</a></li>
            <li><a href="">Nunc pharetra nibh justo</a></li>
            <li><a href="">Duis elementum arcu nec enim sagittis interdum</a></li>
            <li><a href="">Praesent gravida lacinia ipsum</a></li>
            <li><a href="">Duis ipsum ipsum</a></li>
            <li><a href="">Maecenas ut fermentum libero</a></li>
            <li><a href="">Mauris eu libero sollicitudin, pulvinar </a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="dropdown">
      <a tabindex="">Add to collection</a>
      <nav class="panel arrow">
        <ul>
          <li><a href="">Duis a ultrices ante</a></li>
          <li><a href="">Praesent suscipit porttitor dui ultricies auctor</a></li>
          <li><a href="">Nunc pharetra nibh justo</a></li>
          <li><a href="">Duis elementum arcu nec enim sagittis interdum</a></li>
          <li><a href="">Praesent gravida lacinia ipsum</a></li>
          <li><a href="">Duis ipsum ipsum</a></li>
          <li><a href="">Maecenas ut fermentum libero</a></li>
          <li><a href="">Mauris eu libero sollicitudin, pulvinar </a></li>
        </ul>
      </nav>
    </div>

    <table>
      <thead>
        <tr>
          <th>Order history</th>
          <th>Invoice</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="">Gavin Cortez</a></td>
          <td><a href="">5002258</a></td>
          <td>8/1/2020</td>
        </tr>
        <tr>
          <td><a href="">Ashton Cox</a></td>
          <td><a href="">On order</a></td>
          <td>28/11/2019</td>
        </tr>
        <tr>
          <td><a href="">Brielle Williamson</a></td>
          <td><a href="">On order</a></td>
          <td>27/11/2019</td>
        </tr>
        <tr>
          <td><a href="">Michael Bruce</a></td>
          <td><a href="">5002311</a></td>
          <td>15/11/2019</td>
        </tr>
        <tr>
          <td><a href="">Cedric Kelly</a></td>
          <td><a href="">5002308</a></td>
          <td>11/10/2019</td>
        </tr>
        <tr>
          <td><a href="">Prescott Bartlett</a></td>
          <td><a href="">5002302</a></td>
          <td>8/10/2019</td>
        </tr>
        <tr>
          <td><a href="">Gavin Cortez</a></td>
          <td><a href="">5002258</a></td>
          <td>9/9/2019</td>
        </tr>
        <tr>
          <td colspan="3"><a href="">More &rarr;</a></td>
        </tr>


      </tbody>
    </table>
  </aside>


  <div class="product-editions">
    
    <header><h6>Other editions</h6></header>
    <nav class="panel gray product-editions">
      <ul>
        <li><a href="">3rd revised edition, paperback</a></li>
        <li><a href="">2nd edition, hardback</a></li>
        <li><a href="">2nd edition, paperback</a></li>
      </ul>
    </nav>
  </div>

  <ul class="products cards large ratio-3by4">
    <header>
      <h6>Similar products</h6>
    </header>
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos" class="product-title">Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;12.95</span></h6>
      </footer>
    </li>
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/sandrart.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore" class="product-title">Magnam, eos architecto voluptatibus ratione excepturi voluptates. Vel incidunt quis esse tempore</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;112.50</span></h6>
      </footer>
    </li>
    
    <li class="product card">


      <div class="product-image image-cover">
        <span class="tag sticky red">New</span> 
        
        <a href="">
          <img src="/images/lastman.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">      
        <a href="" title="Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! " class="product-title">Itaque nisi dignissimos ullam perferendis, odit eveniet odio obcaecati qui ea! </a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;99.95</span></h6>
      </footer>
    </li>    
    
    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/1878_Frederick_Leighton_-_Nausicaa.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Molestiae facere quasi aut ut, magnam, eos architecto voluptatibus ratione excepturi voluptates.  " class="product-title">Molestiae facere quasi aut ut, magnam, eos architecto voluptatibus ratione excepturi voluptates.</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;48.75</span></h6>
      </footer>
    </li>

    <li class="product card">

      <div class="product-image image-cover">
        <a href="">
          <img src="/images/Johann_Anton_Castell_-_Odysseus_und_Nausikaa_(after_Friedrich_Preller),_1861.jpg" alt="">
        </a>
      </div>

      <div class="product-metadata">
        <a href="" title="Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos" class="product-title">Possimus, fugiat quia distinctio optio amet magnam dignissimos eveniet quod eos</a>
      </div>

      <footer class="product-controls">
        
        <button class="small">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#cart"></use>
          </svg>
        </button>

        <div class="spacer"></div>

        <h6><span class="price">&#8364;12.95</span></h6>
      </footer>
    </li>

  </ul>

</main>
