
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--nausikaa-font-family);
  scroll-behavior: smooth;
}

body {
  background-color: var(--nausikaa-base);
  color: var(--nausikaa-text);
}

p {
  margin: var(--nausikaa-paragraph-spacer) 0;

  &.sample-text {
    margin-bottom: calc(var(--nausikaa-paragraph-spacer) * 1.5);
  }
}

hr {
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: var(--nausikaa-overlay0);
  margin: var(--nausikaa-paragraph-spacer) 0;

  &.vertical {
    border-width: 0 0 0 1px;
    margin: 0 var(--nausikaa-paragraph-spacer);
  }
}

u {
  font-weight: bold;
  text-decoration: underline;
}

blockquote {
  border: 1px solid var(--nausikaa-crust);
  border-radius: 6px;
  padding: 1em;
  background-color: var(--nausikaa-mantle);
  margin: var(--nausikaa-paragraph-spacer) 0;

  & > *:first-child {
    margin-top: 0;
  }

  footer {
    font-size: 0.9em;
    color: var(--nausikaa-subtext1);

    &:before {
      content: "\02015";
    }
  }

  &.sample-text {
    color: var(--nausikaa-crust);
    padding-top: 0.5rem;
  }
}

abbr,
time {
  background-color: transparent;
  text-decoration: underline dotted var(--nausikaa-subtext0);
  cursor: help;
}

mark {
  border-radius: 3px;
  background-color: var(--nausikaa-mark-background);
  box-shadow:
    5px 0 0 0 rgba(var(--nausikaa-mark-background), .5),
    -5px 0 0 0 rgba(var(--nausikaa-mark-background), .5);
  background-size: 2000px 2000px;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--nausikaa-mark-background),
    var(--nausikaa-mark-background) 5px,
    var(--nausikaa-mark-background-alt) 5px,
    var(--nausikaa-mark-background-alt) 15px
  );
}

del {
  text-decoration: line-through solid var(--nausikaa-input-line-error);
}

code,
kbd,
samp {
  font-family: var(--nausikaa-mono-text);
  font-size: 0.9em;
  line-height: 1.1;
  padding: 0.1em 0.3em;
  border-radius: 4px;
  white-space: nowrap;
}

code {
  color: var(--nausikaa-red3);
  background-color: var(--nausikaa-base);
  border: 1px solid var(--nausikaa-red0);
}

kbd {
  color: var(--nausikaa-kbd-text);
  background-color: var(--nausikaa-lavender3);
  border: 1px solid var(--nausikaa-text);
  white-space: nowrap;
}

samp {
  color: var(--nausikaa-green1);
  background-color: var(--nausikaa-subtext1);
  border: 1px solid var(--nausikaa-subtext1);
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin: var(--nausikaa-paragraph-spacer) 0;
}

.sample-text {
  color: var(--nausikaa-subtext0);
  font-family: "BLOKK";
  font-size: 2em;
  word-spacing: -20px;
}

.price {
  font-family: var(--nausikaa-utility-text);
  border-bottom: 1px dotted var(--nausikaa-crust);
}

.fetching {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--nausikaa-base-rgb), 0.9);
  padding-top: 4em;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity;
  z-index: 2;

  &.active {
    opacity: 0.8;
    pointer-events: auto;
  }
}

.spinner {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-55%);

  &.inside {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.spinner svg {
  animation: nausikaa-spin 1.5s linear infinite;
  height: 100%;
  width: 100%;
}

.spinner circle {
  stroke: var(--nausikaa-blue3);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: nausikaa-dash 1.5s ease-in-out infinite 0s;
  fill: none;
  stroke-width: 6;
}

@keyframes nausikaa-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes nausikaa-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

