@media (min-width: 320px) and (max-width: 666px) {
  body {
    font-size: $fontSize * 0.9;
    line-height: $lineHeight * 0.9;

    & > main {
      padding: $paragraphSpacer 0.5em;
      max-width: 100vw;
    }
  }
}

@media (min-width: 667px) and (max-width: 900px) {
  body {
    font-size: $fontSize * 0.95;
    line-height: $lineHeight * 0.95;

    & > main {
      padding: $paragraphSpacer 1em;
      max-width: 100vw;
    }
  }
}

@media (min-width: 901px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: $fontSize;
    line-height: $lineHeight;

    & > .navbar {
      padding-left: calc((50vw - 575px) + 1em);
      padding-right: calc((50vw - 575px) + 1em);
      margin: 0 auto;
      grid-column: 1 / 13;
    }

    & > main {
      max-width: 1150px;
      min-height: calc(100vh - (2 * #{$headerHeight}));
      padding: 2em 1em;
      margin: 0 auto;
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 2em;

      &.sidebar-right {
        & > article {
          grid-column: 1 / 10;
        }

        & > .sidebar {
          grid-column: 10 / 13;
        }
      }

      &.sidebar-left > * {
        grid-column: 4 / 13;

        & > .sidebar {
          grid-column: 1 / 4;
        }
      }
    }

    & > footer {
      max-width: 1150px;
      padding: 0.5em 1em 1.5em;
      margin: 0 auto;
      border-top: 1px solid $mainBackgroundLite;
      text-align: right;

      & > a {
        margin-left: 0.8em;
      }
    }
  }
}
