main#tasks {
  min-height: unset;
  padding: 0;
  grid-template-columns: repeat(16, 1fr);
  font-size: 0.9em;

  mark {
    background-color: rgba($yellow, 0.5);
    outline-style: solid;
    outline-width: 0 1px;
    outline-color: rgba($yellow, 0.5);
    color: $black;
  }

  header.task-controls {
    grid-column: 1 / 17;
    display: flex;
    padding: 1.5em 0 0.5em;
    border-bottom: 1px solid rgba($mainLine, 0.5);

    .spacer {
      flex-grow: 99;
    }
  }

  aside.task-sidebar {
    grid-column: 1 / 6;

    .task-search {
      margin-top: $paragraphSpacer;
      width: 100%;
    }

    .task-sidebar-pagination {
      border-top: 1px solid $mainLine;
      padding-top: 0.3em;
      display: flex;

      .previous {
        flex-basis: 25%;
      }

      .next {
        flex-basis: 25%;
        text-align: right;
      }

      .task-pagecount {
        flex-basis: 50%;
        text-align: center;
        line-height: 2.6em;
        font-family: $utilityText;
      }
    }

    .task-sidebar-list {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      list-style-type: none;

      li {
        margin: 0;
        padding: 0;

        &:last-child > a {
          border-bottom-width: 0;
        }

        &.active > a {
          outline-width: 0;
          border-left-width: 0.6em;
          opacity: 1;
        }

        & > a {
          color: $mainText;
          text-decoration: none;
          opacity: 0.5;
          display: block;
          padding: 0.7em 0.5em;
          border-bottom: 1px solid rgba($mainLine, 0.6);
          border-left: 0px solid $blue;
          transition: 0.3s border-left;

          &:hover,
          &:focus {
            background-color: $mainBackgroundLite;
            outline-width: 0;
            opacity: 1;
          }

          .task-title {
            margin: 0;
            font-family: $utilityText;
            font-size: 1.2em;
            font-weight: bold;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .task-date,
          .task-categories {
            font-size: 0.95em;
          }
        }
      }
    }
  }

  div.task-wrapper {
    grid-column: 6 / 17;
  }

  .task-creator {
    grid-template-columns: repeat(14, 1fr);

    h4 {
      .close {
        width: 1.3em;
        height: 1.3em;
        cursor: pointer;
        opacity: 0.3;
        float: right;

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .truncate {
      max-width: 1px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .checkboxes.editable {
      margin-top: 0;

      li {
        &.header {
          display: flex;
          border-bottom: 1px solid $mainLine;
          padding-bottom: 0.2em;

          strong {
            font-family: $utilityText;
            font-size: 1.1em;
          }
          & > * {
            flex-grow: 99;

            &.remove {
              flex-grow: 1;
            }
          }
        }

        &.checklist-item {
          display: flex;
          padding: 0.1em 0;

          label {
            flex: 0 0 85%;
          }

          .remove {
            flex: 0 0 15%;
            text-align: right;

            & > a {
              display: inline;
              transform: translateY(1em);
              font-size: 0.9em;
              opacity: 0.5;

              &:hover,
              &:focus {
                opacity: 1;
              }
            }
          }
        }

        &.footer {
          padding-top: 0.6em;
        }
      }
    }

    .controls {
      grid-column-start: 1;
      margin-top: 1em;
      padding-top: 1em;
      border-top: 1px solid $mainLine;
    }

    .uploading {
      transform-origin: center center;
      animation: rotation 2s infinite linear;
    }

    .dropdown .panel.markdown-preview {
      width: 70%;
      height: 140%;
      left: auto;
      right: calc(100% + 1em);
      top: 50%;
      bottom: 0;
      transform: translate(0, -50%);

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(100% - 0.5em);
        width: 1.2em;
        height: 1.2em;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-radius: 0 0 0 100%;
        transform: translateY(-50%) rotate(45deg);
        background-color: $mainBackground;
        border-color: $mainLine;
      }

      & > div {
        width: 100%;
        height: 100%;
        overflow: auto;

        &.no-content {
          overflow: initial;
          display: flex;
          flex-direction: column;
          justify-content: center;

          & > h3 {
            opacity: 0.25;
            text-align: center;
          }
        }
      }
    }
  }

  .task-editor {
    position: relative;
    padding-bottom: 5em;

    .task-actions {
      position: absolute;
      top: 0.5em;
      right: 0;
      text-align: right;

      .task-markdone {
        margin: 0;
      }

      .task-remove {
      }
    }

    .task-container {
      margin: 0.1em 0;
      position: relative;
      padding: calc(0.3em + 1px) 0.5em;
      border-width: 0;

      & > dt {
        flex: 0 0 19%;
      }

      & > dd {
        flex: 0 0 81%;
      }

      &.task-editable {
        padding: 0.3em 0.5em;
        background-color: $mainBackground;
        border: 1px solid $mainBackground;
        border-radius: 6px;
        transition: 0.2s border-color, 0.2s background-color;

        &:hover,
        &:focus {
          border-color: $mainLine;
          outline-width: 0;

          &.not-editing:after {
            content: "Click to edit";
            position: absolute;
            top: 5px;
            right: -10px;
            background-color: $grayHover;
            display: inline-box;
            padding: 0.1em 0.2em;
            border-radius: 3px;
            color: $grayHeader;
            font-size: 0.8em;
            font-family: $utilityText;
          }
        }

        &.editing {
          background-color: $yellowBackground;
          border-color: $yellowHover;
          padding-top: 0.8em;

          hr {
            display: initial;
            border-width: 0 0 1px 0;
            margin: $paragraphSpacer 0;
          }

          .close {
            position: absolute;
            top: 0.5em;
            right: 1em;
            width: 2em;
            height: 2em;
            opacity: 0.5;

            &:hover,
            &:focus {
              opacity: 1;
            }
          }

          .dropdown .panel.markdown-preview {
            width: 80%;
            height: 140%;
            left: auto;
            right: calc(100% + 1em);
            top: 50%;
            bottom: 0;
            transform: translate(0, -50%);

            &:after {
              content: "";
              display: block;
              position: absolute;
              top: calc(50% - 0.5em);
              left: calc(100% - 0.5em);
              width: 1.2em;
              height: 1.2em;
              border-width: 1px 1px 0 0;
              border-style: solid;
              border-radius: 0 0 0 100%;
              transform: translateY(-50%) rotate(45deg);
              background-color: $mainBackground;
              border-color: $mainLine;
            }

            & > div {
              width: 100%;
              height: 100%;
              overflow: auto;

              &.no-content {
                overflow: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & > h3 {
                  opacity: 0.25;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      &.task-title {
        margin: 0.5em 9em 0 0;

        h2 {
          margin: 0;
        }

        .task-permalink {
          font-size: 0.9em;
          opacity: 0.5;
        }
      }

      &.task-categories {
        margin-top: 0.1em;
      }

      &.task-checklists {
        ul.checkboxes {
          margin-top: 0;
        }
      }
    }

    .task-history {
      margin-top: 2.5em;

      h5 {
        margin-bottom: 0.2em;
      }

      & > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        & > li {
          border-top: 1px solid rgba($mainLine, 0.4);
          padding: 0.4em 0;
          font-family: $utilityText;

          .hist-metadata {
            opacity: 0.5;
          }

          .hist-body {
            padding-top: 0.2em;

            .tag {
              font-size: 0.9em;
              margin-right: 0.5em;
            }
          }

          &.hist-lessmore {
            text-align: right;
            opacity: 0.6;
          }
        }
      }
    }

    .borderless tr td {
      border-width: 0;
      padding: 0.05em 0.3em;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .truncate {
      max-width: 1px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
