@use "../colors" as *;
@use "../variables" as *;
@use "sass:color";

@mixin notificationMixin(
  $notificationBackground,
  $notificationBorder,
  $notificationText,
  $notificationHeader
) {
  background-color: $notificationBackground;
  color: $notificationText;
  border: 1px solid $notificationBorder;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $notificationHeader;
  }

  & > svg.icon {
    fill: $notificationHeader;
  }

  .control.close {
    svg {
      fill: $notificationHeader;
    }

    &:hover svg,
    &:focus svg {
      fill: $notificationHeader;
    }
  }
}

.notification {
  @include notificationMixin($mantle, $crust, $text, $subtext1);

  margin: $paragraphSpacer 0;
  padding: 0 4rem 0 2rem;
  border-radius: 6px;
  position: relative;
  overflow: auto;

  & > svg.icon {
    width: 4em;
    height: 4em;
    float: left;
    margin: 1em 1em 1em 0;
  }

  .control.close {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;

    svg {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  &.sticky {
    position: relative;
    border-width: 0 0 1px 0;
    margin: 0;
    border-radius: 0;
  }

  &.rosewater {
    @include notificationMixin(
      $rosewater0,
      color.adjust($rosewater0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.flamingo {
    @include notificationMixin(
      $flamingo0,
      color.adjust($flamingo0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.pink {
    @include notificationMixin(
      $pink0,
      color.adjust($pink0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.mauve {
    @include notificationMixin(
      $mauve0,
      color.adjust($mauve0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.red {
    @include notificationMixin(
      $red0,
      color.adjust($red0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.maroon {
    @include notificationMixin(
      $maroon0,
      color.adjust($maroon0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.peach {
    @include notificationMixin(
      $peach0,
      color.adjust($peach0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.yellow {
    @include notificationMixin(
      $yellow0,
      color.adjust($yellow0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.green {
    @include notificationMixin(
      $green0,
      color.adjust($green0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.teal {
    @include notificationMixin(
      $teal0,
      color.adjust($teal0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.sky {
    @include notificationMixin(
      $sky0,
      color.adjust($sky0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.sapphire {
    @include notificationMixin(
      $sapphire0,
      color.adjust($sapphire0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.blue {
    @include notificationMixin(
      $blue0,
      color.adjust($blue0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.lavender {
    @include notificationMixin(
      $lavender0,
      color.adjust($lavender0, $lightness: -10%),
      $base,
      $base
    );
  }

  &.gray {
    @include notificationMixin(
      $subtext0,
      $subtext1,
      $base,
      $base
    );
  }
}
