@use "../colors" as *;
@use "../variables" as *;
@use "sass:color";

@mixin tagMixin($tagText, $tagBackground, $tagHover, $tagIcon) {
  color: $tagText;
  background-color: $tagBackground;

  & > .icon {
    fill: $tagIcon;
  }

  &:hover,
  &.hover {
    color: $tagText;
    background-color: $tagHover;

    & > .icon {
      fill: $tagText;
    }
  }
}

.tag {
  @include tagMixin($text, $surface1, $surface1, $subtext0);

  font-family: $utilityText;
  font-weight: 200;
  display: inline-block;
  border-radius: 3px;
  padding: 0em 0.4em;
  font-size: 0.7em;
  line-height: 1.7em;
  position: relative;
  top: -0.1em;
  text-decoration: none;

  &.badge {
    min-width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border-radius: 0.9em 0.9em;
    padding: 0 0.3em;
  }

  & > .icon {
    width: 1.3em;
    height: 1.3em;
    transform: translateY(0.25em);
  }

  &:hover,
  &.hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

  &.alt {
    @include tagMixin(
      $text,
      $overlay1,
      $overlay2,
      $subtext0
    );
  }

  &.rosewater {
    @include tagMixin($white, $rosewater3, color.adjust($rosewater3, $lightness: -5%), $rosewater2);
  }

  &.flamingo {
    @include tagMixin($white, $flamingo3, color.adjust($flamingo3, $lightness: -5%), $flamingo2);
  }

  &.pink {
    @include tagMixin($white, $pink3, color.adjust($pink3, $lightness: -5%), $pink2);
  }

  &.mauve {
    @include tagMixin($white, $mauve3, color.adjust($mauve3, $lightness: -5%), $mauve2);
  }

  &.red {
    @include tagMixin($white, $red3, color.adjust($red3, $lightness: -5%), $red2);
  }

  &.maroon {
    @include tagMixin($white, $maroon3, color.adjust($maroon3, $lightness: -5%), $maroon2);
  }

  &.peach {
    @include tagMixin($white, $peach3, color.adjust($peach3, $lightness: -5%), $peach2);
  }

  &.yellow {
    @include tagMixin($white, $yellow3, color.adjust($yellow3, $lightness: -5%), $yellow2);
  }

  &.green {
    @include tagMixin($white, $green3, color.adjust($green3, $lightness: -5%), $green2);
  }

  &.teal {
    @include tagMixin($white, $teal3, color.adjust($teal3, $lightness: -5%), $teal2);
  }

  &.sky {
    @include tagMixin($white, $sky3, color.adjust($sky3, $lightness: -5%), $sky2);
  }

  &.sapphire {
    @include tagMixin($white, $sapphire3, color.adjust($sapphire3, $lightness: -5%), $sapphire2);
  }

  &.blue {
    @include tagMixin($white, $blue3, color.adjust($blue3, $lightness: -5%), $blue2);
  }

  &.lavender {
    @include tagMixin($white, $lavender3, color.adjust($lavender3, $lightness: -5%), $lavender2);
  }

  &.navy {
    @include tagMixin($white, #000080, #262693, #b2b2d9);
  }

  &.olive {
    @include tagMixin($white, #808000, #999933, #d9d9b2);
  }

  &.salmon {
    @include tagMixin($white, #fa8072, #fb998e, #fed9d5);
  }

  &.magenta {
    @include tagMixin($white, #ff00ff, #ff59ff, #ffccff);
  }

  &.cyan {
    @include tagMixin($black, #00ffff, #b2ffff, #00d9d9);
  }

  &.lightgray {
    @include tagMixin($black, #ccc, #aaa, #999);
  }

  &.chocolate {
    @include tagMixin($white, #663300, #262626, #eee);
  }

  &.black {
    @include tagMixin($white, $black, #262626, #eee);
  }

  &.forest {
    @include tagMixin(#fff, #006b57, #005746, rgba(255, 255, 255, 0.5));
  }

  &.royal {
    @include tagMixin(#fff, #005c90, #005746, rgba(255, 255, 255, 0.5));
  }

  &.lemon {
    @include tagMixin($black, #ffff00, #dddd00, rgba(0, 0, 0, 0.5));
  }
}

h2 .tag {
  font-size: 1.25rem;
  border-radius: 6px;
}

h3 .tag {
  font-size: 1.25rem;
  border-radius: 5px;
}

h4 .tag {
  font-size: 1rem;
  border-radius: 4px;
}

h5 .tag {
  font-size: 0.7rem;
}

h6 .tag {
  font-size: 0.7rem;
  line-height: 1.7em;
}
