<main id="frontpage">

  <section class="introduction">

    <div class="skew"> 

    </div>
    
    <h1>
      <u>Nausikaä</u>, a CSS toolkit for accessible websites
    </h1>

    <div class="explainer">

      <p><u>Nausikaä</u> aims to provide builders with one CSS file that takes care of all accessibity needs. Users of every type are welcome, regardless of their device, screen or input method. And that does not mean it has to look boring.</p>

      <p>CSS classes are used as little as possible by <u>Nausikaä</u>. It does have a few for colors and style, but none for layout. It also does not use Javascript. It does have a few opinions about how you structure your HTML, but hopefully not too strong.</p>

      <p><u>Nausikaä</u> is free, really!</p>
    </div>

    <div class="illustration">

      <div class="intro-cluster intro-cluster-01">   

        <svg class="house-10" style="top: -4em; left: -5em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>

        <svg class="house-06" style="top: -2em; left: -3.8em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>

        <svg class="house-04" style="top: 5em; left: -7.4em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg>

        <svg class="house-10" style="bottom: 7.2em; left: 18em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>

         <svg class="house-09" style="bottom: 6.4em; left: 23.8em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>  

        <svg class="house-03" style="bottom: 5.4em; left: 18.3em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>  

        <svg class="house-05" style="bottom: 5.2em; left: 24.8em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>

        <svg class="house-01" style="bottom: 4.8em; left: 28em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>  

        <svg class="house-12" style="bottom: 4.1em; left: 26.8em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>  

        <svg class="house-05" style="bottom: 5.4em; left: 16em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  

         <svg class="house-04" style="bottom: 4.1em; left: 15em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg> 

        <svg class="house-09" style="bottom: 3.2em; left: 13em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-10" style="bottom:3em; left: 17em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>   

        <svg class="spike-02" style="bottom: 1.6em; left: 19em;">
          <use xlink:href="/images/buildings.svg#spike-02"></use>
        </svg> 

        <svg class="house-05" style="bottom: 1.6em; left: 25em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg> 

        <svg class="house-11" style="bottom: 1.2em; left: 23em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-10" style="bottom: 2.3em; left: 28em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg> 

        <svg class="house-09" style="bottom: .3em; left: 27em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-06" style="bottom: 2.1em; left: 16em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg> 

        <svg class="house-09" style="bottom: 1.7em; left: 14em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-01" style="bottom: 1.2em; left: 18em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg> 


        <svg class="house-03" style="bottom: 2.4em; left: 7em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>  

        <svg class="house-12" style="bottom: 2.1em; left: 9em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>  

        <svg class="house-05" style="bottom: 1.2em; left: 10.4em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  
        
        <svg class="house-05" style="bottom: 2.4em; left: 4em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  

        <svg class="house-08" style="bottom: 3.4em; left: .4em;">
          <use xlink:href="/images/buildings.svg#house-08"></use>
        </svg> 

        <svg class="house-11" style="bottom: 1em; left: 2.7em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-01" style="bottom: 1em; left: -1em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>         
        
        <svg class="house-06" style="bottom: -1em; left: 2em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>            

        <svg class="house-03" style="bottom: -.6em; left: 8em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>         
        
        <svg class="house-07" style="bottom: -.8em; left: 5em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg>  

        <svg class="house-07" style="bottom: -.8em; left: 5em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg>  

        <svg class="house-10" style="bottom: .1em; left: 15.3em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>  

        <svg class="house-06" style="bottom: .1em; left: 20em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>  

        <svg class="house-12" style="bottom: .1em; left: 12.3em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>  

        <svg class="house-05" style="bottom: -1.2em; left: 10em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  

        <svg class="house-02" style="bottom: -1.2em; left: 13.5em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>  


        <svg class="house-06" style="bottom: .1em; left: 20em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg> 

        <svg class="house-09" style="bottom: -.7em; left: 18em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-01" style="bottom: -1.2em; left: 22em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>  


        <svg class="house-11" style="bottom: -.4em; left: 25em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>  

        <svg class="house-02" style="bottom: -1.3em; right: 2em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>  
        
        <svg class="house-05" style="bottom: -.5em; right: -.5em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  


        <svg class="house-12" style="bottom: -1.7em; left: 19em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg> 

        <svg class="house-03" style="bottom: -2.2em; left: 16.3em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>   

        <svg class="house-05" style="bottom: -2.8em; left: 20.4em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>  
      </div>

      <div class="intro-cluster intro-cluster-02">   

        <svg class="house-11" style="top: 0; right: -3em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>
        <svg class="house-11" style="bottom: 7.2em; left: 6em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>

        <svg class="house-01" style="bottom: 5.4em; left: 6.3em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>  

        <svg class="house-06" style="bottom: 4.4em; left: 16.5em">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>

        <svg class="house-10" style="bottom: 4.1em; left: 14em">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>

        <svg class="house-11" style="bottom: 3.4em; left: 8em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>

        <svg class="spike-04" style="bottom: 2.4em; left: 7em;">
          <use xlink:href="/images/buildings.svg#spike-04"></use>
        </svg>  

        <svg class="house-04" style="bottom: 5.4em; left: 4em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg>  

         <svg class="house-06" style="bottom: 4.1em; left: 3em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg> 

        <svg class="house-09" style="bottom: 3.2em; left: 1em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-01" style="bottom:3em; left: 5em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg> 

        <svg class="house-09" style="bottom: 1.6em; left: 13em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-08" style="bottom: 1.2em; left: 11em;">
          <use xlink:href="/images/buildings.svg#house-08"></use>
        </svg> 

        <svg class="house-01" style="bottom: 2.3em; left: 16em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg> 

        <svg class="house-02" style="bottom: .3em; left: 15em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg> 

        <svg class="house-09" style="bottom: 2.1em; left: 4em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-11" style="bottom: 1.7em; left: 2em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-12" style="bottom: 1.2em; left: 6em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg> 

        <svg class="house-02" style="bottom: -1.2em; left: 1.5em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>  

        <svg class="house-06" style="bottom: .1em; left: -2em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg> 

        <svg class="house-09" style="bottom: -.7em; left: 6em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-01" style="bottom: -1.2em; left: 10em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>  

        <svg class="house-11" style="bottom: -.4em; left: 13em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>  
        
        <svg class="house-12" style="bottom: 4.5em; right: 2.5em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>

        <svg class="house-02" style="bottom: -1.3em; right: 2em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>  
        
        <svg class="house-08" style="bottom: -.5em; right: -.5em;">
          <use xlink:href="/images/buildings.svg#house-08"></use>
        </svg>

        <svg class="house-09" style="bottom: -1.7em; left: 7em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg> 

        <svg class="house-10" style="bottom: -2.2em; left: 4.3em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>   

        <svg class="house-03" style="bottom: -2.8em; left: 8.4em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg> 

        <svg class="house-07" style="bottom: -1.8em; left: -.6em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg>   

        <svg class="house-09" style="bottom: 1em; left: 18em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>

        <svg class="house-06" style="bottom: .5em; left: 20em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>

        <svg class="house-11" style="bottom: -.9em; left: 16.8em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>

        <svg class="house-04" style="bottom: -0.4em; left: 24em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg> 

        <svg class="house-03" style="bottom: -2.3em; left: 15em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>           

         <svg class="house-04" style="bottom: -2.1em; left: 19em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg> 

        <svg class="house-12" style="bottom: -1.2em; left: 22.4em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>   
      </div>

      <div class="intro-cluster intro-cluster-03">

        <svg class="house-11" style="bottom: -6em; left: -18em">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>   

        <svg class="house-02" style="bottom: 0; left: 0;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>   

        <svg class="house-11" style="bottom: -1em; left: 1.5em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>   

        <svg class="house-06" style="bottom: -2em; left: -1.3em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>   

        <svg class="house-07" style="bottom: -6em; left: -32em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg>   

        <svg class="house-01" style="bottom: -5em; left: -11em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>   

        <svg class="house-11" style="bottom: 9em; right: 19.5em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>   

        <svg class="house-03" style="bottom: 7em; right: 19em;">
          <use xlink:href="/images/buildings.svg#house-03"></use>
        </svg>   

        <svg class="house-08" style="bottom: 7.7em; right: 21.7em;">
          <use xlink:href="/images/buildings.svg#house-08"></use>
        </svg>

        <svg class="house-09" style="bottom: 6.5em; right: 23.5em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>   

        <svg class="house-05" style="bottom: 5em; right: 23em;">
          <use xlink:href="/images/buildings.svg#house-05"></use>
        </svg>   

        <svg class="house-09" style="bottom: 4.4em; right: 20.6em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>   

        <svg class="house-11" style="bottom: 5.7em; right: 25.7em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg>             

        <svg class="house-09" style="bottom: 9em; right: 12em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>   

        <svg class="house-02" style="bottom: 8em; right: 10em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>   

        <svg class="house-07" style="bottom: 6.8em; right: 11.3em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg>   

        <svg class="spike-05" style="bottom: 3em; right: 13em;">
          <use xlink:href="/images/buildings.svg#spike-05"></use>
        </svg> 

        

        <svg class="house-04" style="bottom: 3.4em; right: 26em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg>      

        <svg class="house-12" style="bottom: 2em; right: 19em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>   

        <svg class="house-02" style="bottom: 2.7em; right: 21.7em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg>

        <svg class="house-04" style="bottom: 2.1em; right: 24em;">
          <use xlink:href="/images/buildings.svg#house-04"></use>
        </svg>   

        <svg class="house-08" style="bottom: 1.2em; right: 21.4em;">
          <use xlink:href="/images/buildings.svg#house-08"></use>
        </svg>    

        <svg class="house-07" style="bottom: 0; right: 23em;">
          <use xlink:href="/images/buildings.svg#house-07"></use>
        </svg> 

        <svg class="house-01" style="bottom: .7em; right: 25.7em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg> 

        

        

        <svg class="house-01" style="bottom: 3.1em; right: 11.6em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>      

        <svg class="house-10" style="bottom: 4em; right: 4em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>   

        <svg class="house-09" style="bottom: 4.8em; right: 6.7em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>

        <svg class="house-06" style="bottom: 4.1em; right: 9em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>   

        <svg class="house-01" style="bottom: 3.2em; right: 6.4em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>    

        <svg class="house-11" style="bottom: 2em; right: 8em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-02" style="bottom: 1.3em; right: 10.2em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg> 

        
 

        

        <svg class="house-01" style="bottom: .5em; right: 18.4em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>      

        <svg class="house-10" style="bottom: 0; right: 11em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>   

        <svg class="house-09" style="bottom: 0em; right: 13.7em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>

        <svg class="house-06" style="bottom: .1em; right: 16em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>   

        <svg class="house-01" style="bottom: -1.2em; right: 13.4em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>    

        <svg class="house-11" style="bottom: -2em; right: 15em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-02" style="bottom: -1.3em; right: 17.7em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg> 

        
 

        <svg class="house-12" style="bottom: 1em; right: 1em;">
          <use xlink:href="/images/buildings.svg#house-12"></use>
        </svg>   

        <svg class="house-02" style="bottom: -1em; right: 26.5em;">
          <use xlink:href="/images/buildings.svg#house-10"></use>
        </svg>   

        <svg class="house-11" style="bottom: -4em; left: -22em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>      

        <svg class="house-03" style="bottom: 1.8em; right: 28.7em;">
          <use xlink:href="/images/buildings.svg#house-09"></use>
        </svg>

        <svg class="house-06" style="bottom: 1.1em; right: 31em;">
          <use xlink:href="/images/buildings.svg#house-06"></use>
        </svg>   

        <svg class="house-10" style="bottom: .2em; right: 28.4em;">
          <use xlink:href="/images/buildings.svg#house-01"></use>
        </svg>    

        <svg class="house-08" style="bottom: -1em; right: 30em;">
          <use xlink:href="/images/buildings.svg#house-11"></use>
        </svg> 

        <svg class="house-05" style="bottom: -2.3em; right: 32.2em;">
          <use xlink:href="/images/buildings.svg#house-02"></use>
        </svg> 
      </div>
    
    </div>

  </section>

  <section class="elaboration">

    <div class="skew"></div>
    
    <h2>Elaborate on the versatility of <u>Nausikaä</u> and her merits</h2>

    <div class="explainer">

      <p>Culpa, est. Assumenda maiores rem officia laboriosam numquam maxime, esse amet sequi illum, vel magni exercitationem! Ratione nam eveniet quam nisi aperiam, dolorem aut, rem iure, mollitia libero illo.</p>

      <p>Vel deleniti nisi maxime magni libero reiciendis porro nesciunt alias, delectus sint ratione suscipit, quibusdam exercitationem! Nulla, corporis, perferendis aliquam laudantium quam inventore, non aperiam accusantium, laborum suscipit eos amet?</p>
    </div>

    <div class="illustration">
      
      <div class="elaboration-cluster elaboration-cluster-01">
      
          <svg class="house-05" style="top: -1.2em; left: 1.2em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg> 

          <svg class="house-11" style="top: -1em; left: 4.2em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg> 

          <svg class="house-09" style="top: 1.2em; left: 3.2em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg>

          <svg class="house-01" style="top: 5.2em; left: -.8em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>

          <!-- start -->
          <svg class="house-10" style="top: 1em; left: 14.5em;">
            <use xlink:href="/images/buildings.svg#house-10"></use>
          </svg>   

          <svg class="house-09" style="top: 1.8em; left: 8.7em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg>

          <svg class="house-06" style="top: 1.1em; left: 11em;">
            <use xlink:href="/images/buildings.svg#house-06"></use>
          </svg>   

          <svg class="house-01" style="top: 2.3em; left: 12.9em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>      

          <svg class="house-01" style="top: 3em; left: 7.4em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>    

          <svg class="house-11" style="top: 3em; left: 10em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg> 

          <svg class="house-02" style="top: 4.3em; left: 12.2em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg> 
          <!-- end --> 
      
          <!-- start -->
          <svg class="house-01" style="top: 5em; left: 9.5em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>   

          <svg class="house-11" style="top: 5.8em; left: 3.7em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>

          <svg class="house-04" style="top: 5.1em; left: 6em;">
            <use xlink:href="/images/buildings.svg#house-04"></use>
          </svg>   

          <svg class="house-02" style="top: 6.3em; left: 7.9em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg>      

          <svg class="house-11" style="top: 8em; left: 2.4em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>    

          <svg class="house-03" style="top: 8em; left: 5em;">
            <use xlink:href="/images/buildings.svg#house-03"></use>
          </svg> 

          <svg class="house-05" style="top: 9.3em; left: 7.2em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg> 
          <!-- end --> 


          <svg class="house-05" style="top: 1.2em; left: 17.2em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg> 

          <svg class="house-11" style="top: 1em; left: 24.2em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg> 

          <svg class="house-09" style="top: 3.2em; left: 18.2em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg>

      
          <!-- start -->

          <svg class="house-01" style="top: 3.9em; left: 21.2em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg> 

          <svg class="house-09" style="top: 5.2em; left: 23.2em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg> 

          <svg class="house-08" style="top: 5em; left: 17.5em;">
            <use xlink:href="/images/buildings.svg#house-08"></use>
          </svg>   

          <svg class="house-09" style="top: 5.8em; left: 11.7em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg>

          <svg class="house-01" style="top: 5.1em; left: 14em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>   

          <svg class="house-11" style="top: 6.3em; left: 15.9em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>      

          <svg class="house-08" style="top: 8em; left: 10.4em;">
            <use xlink:href="/images/buildings.svg#house-08"></use>
          </svg>    

          <svg class="house-07" style="top: 8em; left: 13em;">
            <use xlink:href="/images/buildings.svg#house-07"></use>
          </svg> 

          <!-- end --> 

          <svg class="arch-07" style="top: 7.4em; left: 6.7em;">
            <use xlink:href="/images/buildings.svg#arch-07"></use>
          </svg> 

          <!-- start -->

          <svg class="house-03" style="top: 18.9em; left: 21.2em;">
            <use xlink:href="/images/buildings.svg#house-03"></use>
          </svg> 

          <svg class="house-07" style="top: 20.2em; left: 23.2em;">
            <use xlink:href="/images/buildings.svg#house-07"></use>
          </svg> 

          <svg class="house-05" style="top: 20em; left: 17.5em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg>   

          <svg class="house-11" style="top: 20.8em; left: 11.7em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>

          <svg class="house-02" style="top: 20.1em; left: 14em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg>   

          <svg class="house-11" style="top: 21.3em; left: 15.9em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>      

          <svg class="house-12" style="top: 23em; left: 10.4em;">
            <use xlink:href="/images/buildings.svg#house-12"></use>
          </svg>    

          <svg class="house-01" style="top: 23em; left: 13em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg> 

          <!-- end --> 

          <!-- start -->


          <svg class="house-07" style="top: 22em; left: 22.5em;">
            <use xlink:href="/images/buildings.svg#house-07"></use>
          </svg>   

          <svg class="house-01" style="top: 22.8em; left: 16.7em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg>

          <svg class="house-08" style="top: 22.1em; left: 19em;">
            <use xlink:href="/images/buildings.svg#house-08"></use>
          </svg>   

          <svg class="house-02" style="top: 23.3em; left: 20.9em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg>      

          <svg class="house-09" style="top: 26em; left: 15.4em;">
            <use xlink:href="/images/buildings.svg#house-09"></use>
          </svg>    

          <svg class="house-02" style="top: 26.5em; left: 18em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg> 

          <svg class="house-11" style="top: 23.3em; left: 24.9em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>      

          <svg class="house-07" style="top: 26em; left: 21em;">
            <use xlink:href="/images/buildings.svg#house-07"></use>
          </svg>    

          <svg class="house-01" style="top: 26.5em; left: 24em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg> 

          <!-- end --> 

          <!-- start -->
          <svg class="house-12" style="top: 25em; left: 11.5em;">
            <use xlink:href="/images/buildings.svg#house-12"></use>
          </svg>   

          <svg class="house-04" style="top: 25.8em; left: 5.7em;">
            <use xlink:href="/images/buildings.svg#house-04"></use>
          </svg>

          <svg class="house-02" style="top: 25.1em; left: 8em;">
            <use xlink:href="/images/buildings.svg#house-02"></use>
          </svg>   

          <svg class="house-05" style="top: 26.3em; left: 9.9em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg>      

          <svg class="house-08" style="top: 28em; left: 4.4em;">
            <use xlink:href="/images/buildings.svg#house-08"></use>
          </svg>    

          <svg class="house-11" style="top: 28em; left: 7em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg> 

          <svg class="house-01" style="top: 29.3em; left: 9.2em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg> 
          <!-- end --> 



          <svg class="house-11" style="top: 27.2em; left: 28.9em;">
            <use xlink:href="/images/buildings.svg#house-11"></use>
          </svg>      

          <svg class="house-07" style="top: 29em; left: 27em;">
            <use xlink:href="/images/buildings.svg#house-07"></use>
          </svg>    

          <svg class="house-01" style="top: 29.5em; left: 30em;">
            <use xlink:href="/images/buildings.svg#house-01"></use>
          </svg> 

          <svg class="house-05" style="top: 29em; left: -3em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg>    

          <svg class="house-10" style="top: 29.5em; left: 1em;">
            <use xlink:href="/images/buildings.svg#house-10"></use>
          </svg> 

          <svg class="house-05" style="top: 29em; left: 15em;">
            <use xlink:href="/images/buildings.svg#house-05"></use>
          </svg>    

          <svg class="house-12" style="top: 29.5em; left: 17.2em;">
            <use xlink:href="/images/buildings.svg#house-12"></use>
          </svg>  

          <svg class="house-12" style="top: 30em; left: 37.2em;">
            <use xlink:href="/images/buildings.svg#house-12"></use>
          </svg> 

      </div>
    </div>

  </section>

  <section class="more-elaboration">

    <div class="skew"></div>
    
    <h2>Elaborate on the versatility of <u>Nausikaä</u></h2>

    <div class="explainer">

      <p>Culpa, est. Assumenda maiores rem officia laboriosam numquam maxime, esse amet sequi illum, vel magni exercitationem! Ratione nam eveniet quam nisi aperiam, dolorem aut, rem iure, mollitia libero illo.</p>

      <p>Vel deleniti nisi maxime magni libero reiciendis porro nesciunt alias, delectus sint ratione suscipit, quibusdam exercitationem! Nulla, corporis, perferendis aliquam laudantium quam inventore, non aperiam accusantium, laborum suscipit eos amet?</p>
    </div>

  </section>

</main>