@use '../colors' as *;
@use '../variables' as *;
@use 'sass:math';
@use 'sass:color';

@mixin buttonMixin(
  $bmBackground,
  $bmLine,
  $bmShadow,
  $bmText,
  $bmHover,
  $bmFocus,
  $bmActive,
  $bmTextDisabled,
  $bmDisabled,
  $bmRefresh,
  $bmCheck
) {
  background-color: $bmBackground;
  border: 1px solid $bmLine;
  box-shadow: 0 (-$buttonShadowSize) 0 0 $bmShadow inset;
  color: $bmText;

  &.hover,
  &:hover {
    border-color: $bmLine;
    background-color: $bmHover;
    box-shadow: 0 (-$buttonShadowSize) 0 0 $bmShadow inset;
  }

  &.focus,
  &:focus,
  input[type="radio"]:focus+&,
  input[type="checkbox"]:focus+&,
  input[type="file"]:focus+&,
  input[type="radio"]:focus+&:visited,
  input[type="checkbox"]:focus+&:visited {
    border-color: $bmLine;
    background-color: $bmFocus;
    box-shadow: 0 (-$buttonShadowSize) 0 0 $bmShadow inset,
      0 0 0 3px rgba($bmFocus, 0.65);
  }

  &.active,
  &:active,
  input:checked+&,
  input:checked:hover+&,
  .dropdown>&:focus,
  .dropdown:focus-within>&,
  .dropdown.focus-within>& {
    border-color: $bmLine;
    background-color: $bmActive;
    box-shadow: 0 0 0 0 $bmShadow inset, 0 0 0 0 rgba($bmActive, 0.65);
  }

  &:active:focus,
  &.active:focus,
  input:checked:focus+& {
    background-color: $bmActive;
    box-shadow: 0 0 0 0 $bmShadow inset, 0 0 0 2px $bmBackground;
  }

  &.disabled,
  &:disabled,
  &:disabled:hover,
  input[type="file"]:disabled+&,
  input[type="radio"]:disabled+&,
  input[type="checkbox"]:disabled+& {
    color: $bmTextDisabled;
    border-color: $bmLine;
    background-color: $bmDisabled;
    box-shadow: 0 (-$buttonShadowSize) 0 0 $bmShadow inset;

    .icon {
      fill: $bmTextDisabled;
    }
  }

  input[type="radio"]:checked:disabled+&,
  input[type="checkbox"]:checked:disabled+& {
    box-shadow: none;
  }

  &:before:active {
    box-shadow: 0 (-$buttonShadowSize) 0 0 $bmShadow inset;
  }

  .icon {
    fill: $bmText;
  }

  &.loading {
    color: transparent;
  }

  &.loading:after {
    background-image: $bmRefresh;
  }

  &.loading.success:after {
    background-image: $bmCheck;
  }
}

.button,
.button:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  animation: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-family: $utilityText;
  font-size: $buttonFontSize;
  height: $buttonHeight;
  line-height: 2.2;
  margin: 0 0.4rem 0.4rem 0;
  overflow: hidden;
  padding: $buttonPadding;
  vertical-align: bottom;

  @include buttonMixin($buttonBackground,
    $buttonLine,
    $buttonShadow,
    $buttonText,
    $buttonHover,
    $buttonFocus,
    $buttonActive,
    $buttonTextDisabled,
    $buttonDisabled,
    $buttonRefresh,
    $buttonCheck );

  &.hover,
  &:hover {
    text-decoration: none;
  }

  &.focus,
  &:focus,
  input[type="radio"]:focus+&,
  input[type="checkbox"]:focus+&,
  input[type="radio"]:focus+&:visited,
  input[type="checkbox"]:focus+&:visited {
    outline-width: 0;
    text-decoration: none;
    z-index: 888;
  }

  &.active,
  &:active,
  input:checked+&,
  input:checked:hover+&,
  .dropdown>&:focus,
  .dropdown:focus-within>&,
  .dropdown.focus-within>& {
    padding: 0 1.2em 0;
    margin-top: $buttonShadowSize !important;
    height: calc(#{$buttonHeight} - #{$buttonShadowSize});
    margin-top: $fontSize * 0.3;
    outline-width: 0;
    text-decoration: none;
    z-index: 888;
  }

  &:active:focus,
  &.active:focus,
  input:checked:focus+& {
    text-decoration: none;
  }

  &.disabled,
  &:disabled,
  &:disabled:hover,
  input[type="radio"]:disabled+&,
  input[type="checkbox"]:disabled+& {
    height: $buttonHeight;
    cursor: not-allowed;
    margin-top: 0;

    &:active {
      margin-top: 0 !important;
      padding: $buttonPadding;
    }
  }

  input[type="radio"]:checked:disabled+&,
  input[type="checkbox"]:checked:disabled+& {
    height: calc(#{$buttonHeight} - #{$buttonShadowSize});
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.35em;
  }

  .label {
    position: relative;
    display: inline-block;
    left: -0.75em;
    padding: 0 0.75em 0 0.45em;
    pointer-events: none;

    &:before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.15);
      top: -2em;
      left: -2em;
      bottom: -2em;
      right: 0;
    }
  }

  &.loading {
    color: transparent;
    position: relative;

    .label,
    .icon {
      opacity: 0;
    }

    &:after {
      animation: loadingAnimation 1.5s infinite linear;
      background-image: $buttonRefresh;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      content: "";
      display: block;
      overflow: visible;
      width: 1.7em;
      height: 1.7em;
      position: absolute;
      top: 45%;
      left: 50%;
      background-size: cover;
      pointer-events: none;
    }

    &.success:after {
      animation: none;
      transform: translate(-50%, -50%);
      width: 1.7em;
      height: 1.7em;
    }
  }

  &.primary {
    @include buttonMixin(
      #2980d7,
      #184d81,
      #1c5997,
      #fff,
      #2473c2,
      #2473c2,
      #2066ac,
      #93bfeb,
      #2066ac,
      url(../images/refresh-white.svg),
      url(../images/check-white.svg));
  }

  &.secondary {
    @include buttonMixin(
      #34495e,
      #121a21,
      #1b2631,
      #fff,
      #2d4052,
      #2d4052,
      #243342,
      #5b80a4,
      #243342,
      url(../images/refresh-white.svg),
      url(../images/check-white.svg));
  }

  &.positive {
    @include buttonMixin(
      #28b463,
      #176939,
      #1c7d44,
      #fff,
      #25a75b,
      #25a75b,
      #209250,
      #58da8e,
      #209250,
      url(../images/refresh-white.svg),
      url(../images/check-white.svg));
  }

  &.negative {
    @include buttonMixin(
      #cb4335,
      #7a281f,
      #8e2f25,
      #fff,
      #b63d2f,
      #b63d2f,
      #a2362a,
      #da7c71,
      #a2362a,
      url(../images/refresh-white.svg),
      url(../images/check-white.svg));
  }

  &.radiant {
    @include buttonMixin(
      #fbc531,
      #a38020,
      #bc9425,
      #000,
      #e2b12c,
      #e2b12c,
      #bc9425,
      rgba(#000, 0.4),
      #bc9425,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.midnight {
    @include buttonMixin(
      #333333,
      #000000,
      rgba(#000000, 0.8),
      #fff,
      #111111,
      #111111,
      #000000,
      rgba(#fff, 0.4),
      #000000,
      url(../images/refresh-white.svg),
      url(../images/check-white.svg));
  }

  &.rosewater {
    @include buttonMixin(
      $rosewater0,
      $rosewater3,
      rgba($rosewater3, 0.8),
      $black,
      $rosewater2,
      $rosewater2,
      $rosewater3,
      rgba($black, 0.4),
      $rosewater3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.flamingo {
    @include buttonMixin(
      $flamingo0,
      $flamingo3,
      rgba($flamingo3, 0.8),
      $black,
      $flamingo2,
      $flamingo2,
      $flamingo3,
      rgba($black, 0.4),
      $flamingo3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.pink {
    @include buttonMixin(
      $pink0,
      $pink3,
      rgba($pink3, 0.8),
      $black,
      $pink2,
      $pink2,
      $pink3,
      rgba($black, 0.4),
      $pink3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.mauve {
    @include buttonMixin(
      $mauve0,
      $mauve3,
      rgba($mauve3, 0.8),
      $black,
      $mauve2,
      $mauve2,
      $mauve3,
      rgba($black, 0.4),
      $mauve3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.red {
    @include buttonMixin(
      $red0,
      $red3,
      rgba($red3, 0.8),
      $black,
      $red2,
      $red2,
      $red3,
      rgba($black, 0.4),
      $red3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.maroon {
    @include buttonMixin(
      $maroon0,
      $maroon3,
      rgba($maroon3, 0.8),
      $black,
      $maroon2,
      $maroon2,
      $maroon3,
      rgba($black, 0.4),
      $maroon3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.peach {
    @include buttonMixin(
      $peach0,
      $peach3,
      rgba($peach3, 0.8),
      $black,
      $peach2,
      $peach2,
      $peach3,
      rgba($black, 0.4),
      $peach3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.yellow {
    @include buttonMixin(
      $yellow0,
      $yellow3,
      rgba($yellow3, 0.8),
      $black,
      $yellow2,
      $yellow2,
      $yellow3,
      rgba($black, 0.4),
      $yellow3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.green {
    @include buttonMixin(
      $green0,
      $green3,
      rgba($green3, 0.8),
      $black,
      $green2,
      $green2,
      $green3,
      rgba($black, 0.4),
      $green3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.teal {
    @include buttonMixin(
      $teal0,
      $teal3,
      rgba($teal3, 0.8),
      $black,
      $teal2,
      $teal2,
      $teal3,
      rgba($black, 0.4),
      $teal3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.sky {
    @include buttonMixin(
      $sky0,
      $sky3,
      rgba($sky3, 0.8),
      $black,
      $sky2,
      $sky2,
      $sky3,
      rgba($black, 0.4),
      $sky3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.sapphire {
    @include buttonMixin(
      $sapphire0,
      $sapphire3,
      rgba($sapphire3, 0.8),
      $black,
      $sapphire2,
      $sapphire2,
      $sapphire3,
      rgba($black, 0.4),
      $sapphire3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.blue {
    @include buttonMixin(
      $blue0,
      $blue3,
      rgba($blue3, 0.8),
      $black,
      $blue2,
      $blue2,
      $blue3,
      rgba($black, 0.4),
      $blue3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.lavender {
    @include buttonMixin(
      $lavender0,
      $lavender3,
      rgba($lavender3, 0.8),
      $black,
      $lavender2,
      $lavender2,
      $lavender3,
      rgba($black, 0.4),
      $lavender3,
      url(../images/refresh-black.svg),
      url(../images/check-black.svg));
  }

  &.mini {
    font-size: 0.65em;
  }

  &.small {
    font-size: 0.75em;
  }

  &.medium {
    font-size: 0.82em;
  }

  &.large {
    font-size: 1.2em;
  }

  &.big {
    font-size: 1.4em;
  }

  &.huge {
    font-size: 1.7em;
  }

  &.massive {
    font-size: 2em;
  }
}

button.link,
button.link:hover,
button.link.hover,
button.link:focus,
button.link.focus,
*:focus-within button.link,
button.link.focus,
button.link:active,
button.link.active {
  display: inline;
  padding: 0;
  margin: 0;
  margin-top: 0 !important;
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
}

@keyframes loadingAnimation {
  0% {
    transform: translate(-50%, -50%) scaleX(-1) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) scaleX(-1) rotate(-359deg);
  }
}
