@use "../colors" as *;
@use "../variables" as *;

img {
  max-width: 100%;
}

figure {
  display: inline-block;
  flex-direction: column;
  border: 1px solid $crust;
  overflow: hidden;
  border-radius: 4px;
  margin: $paragraphSpacer 0;
  padding: 3px;
  max-width: 100%;
  background-color: $base;

  img {
    margin-bottom: -0.4em;
  }

  figcaption {
    font-family: $utilityText;
    font-size: 0.9em;
    color: $subtext0;
    padding: 0.5em 0.2em 0;
  }
}

figure,
img {
  &.left {
    float: left;
    margin: 0.3em $paragraphSpacer $paragraphSpacer 0;
  }

  &.right {
    float: right;
    margin: 0.3em 0 $paragraphSpacer $paragraphSpacer;
  }

  &.center {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 666px) {
    &.left,
    &.right {
      float: none;
      display: block;
      margin: $paragraphSpacer auto;
    }
  }
}

.clear-float {
  clear: both;
}
