table,
.table {
  text-align: justify;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin: $paragraphSpacer 0;

  th {
    font-family: $utilityText;
  }

  th,
  td {
    text-align: left;
    padding: 0.5em;
    vertical-align: top;
    border-top: 1px solid $mainLine;
  }

  tr:hover td {
    background-color: $mainBackgroundLite;
  }

  thead th {
    border-top-width: 0;
    border-bottom: 2px solid $mainLine;
  }

  tfoot th {
    border-top: 2px solid $mainLine;
  }

  &.bordered {
    td,
    th {
      border: 1px solid $mainLine;
    }

    thead th {
      border-bottom: 2px solid $mainLine;
    }

    tfoot th {
      border-top: 2px solid $mainLine;
    }
  }

  &.striped {
    tbody tr:nth-of-type(odd) td {
      background-color: $mainBackgroundAlt;
    }

    tbody tr:hover:nth-of-type(odd) td {
      background-color: $mainBackgroundLite;
    }
  }

  &.outlined {
    border: 1px solid $mainLine;
  }
}
