
article,
.article {
  & > header {
    padding-bottom: 0.5em;
    border-bottom: 1px dotted var(--crust);

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin-bottom: 0;
    }

    .meta {
      font-family: var(--utility-text);
      color: var(--subtext0);

      a {
        color: var(--subtext0);
        text-decoration: underline solid var(--subtext0);
      }

      time {
        text-decoration-color: var(--subtext0);
      }
    }
  }

  & > footer {
    clear: both;
    font-family: var(--utility-text);
    color: var(--subtext0);
    border-top: 1px dotted var(--crust);
    padding-top: 0.5em;

    a {
      color: var(--subtext0);
      text-decoration: underline solid var(--subtext0);
    }

    time {
      text-decoration-color: var(--subtext0);
    }
  }

  & > section,
  & > .section {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--crust);

    &:last-child {
      padding-bottom: 1em;
      border-bottom-width: 0;
    }
  }
}
