.code-example {
  position: relative;
  min-height: $paragraphSpacer * 2;
  border-bottom: 1px dotted $mainLine;
  margin: $paragraphSpacer 0;

  &:last-child {
    border-bottom-width: 0px;

    input[type="checkbox"] + label {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }
  }

  pre {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-width: 0;

    code {
      color: $white;
      background: transparent;
      padding: 0.5em 0;
      overflow: hidden;
      font-size: 0.9rem;
      line-height: 1.4;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:focus + label svg {
      border-radius: 50%;

      &.code {
        fill: $blue;
        background-color: $mainBackgroundLiteHover;
      }

      &.clear {
        fill: $black;
        background-color: $mainVague;
      }
    }
  }

  input[type="checkbox"] + label {
    position: absolute;
    right: 0.5em;
    top: -0.5em;

    &:before,
    &:after {
      display: none;
    }

    .code,
    .clear {
      width: 24px;
      height: 24px;
      padding: 0.2em;
      box-sizing: content-box;
      border-radius: 50%;
    }

    .code {
      fill: $mainLine;

      &:hover,
      &:focus,
      &:active {
        fill: $blue;
      }
    }

    .clear {
      fill: $mainVague;
      display: none;

      &:hover,
      &:focus,
      &:active {
        fill: $white;
      }
    }
  }

  input[type="checkbox"]:checked + label {
    top: 0.5em;

    .code {
      display: none;
    }

    .clear {
      display: block;
    }

    & + pre {
      height: auto;
      padding: 0.8em 1.2em;
      margin-bottom: $paragraphSpacer;
      border-width: inherit;
    }
  }
}
