
.code-example {
  & > pre {
    padding: 0;

    & > code {
      background-color: var(--mantle);
      border: 1px solid var(--surface0);
      color: var(--text);
      line-height: 1.4;

      &.hljs {
        padding: 1.5em;
      }
    }
  }
}
