<header>
  <h1>Breadcrumbs</h1>
</header>

<section id="regular">
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eum architecto minus deserunt reiciendis debitis distinctio sit, modi, id! Vel a provident, rerum eius est placeat fugiat incidunt officiis id.</p>

  <ol class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Leisure &amp; safety products</a></li>
    <li><a href="#">Travelpacks &amp; backpacks</a></li>
    <li><span>Daypack</span></li>
  </ol>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-breadcrumbs">
    <label for="code-breadcrumbs" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ol class="breadcrumbs"&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;</code></pre>
  
  </div>
</section>

<section id="knobs">
  
  <header>
    <h2>Knobs</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis necessitatibus repellat cumque, vitae quas inventore, libero officiis impedit soluta, facilis excepturi dolore adipisci doloribus repellendus magnam et quis, maiores sit.</p>

  <ol class="breadcrumbs knobs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Leisure &amp; safety products</a></li>
    <li><a href="#">Travelpacks &amp; backpacks</a></li>
    <li>Daypack<br></li>
  </ol>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-breadcrumb-knobs">
    <label for="code-breadcrumb-knobs" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ol class="breadcrumbs knobs"&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;</code></pre>

</section>

<section id="steps">
  
  <header>
    <h2>Steps</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui itaque quasi, laboriosam saepe unde! Doloremque nemo dolorum aliquid alias quia. Amet ab doloribus consequatur pariatur cum. Rem suscipit obcaecati, error.</p>
  <p>Laborum, minus. Nam sint laborum id quo doloribus labore eligendi, temporibus repellendus consequatur veritatis. Laudantium temporibus odit dolorem vel tempore atque itaque, impedit voluptates quo nisi iste quidem amet voluptatem!</p>

  <ul class="breadcrumbs steps">
    <li>
      <a href="">
        <h5>Shipping</h5>
        Choose your shipping method
      </a>
    </li>
    <li class="active">
      <span>
        <h5>Billing</h5>
        Enter billing information
      </span>
    </li>
    <li>
      <a href="">
        <h5>Confirm order</h5>
         Verify order details
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-breadcrumbs-steps">
    <label for="code-breadcrumbs-steps" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="breadcrumbs steps"&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;...&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;span&gt;...&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;...&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  
  </div>

  <header><h3>Icons</h3></header>

  <p>Aperiam quidem pariatur dolor, neque, accusamus nulla laboriosam omnis! Consequatur odit vitae in nihil quod laboriosam expedita repellendus numquam cum, iste exercitationem, excepturi dolorem quasi magni vel tenetur ex nostrum?</p>

  <ul class="breadcrumbs steps icons">
    <li>
      <a href="">
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#star"></use>
        </svg>
        <h6>Shipping</h6>
        Choose your shipping method
      </a>
    </li>
    <li class="active">  
      <span>
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#warning"></use>
        </svg>
        <h6>Billing</h6>
        Enter billing information
      </span>
    </li>
    <li>
      <a href="">
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#mail"></use>
        </svg>
        <h6>Confirm order</h6>
         Verify order details
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-breadcrumbs-steps-icons">
    <label for="code-breadcrumbs-steps-icons" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="breadcrumbs steps icons"&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;
      &lt;svg class="icon"&gt;...&lt;/svg&gt;
      ...
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;span&gt;
      &lt;svg class="icon"&gt;...&lt;/svg&gt;
      ...
    &lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="..."&gt;
      &lt;svg class="icon"&gt;...&lt;/svg&gt;
      ...
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
  
  </div>

  <header>
    <h3>Vertical</h3>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum similique impedit deleniti tenetur maiores tempore nobis, quidem voluptates adipisci obcaecati veniam, cumque quo. Aperiam perferendis dignissimos, rerum omnis, pariatur optio!</p>

  <ul class="breadcrumbs steps vertical icons">
    <li>
      <a href="">
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#star"></use>
        </svg>
        <h6>Shipping</h6>
        Choose your shipping method
      </a>
    </li>
    <li class="active">  
      <span>
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#warning"></use>
        </svg>
        <h6>Billing</h6>
        Enter billing information
      </span>
    </li>
    <li>
      <a href="">
        <svg class="icon">
          <use xlink:href="/icons/icons.svg#mail"></use>
        </svg>
        <h6>Confirm order</h6>
         Verify order details
      </a>
    </li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-breadcrumbs-steps-vertical">
    <label for="code-breadcrumbs-steps-vertical" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="breadcrumbs steps vertical"&gt;...&lt;/ul&gt;</code></pre>
  
  </div>

</section>