<header>
  <h1>Containers</h1>
</header>

<section id="regular">
  <header>
    <h2>Regular</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi ab iste mollitia dicta possimus vel, molestiae saepe, voluptate totam fugit deleniti necessitatibus sed corrupti dolores rem impedit id. Maiores.</p>

  <div class="container">
    <p class="sample-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et iure ducimus voluptas architecto tenetur itaque assumenda vitae fugit doloribus, hic commodi vel molestiae dolore cupiditate distinctio deleniti illo provident ab!</p>
  </div>

  <div class="code-example">
    <input type="checkbox" id="code-container-regular">
    <label for="code-container-regular" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;div class="container"&gt;...&lt;/div&gt;</code></pre>
  </div>
</section>

<section id="colors">
  <header>
    <h2>Colors</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iure laudantium at fuga vero ad perspiciatis quisquam magnam, optio saepe natus voluptatem, quidem, ab! Provident repellendus modi et accusantium reiciendis.</p>
  
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 1em;">
    
    <div class="container yellow" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container blue" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container red" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container green" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container purple" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container orange" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>

    <div class="container gray" style="margin: 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni minima, quam nesciunt nostrum voluptatum facere assumenda.</p>
    </div>
  </div>


  <div class="code-example">
    <input type="checkbox" id="code-container-colors">
    <label for="code-container-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;div class="container yellow"&gt;...&lt;/div&gt;
&lt;div class="container blue"&gt;...&lt;/div&gt;
&lt;div class="container red"&gt;...&lt;/div&gt;
&lt;div class="container green"&gt;...&lt;/div&gt;
&lt;div class="container purple"&gt;...&lt;/div&gt;
&lt;div class="container orange"&gt;...&lt;/div&gt;
&lt;div class="container gray"&gt;...&lt;/div&gt;</code></pre>
  </div>

</section>

<section id="mock-browser">
  <header>
    <h2>Mock browser</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laborum eius provident aut. Vero enim nobis rem. Qui molestias, accusamus odit perspiciatis fugit temporibus natus laudantium doloremque. Iure blanditiis, ipsum!</p>

  <div class="container browser">
    <main>
      <p class="sample-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem earum temporibus, exercitationem fugit illo placeat qui debitis quos soluta. Iusto a odit libero fugit excepturi numquam sapiente omnis quos unde?</p>
    </main>
  </div>


  <div class="code-example">
    <input type="checkbox" id="code-container-browser">
    <label for="code-container-browser" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;div class="container browser"&gt;
  &lt;main&gt;...&lt;/main&gt;
&lt;/div&gt;</code></pre>
  </div>  

  <header>
    <h2>URL</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laborum eius provident aut. Vero enim nobis rem. Qui molestias, accusamus odit perspiciatis fugit temporibus natus laudantium doloremque. Iure blanditiis, ipsum!</p>

  <div class="container browser">
    <span class="url">http://nausikaa.site</span>
    <main>  
      <p class="sample-text">Animi consequatur deleniti accusamus quia, voluptates similique, veniam, asperiores, modi quo odit ratione mollitia rerum autem quod iusto. Odio, voluptas tenetur asperiores delectus quasi saepe adipisci eius quia provident facere.</p>
    </main>
  </div>

  <div class="code-example">
    <input type="checkbox" id="code-container-url">
    <label for="code-container-url" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;div class="container browser"&gt;
  &lt;span class="url"&gt;http://...&lt;/span&gt;
  &lt;main&gt;...&lt;/main&gt;
&lt;/div&gt;</code></pre>
  </div>

</section>
