<header>
  <h1>Dropdowns</h1>
</header>

<section>
  <p>Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor.   Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis   elementum arcu nec enim sagittis interdum. Praesent gravida lacinia   ipsum, et rutrum felis posuere nec. Duis ipsum ipsum, consectetur in   molestie non, dignissim eget ex. Maecenas ut fermentum libero. Mauris eu   libero sollicitudin, pulvinar nunc id, facilisis odio.</p>

  <div class="dropdown focus-within">
    <button class="primary">Dropdown button (fixed)</button>
    <nav class="panel arrow">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>
  &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

  <div class="dropdown">
    <button class="secondary" tabindex="0">Dropdown button (regular)</button>
    <nav class="panel arrow">
      <ul>
        <li><a href="">Food spoilage</a></li>
        <li><a href="">Pathogenic yeasts</a></li>
        <li><a href="">Ethanol fermentation</a></li>
        <li><a href="">Zymology</a></li>
        <li><a href="">Yeast plasmids</a></li>
      </ul>
    </nav>
  </div>


  <div class="code-example">
    
    <input type="checkbox" id="code-dropdowns">
    <label for="code-dropdowns" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow"&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/div&gt;</code></pre>
  
  </div>

  <h2>Dropdown locations</h2>
  
  <p>
    Maecenas ut fermentum libero. Mauris eu   libero sollicitudin, pulvinar nunc id, facilisis odio.
  </p>
  
  <div class="dropdown">
    <button tabindex="0">Top left dropdown</button>
    <nav class="panel arrow bottom right">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <button tabindex="0">Top center dropdown</button>
    <nav class="panel arrow bottom center">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <button tabindex="0">Top right dropdown</button>
    <nav class="panel arrow bottom left">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <br>

  <div class="dropdown">
    <button tabindex="0">Bottom left dropdown</button>
    <nav class="panel arrow top right">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <button tabindex="0">Bottom center dropdown</button>
    <nav class="panel arrow top center">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <button tabindex="0">Bottom right dropdown</button>
    <nav class="panel arrow top left">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-dropdown-arrows">
    <label for="code-dropdown-arrows" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow bottom right"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow bottom center"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow bottom left"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow top right"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow top center"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;nav class="panel arrow top left"&gt;&lt;/nav&gt;
&lt;/div&gt;</code></pre>
  
  </div>

  <h2>Dropdown links</h2>
  
  <div class="dropdown">
    <a tabindex="0">Dropdown link</a>
    <nav class="panel yellow arrow">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <a tabindex="0">Another dropdown link</a>
    <nav class="panel blue arrow bottom center">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <br><br>

  <div class="dropdown">
    <a class="knob red" tabindex="0">
      Dropdown knob
      <svg class="icon last">
        <use xlink:href="/icons/icons.svg#chevron-down"></use>
      </svg>
    </a>
    <nav class="panel red arrow">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <a class="knob purple" tabindex="0">
      Another dropdown knob
      <svg class="icon last" style="">
        <use xlink:href="/icons/icons.svg#chevron-down"></use>
      </svg>
    </a>
    <nav class="panel purple arrow bottom center">
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Yeast#Aquarium_hobby">Aquarium hobby</a></li>
        <li><a href="">Bioremediation</a></li>
        <li><a href="">Yeast extract</a></li>
        <li><a href="">Nonalcoholic beverages</a></li>
        <li><a href="">Scientific research</a></li>
      </ul>
    </nav>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-dropdown-links">
    <label for="code-dropdown-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="dropdown"&gt;
  &lt;a tabindex="..."&gt;...&lt;/a&gt;
  &lt;nav class="panel arrow"&gt;&lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;a tabindex="..." class="knob"&gt;...&lt;/a&gt;
  &lt;nav class="panel arrow"&gt;&lt;/nav&gt;
&lt;/div&gt;</code></pre>
  
  </div>

  <header>
    <h2>Dropdown filters</h2>
  </header>


  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nemo modi fuga fugit, cumque voluptas cum animi dolore accusamus ducimus tenetur hic rem nostrum dolor, voluptatem commodi iusto amet perspiciatis?</p>

  <div class="dropdown">
    <button>
      Dropdown with filter (checkboxes)
      <svg class="icon last">
        <use xlink:href="/icons/icons.svg#chevron-down"></use>
      </svg>
    </button>
    <nav class="panel arrow bottom center">
      <div class="header">Filter title</div>
      <ul class="checkboxes">
        <li>
          <input id="labelOne1" type="checkbox" checked="">
          <label for="labelOne1">Label 1 <small>checked</small></label>
        </li>
        <li>
          <input id="labelTwo1" type="checkbox">
          <label for="labelTwo1">Label 2</label>
        </li>
        <li>
          <input id="labelThree1" type="checkbox">
          <label for="labelThree1">Label 3</label>
        </li>
        <li>
          <input id="labelFour1" type="checkbox">
          <label for="labelFour1">Label 4</label>
        </li>
        <li>
          <input id="labelFive1" type="checkbox">
          <label for="labelFive1">Label 5</label>
        </li>
        <li>
          <input id="labelSix1" type="checkbox">
          <label for="labelSix1">Label 6</label>
        </li>
        <li>
          <input id="labelSeven1" type="checkbox" disabled="">
          <label for="labelSeven1">Label 7 <small>disabled</small></label>
        </li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
    <button class="primary">
      Dropdown with filter (radio buttons)
      <svg class="icon last">
        <use xlink:href="/icons/icons.svg#chevron-down"></use>
      </svg>
    </button>
    <nav class="panel arrow bottom center">
      <div class="header">Filter title</div>
      <ul class="checkboxes">
        <li>
          <input id="labelOne2" name="radio1" type="radio" checked="">
          <label for="labelOne2">Label 1 <small>checked</small></label>
        </li>
        <li>
          <input id="labelTwo2" name="radio1" type="radio">
          <label for="labelTwo2">Label 2</label>
        </li>
        <li>
          <input id="labelThree2" name="radio1" type="radio">
          <label for="labelThree2">Label 3</label>
        </li>
        <li>
          <input id="labelFour2" name="radio1" type="radio">
          <label for="labelFour2">Label 4</label>
        </li>
        <li>
          <input id="labelFive2" name="radio1" type="radio">
          <label for="labelFive2">Label 5</label>
        </li>
        <li>
          <input id="labelSix2" name="radio1" type="radio">
          <label for="labelSix2">Label 6</label>
        </li>
        <li>
          <input id="labelSeven2" name="radio1" type="radio" disabled="">
          <label for="labelSeven2">Label 7 <small>disabled</small></label>
        </li>
      </ul>
    </nav>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-dropdown-filters">
    <label for="code-dropdown-filters" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="dropdown"&gt;
  &lt;nav class="panel arrow"&gt;
    &lt;ul class="checkboxes"&gt;...&lt;/ul&gt;
  &lt;/nav&gt;
&lt;/div&gt;

&lt;div class="dropdown"&gt;
  &lt;nav class="panel arrow"&gt;
    &lt;ul class="radios"&gt;...&lt;/ul&gt;
  &lt;/nav&gt;
&lt;/div&gt;</code></pre>
  
  </div>

</section>