<header>
  <h1>Notifications</h1>
</header>

<section>

  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>

</section>
<section id="regular">
  <header>
    <h2>Regular</h2>
  </header>

  <div class="notification">
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum.</p>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-notification-regular">
    <label for="code-notification-regular" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="notification"&gt;&lt;/div&gt;</code></pre>
  
  </div>

</section>
<section id="close">

  <header>
    <h2>Close</h2>
  </header>

  <div class="notification">
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum.</p>

    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-notification-close">
    <label for="code-notification-close" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="notification"&gt;
  ...
  &lt;a class="control close"&gt;&lt;svg&gt;...&lt;/svg&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
  
  </div>

</section>
<section id="icons">
  <header>
    <h2>Icons</h2>
  </header>

  <div class="notification">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#warning"></use>
    </svg>
    <p>Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis elementum arcu nec enim. Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis elementum arcu nec enim.</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="code-example">
      
    <input type="checkbox" id="code-notification-icons">
    <label for="code-notification-icons" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="notification"&gt;
  &lt;svg class="icon"&gt;...&lt;/svg&gt;
  ...
&lt;/div&gt;</code></pre>

  </div>

</section>
<section id="colors">

  <header>
    <h2>Colors</h2>
  </header>

  <div class="notification yellow">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#warning"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>
  
  <div class="notification blue">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#info"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="notification red">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#help"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="notification green">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#puzzle"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="notification purple">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#running"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="notification orange">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#mail"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="notification gray">
    <svg class="icon">
      <use xlink:href="/icons/icons.svg#star"></use>
    </svg>
    <h2>Warning! Achtung!</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
    <a class="control close">
      <svg>
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </a>
  </div>

  <div class="code-example">
      
    <input type="checkbox" id="code-notification-colors">
    <label for="code-notification-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="notification yellow"&gt;&lt;/div&gt;
&lt;div class="notification blue"&gt;&lt;/div&gt;
&lt;div class="notification red"&gt;&lt;/div&gt;
&lt;div class="notification green"&gt;&lt;/div&gt;
&lt;div class="notification purple"&gt;&lt;/div&gt;
&lt;div class="notification orange"&gt;&lt;/div&gt;
&lt;div class="notification gray"&gt;&lt;/div&gt;</code></pre>

  </div>

</section>
<section id="sticky">

  <header>
    <h2>Sticky</h2>
  </header>

  <div class="container browser">
    <div class="notification sticky yellow">
      <p>At vero eos et accusamus et <strong>iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</strong> deleniti atque corrupti quos dolores et quas molestias excepturi?</p>
      <a class="control close">
        <svg>
          <use xlink:href="/icons/icons.svg#clear"></use>
        </svg>
      </a>
    </div>
    <main>
      <p class="sample-text">Suspendisse pharetra euismod diam, a consectetur dui. Pellentesque lacinia ullamcorper gravida. Nulla lorem justo, vehicula et lectus quis.</p>
      <p class="sample-text">Integer blandit risus libero, eget imperdiet nibh euismod eget. Pellentesque neque felis, feugiat id arcu eget, laoreet posuere diam.</p>
      <blockquote class="sample-text">Quisque sit amet nunc arcu. Cras porttitor leo semper eleifend pulvinar. Quisque placerat ut quam a convallis.</blockquote>
      <p class="sample-text">Mauris malesuada arcu ac nisi tincidunt, vitae cursus eros porttitor. Phasellus consequat diam convallis lobortis luctus. Donec sollicitudin mauris posuere eros dapibus.</p>
    </main>
  </div>
  
  <div class="code-example">
      
    <input type="checkbox" id="code-notification-sticky">
    <label for="code-notification-sticky" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="notification sticky"&gt;&lt;/div&gt;</code></pre>

  </div>
</section>