<header>
  <h1>Panels</h1>
</header>

<p>Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor.  Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis  elementum arcu nec enim sagittis interdum. Praesent gravida lacinia  ipsum, et rutrum felis posuere nec. Duis ipsum ipsum, consectetur in  molestie non, dignissim eget ex. Maecenas ut fermentum libero. Mauris eu  libero sollicitudin, pulvinar nunc id, facilisis odio. </p>

<section id="regular">

  <header>
    <h2>Regular</h2>
  </header>

  <nav class="panel">
    <ul>
      <li><a href="">Returns &amp; Replacements</a></li>
      <li class="active"><a href="">Delivery Rates &amp; Policies</a></li>
      <li><a href="">Track Packages or View Orders</a></li>
      <li class="seperator"></li>
      <li><a href="">Gift Cards</a></li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-regular">
    <label for="code-panel-regular" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel"&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li class="active"&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li class="seperator"&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  
  </div>


</section>
<section id="subnav">
  <header>
    <h2>Subnav</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor a corporis aut nulla impedit reprehenderit eveniet consectetur quibusdam in. Doloribus sequi molestiae consequatur qui necessitatibus voluptate odio, quod laboriosam.</p>

  <nav class="panel">
    <div class="header">Eukaryotic Organisms</div>
    <ul>
      <li><a href="">Reproduction</a></li>
      <li class="active"><a href="">Pathogenic mechanisms</a></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-1">
        <label for="subnav-1">
          Symbiosis
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">With plants</a></li>
          <li><a href="">With algae and cyanobacteria</a></li>
          <li><a href="">With insects</a></li>
          <li><a href="">As pathogens and parasites</a></li>
          <li><a href="">As targets of mycoparasites</a></li>
        </ul>
      </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-2" checked="">
        <label for="subnav-2">
          Human use
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Therapeutic uses</a></li>
          <li><a href="">Traditional and folk medicine</a></li>
          <li><a href="">Cultured foods</a></li>
          <li><a href="">Poisonous fungi</a></li>
          <li><a href="">Bioremediation</a></li>
        </ul>
      </li>
      <li><a href="">Growth and physiology</a></li>
      <li><a href="">See also</a></li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-subnav">
    <label for="code-panel-subnav" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel"&gt;
  &lt;div class="header"&gt;...&lt;/div&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li class="active"&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li class="subnav"&gt;
      &lt;input type="checkbox" id="..." /&gt;
      &lt;label for="..."&gt;
        ...
        &lt;svg class="icon"&gt;...&lt;/svg&gt;
      &lt;/label&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;a href=""&gt;...&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=""&gt;...&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=""&gt;...&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;      
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="..."&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  
  </div>

</section>

<section id="icons">

  <header>
    <h2>Icons</h2>
  </header>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus odio nesciunt harum neque deserunt deleniti nemo, explicabo id accusamus voluptatum dolor, porro eligendi possimus culpa pariatur. Omnis, dolores ad nam.</p>

  <nav class="panel">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Eukaryotic Organisms
    </div>
    <ul>
      <li><a href="">
        <svg class="icon">
          <use xlink:href="/images/icons.svg#user"></use>
        </svg>
        Reproduction
      </a></li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Pathogenic mechanisms</a>
        </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-3">
        <label for="subnav-3">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#upload"></use>
          </svg>
          Symbiosis
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li>
            <a href="">
              With plants
            </a>
          </li>
          <li><a href="">With algae and cyanobacteria</a></li>
          <li><a href="">With insects</a></li>
          <li><a href="">As pathogens and parasites</a></li>
          <li><a href="">As targets of mycoparasites</a></li>
        </ul>
      </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-4" checked="">
        <label for="subnav-4">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#help"></use>
          </svg>
          Human use
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#puzzle"></use>
              </svg>
              Therapeutic uses
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#info"></use>
              </svg>
              Traditional and folk medicine
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#save-alt"></use>
              </svg>
              Cultured foods
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Poisonous fungi
            </a>
          </li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#search"></use>
              </svg>
              Bioremediation
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#star"></use>
          </svg>
          Growth and physiology
        </a>
      </li>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          See also
        </a>
      </li>
    </ul>
  </nav>

</section>

<section id="colors">
  <header>
    <h2>Colors</h2>
  </header>

  <nav class="panel yellow">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-3" checked="">
        <label for="subnav-3">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel red">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-4" checked="">
        <label for="subnav-4">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel blue">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-5" checked="">
        <label for="subnav-5">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel green">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-6" checked="">
        <label for="subnav-6">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel orange">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-7" checked="">
        <label for="subnav-7">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel purple">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-8" checked="">
        <label for="subnav-8">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <nav class="panel gray">
    <div class="header">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#cart"></use>
      </svg>
      Dolichoderinae
    </div>
    <ul>
      <li>
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#warning"></use>
          </svg>
          Bothriomyrmecini
        </a>
      </li>
      <li><a href="">Leptomyrmecini</a></li>
      <li class="seperator"></li>
      <li class="subnav">
        <input type="checkbox" id="subnav-9" checked="">
        <label for="subnav-9">
          Tapinomini
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul>
          <li><a href="">Axinidris</a></li>
          <li><a href="">Nebothriomyrmex</a></li>
          <li>
            <a href="">
              <svg class="icon">
                <use xlink:href="/images/icons.svg#report-off"></use>
              </svg>
              Proiridomyrmex
            </a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a href="">
          <svg class="icon">
            <use xlink:href="/images/icons.svg#mail"></use>
          </svg>
          Agroecomyrmecini
        </a>
      </li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-colors">
    <label for="code-panel-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel yellow"&gt;&lt;/nav&gt;
&lt;nav class="panel blue"&gt;&lt;/nav&gt;
&lt;nav class="panel red"&gt;&lt;/nav&gt;
&lt;nav class="panel green"&gt;&lt;/nav&gt;
&lt;nav class="panel purple"&gt;&lt;/nav&gt;
&lt;nav class="panel orange"&gt;&lt;/nav&gt;
&lt;nav class="panel gray"&gt;&lt;/nav&gt;</code></pre>
  
  </div>


</section>
<section id="arrows">
  <header>
    <h2>Arrows</h2>
  </header>

  &nbsp;<br>

  <nav class="panel arrow" style="display: inline-block;">
    <ul>
      <li><a href="" style="padding-right: 5em;">Respiration and circulation</a></li>
      <li><a href="">Nervous system</a></li>
      <li><a href="">Evolutionary history</a></li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-arrows">
    <label for="code-panel-arrows" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel arrow"&gt;&lt;/nav&gt;</code></pre>
  
  </div>


  <h2>Arrow locations</h2>

  &nbsp;<br>

  <nav class="panel arrow top left" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Top left</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>
  <nav class="panel arrow top center" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Top center</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>
  <nav class="panel arrow top right" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Top right</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>
  <br>
  <nav class="panel arrow bottom left" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Bottom left</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>
  <nav class="panel arrow bottom center" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Bottom center</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>
  <nav class="panel arrow bottom right" style="display: inline-block; width: 30%; margin-right: 1em;">
    <ul>
      <div class="header">Bottom right</div>
      <li><a href="">Fossil record</a></li>
      <li><a href="">Classification</a></li>
      <li><a href="">Exoskeleton</a></li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-arrow-locations">
    <label for="code-panel-arrow-locations" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel arrow top left"&gt;&lt;/nav&gt;
&lt;nav class="panel arrow top center"&gt;&lt;/nav&gt;
&lt;nav class="panel arrow top right"&gt;&lt;/nav&gt;
&lt;nav class="panel arrow bottom left"&gt;&lt;/nav&gt;
&lt;nav class="panel arrow bottom center"&gt;&lt;/nav&gt;
&lt;nav class="panel arrow bottom right"&gt;&lt;/nav&gt;</code></pre>
  
  </div>


</section>

<section id="filters">
  <header>
    <h2>Filters</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni ipsam iure blanditiis consectetur, doloremque nisi, eum dolorum nihil aut sapiente. Quae, ipsam ut adipisci, neque dolorum harum architecto similique.</p>

  <div class="panel gray" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="checkboxes">
      <li>
        <input id="labelOne1" type="checkbox" checked="">
        <label for="labelOne1">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo1" type="checkbox">
        <label for="labelTwo1">Label 2</label>
      </li>
      <li>
        <input id="labelThree1" type="checkbox">
        <label for="labelThree1">Label 3</label>
      </li>
      <li>
        <input id="labelFour1" type="checkbox" disabled="">
        <label for="labelFour1">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>

  <div class="panel blue" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="checkboxes">
      <li>
        <input id="labelOne2" type="checkbox" checked="">
        <label for="labelOne2">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo2" type="checkbox">
        <label for="labelTwo2">Label 2</label>
      </li>
      <li>
        <input id="labelThree2" type="checkbox">
        <label for="labelThree2">Label 3</label>
      </li>
      <li>
        <input id="labelFour2" type="checkbox" disabled="">
        <label for="labelFour2">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>

  <div class="panel orange" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="checkboxes">
      <li>
        <input id="labelOne3" type="checkbox" checked="">
        <label for="labelOne3">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo3" type="checkbox">
        <label for="labelTwo3">Label 2</label>
      </li>
      <li>
        <input id="labelThree3" type="checkbox">
        <label for="labelThree3">Label 3</label>
      </li>
      <li>
        <input id="labelFour3" type="checkbox" disabled="">
        <label for="labelFour3">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>

  <div class="panel red" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="radios">
      <li>
        <input id="labelOne4" name="radio1" type="radio" checked="">
        <label for="labelOne4">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo4" name="radio1" type="radio">
        <label for="labelTwo4">Label 2</label>
      </li>
      <li>
        <input id="labelThree4" name="radio1" type="radio">
        <label for="labelThree4">Label 3</label>
      </li>
      <li>
        <input id="labelFour4" name="radio1" type="radio" disabled="">
        <label for="labelFour4">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>

  <div class="panel yellow" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="radios">
      <li>
        <input id="labelOne5" name="radio2" type="radio" checked="">
        <label for="labelOne5">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo5" name="radio2" type="radio">
        <label for="labelTwo5">Label 2</label>
      </li>
      <li>
        <input id="labelThree5" name="radio2" type="radio">
        <label for="labelThree5">Label 3</label>
      </li>
      <li>
        <input id="labelFour5" name="radio2" type="radio" disabled="">
        <label for="labelFour5">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>

  <div class="panel purple" style="display: inline-block; width: 30%; margin-right: 1em;">
    <div class="header">Filter title</div>
    <ul class="radios">
      <li>
        <input id="labelOne6" name="radio3" type="radio" checked="">
        <label for="labelOne6">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input id="labelTwo6" name="radio3" type="radio">
        <label for="labelTwo6">Label 2</label>
      </li>
      <li>
        <input id="labelThree6" name="radio3" type="radio">
        <label for="labelThree6">Label 3</label>
      </li>
      <li>
        <input id="labelFour6" name="radio3" type="radio" disabled="">
        <label for="labelFour6">Label 4 <small>disabled</small></label>
      </li>
    </ul>
  </div>


  <div class="code-example">
    
    <input type="checkbox" id="code-panel-filters">
    <label for="code-panel-filters" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel"&gt;
  &lt;ul class="checkboxes"&gt;...&lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class="panel"&gt;
  &lt;ul class="radios"&gt;...&lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  
  </div>

  <header>
    <h2>Filters subnav</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni ipsam iure blanditiis consectetur, doloremque nisi, eum dolorum nihil aut sapiente. Quae, ipsam ut adipisci, neque dolorum harum architecto similique.</p>

  <div class="panel">
    <div class="header">Filter title</div>
    <ul>
      <li class="subnav">
        <input type="checkbox" id="subnav-x" checked="">
        <label for="subnav-x">
          Filter subnav option 1
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul class="checkboxes">
          <li>
            <input id="labelOne7" type="checkbox" checked="">
            <label for="labelOne7">Label 1 <small>checked</small></label>
          </li>
          <li>
            <input id="labelTwo7" type="checkbox">
            <label for="labelTwo7">Label 2</label>
          </li>
          <li>
            <input id="labelThree7" type="checkbox">
            <label for="labelThree7">Label 3</label>
          </li>
          <li>
            <input id="labelFour7" type="checkbox">
            <label for="labelFour7">Label 4</label>
          </li>
          <li>
            <input id="labelFive7" type="checkbox">
            <label for="labelFive7">Label 5</label>
          </li>
          <li>
            <input id="labelSix7" type="checkbox" disabled="">
            <label for="labelSix7">Label 6 <small>disabled</small></label>
          </li>
        </ul>
      </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-y">
        <label for="subnav-y">
          Filter subnav option 2
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul class="checkboxes">
          <li>
            <input id="labelOne8" type="checkbox" checked="">
            <label for="labelOne8">Label 1 <small>checked</small></label>
          </li>
          <li>
            <input id="labelTwo8" type="checkbox">
            <label for="labelTwo8">Label 2</label>
          </li>
          <li>
            <input id="labelThree8" type="checkbox">
            <label for="labelThree8">Label 3</label>
          </li>
          <li>
            <input id="labelFour8" type="checkbox" disabled="">
            <label for="labelFour8">Label 4 <small>disabled</small></label>
          </li>
          <li>
            <input id="labelFive8" type="checkbox">
            <label for="labelFive8">Label 5</label>
          </li>
          <li>
            <input id="labelSix8" type="checkbox">
            <label for="labelSix8">Label 6</label>
          </li>
        </ul>
      </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-z">
        <label for="subnav-z">
          Filter subnav option 3
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul class="checkboxes">
          <li>
            <input id="labelOne8" type="checkbox" checked="">
            <label for="labelOne8">Label 1 <small>checked</small></label>
          </li>
          <li>
            <input id="labelTwo8" type="checkbox">
            <label for="labelTwo8">Label 2</label>
          </li>
          <li>
            <input id="labelThree8" type="checkbox">
            <label for="labelThree8">Label 3</label>
          </li>
          <li>
            <input id="labelFour8" type="checkbox" disabled="">
            <label for="labelFour8">Label 4 <small>disabled</small></label>
          </li>
          <li>
            <input id="labelFive8" type="checkbox">
            <label for="labelFive8">Label 5</label>
          </li>
          <li>
            <input id="labelSix8" type="checkbox">
            <label for="labelSix8">Label 6</label>
          </li>
        </ul>
      </li>
      <li class="subnav">
        <input type="checkbox" id="subnav-a">
        <label for="subnav-a">
          Filter subnav option 4
          <svg class="icon chevron">
            <use xlink:href="/images/icons.svg#chevron-down"></use>
          </svg>
        </label>
        <ul class="checkboxes">
          <li>
            <input id="labelOne10" type="checkbox" checked="">
            <label for="labelOne10">Label 1 <small>checked</small></label>
          </li>
          <li>
            <input id="labelTwo10" type="checkbox">
            <label for="labelTwo10">Label 2</label>
          </li>
          <li>
            <input id="labelThree10" type="checkbox">
            <label for="labelThree10">Label 3</label>
          </li>
          <li>
            <input id="labelFour10" type="checkbox" disabled="">
            <label for="labelFour10">Label 4 <small>disabled</small></label>
          </li>
          <li>
            <input id="labelFive10" type="checkbox">
            <label for="labelFive10">Label 5</label>
          </li>
          <li>
            <input id="labelSix10" type="checkbox">
            <label for="labelSix10">Label 6</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="code-example">
    
    <input type="checkbox" id="code-panel-filter-subnav">
    <label for="code-panel-filter-subnav" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel"&gt;
  &lt;div class="header"&gt;...&lt;/div&gt;
  &lt;ul&gt;
    &lt;li class="subnav"&gt;
      &lt;input type="checkbox" id="..." /&gt;
      &lt;label for="..."&gt;
        ...
        &lt;svg class="icon"&gt;...&lt;/svg&gt;
      &lt;/label&gt;
      &lt;ul class="checkboxes"&gt;...&lt;/ul&gt;      
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class="panel"&gt;
  &lt;div class="header"&gt;...&lt;/div&gt;
  &lt;ul&gt;
    &lt;li class="subnav"&gt;
      &lt;input type="checkbox" id="..." /&gt;
      &lt;label for="..."&gt;
        ...
        &lt;svg class="icon"&gt;...&lt;/svg&gt;
      &lt;/label&gt;
      &lt;ul class="radios"&gt;...&lt;/ul&gt;      
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
  
  </div>
</section>

<section id="forms">

  <header>
    <h2>Forms</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sunt animi porro dolor, alias velit, quod consectetur corrupti esse optio qui. Dolorum dignissimos debitis laborum, quis nobis aperiam illo aliquam.</p>

  <nav class="panel" style="display: inline-block; width: 45%; margin-right: 1em;">
    <form action="" class="group">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#search"></use>
      </svg>
      <input type="search" placeholder="Search..." class="prepend-icon">
    </form>
    <ul>
      <li><a href="">Returns &amp; Replacements</a></li>
      <li><a href="">Delivery Rates &amp; Policies</a></li>
      <li><a href="">Track Packages or View Orders</a></li>
      <li><a href="">Gift Cards</a></li>
    </ul>
  </nav>

  <nav class="panel gray" style="display: inline-block; width: 45%; margin-right: 1em;">
    <ul>
      <li><a href="">Returns &amp; Replacements</a></li>
      <li><a href="">Delivery Rates &amp; Policies</a></li>
      <li><a href="">Track Packages or View Orders</a></li>
      <li><a href="">Gift Cards</a></li>
    </ul>
    <form action="" class="group">
      <input type="search" placeholder="New item">
      <button class="primary">Add</button>
    </form>
  </nav>

  <nav class="panel blue" style="display: inline-block; width: 45%; margin-right: 1em;">
    <select name="" id="" style="width: 100%;">
      <option value=""></option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <ul>
      <li><a href="">Returns &amp; Replacements</a></li>
      <li><a href="">Delivery Rates &amp; Policies</a></li>
      <li><a href="">Track Packages or View Orders</a></li>
      <li><a href="">Gift Cards</a></li>
    </ul>
  </nav>

  <nav class="panel green" style="display: inline-block; width: 45%; margin-right: 1em;">
    <ul>
      <li><a href="">Returns &amp; Replacements</a></li>
      <li><a href="">Delivery Rates &amp; Policies</a></li>
      <li><a href="">Track Packages or View Orders</a></li>
      <li><a href="">Gift Cards</a></li>
    </ul>
    <form action="" class="group">
      <button class="positive">Filter</button>
      <select name="" id="">
        <option value=""></option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </form>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-panel-forms">
    <label for="code-panel-forms" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;nav class="panel"&gt;
  &lt;form&gt;...&lt;/form&gt;
&lt;/nav&gt;</code></pre>
  
  </div>


</section>
