<header>
  <h1>Tags</h1>
</header>

<p> Integer accumsan in elit vitae lobortis. Cras nisl est, varius a erat  vel, sagittis scelerisque purus. Proin quis leo justo. Sed aliquam nisl  et nisi suscipit pellentesque. Fusce dictum felis id ante viverra, non  consectetur elit volutpat. Nulla a egestas neque. Praesent quis erat  pulvinar, aliquet nunc quis, dapibus enim. </p>

<section id="regular">
  <header>
    <h2>Regular</h2>
  </header>

  <h1>
    Header H1 with tag <span class="tag">Tagtastic</span>
  </h1>
  <h2>
    Header H2 with tag <span class="tag">Tagtastic</span>
  </h2>
  <h3>
    Header H3 with tag <span class="tag">Tagtastic</span>
  </h3>
  <h4>
    Header H4 with tag <span class="tag">Tagtastic</span>
  </h4>
  <h5>
    Header H5 with tag <span class="tag">Tagtastic</span>
  </h5>
  <h6>
    Header H6 with tag <span class="tag">Tagtastic</span>
  </h6>
  
  <p>A piece of text with a trailing tag <span class="tag">Tagilicious</span></p>

  <div class="code-example">
    
    <input type="checkbox" id="code-tag-regular">
    <label for="code-tag-regular" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;h1&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h1&gt;
&lt;h2&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h2&gt;
&lt;h3&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h3&gt;
&lt;h4&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h4&gt;
&lt;h5&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h5&gt;
&lt;h6&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/h6&gt;
&lt;p&gt;... &lt;span class="tag"&gt;...&lt;/span&gt;&lt;/p&gt;</code></pre>
  
  </div>

</section>

<section id="color">
  <header>
    <h2>Colors</h2>
  </header>

  <h1>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h1>
  <h2>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h2>
  <h3>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h3>
  <h4>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h4>
  <h5>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h5>
  <h6>
    <span class="tag red">Red</span> 
    <span class="tag yellow">Yellow</span> 
    <span class="tag blue">Blue</span> 
    <span class="tag green">Green</span> 
    <span class="tag purple">Purple</span> 
    <span class="tag orange">Orange</span>
    <span class="tag pink">Pink</span>
    <span class="tag teal">Teal</span>
    <span class="tag olive">Olive</span>
    <span class="tag navy">Navy</span>
    <span class="tag salmon">Salmon</span>
    <span class="tag magenta">Magenta</span>
    <span class="tag cyan">Cyan</span>
    <span class="tag black">Black</span>
  </h6>

  <div class="code-example">
    
    <input type="checkbox" id="code-tag-colors">
    <label for="code-tag-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;span class="tag red"&gt;...&lt;/span&gt;
&lt;span class="tag yellow"&gt;...&lt;/span&gt;
&lt;span class="tag blue"&gt;...&lt;/span&gt;
&lt;span class="tag green"&gt;...&lt;/span&gt;
&lt;span class="tag purple"&gt;...&lt;/span&gt;
&lt;span class="tag orange"&gt;...&lt;/span&gt;</code></pre>
  
  </div>

</section>
<section id="icons">
  <header>
    <h2>Icons</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, modi fugit, dolorem, obcaecati facilis saepe delectus voluptate ipsa blanditiis distinctio dolore ipsum officiis impedit aut, eius qui dignissimos pariatur in!</p>

  <h1>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h1>
  <h2>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Pink</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h2>
  <h3>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Pink</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h3>
  <h4>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Pink</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h4>
  <h5>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Pink</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h5>
  <h6>
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Regular</span> 
    <span class="tag"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Red</span> 
    <span class="tag red"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Yellow</span> 
    <span class="tag yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Blue</span> 
    <span class="tag blue"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Green</span> 
    <span class="tag green"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Purple</span> 
    <span class="tag purple"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Orange</span>
    <span class="tag orange"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Pink</span> 
    <span class="tag pink"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Teal</span> 
    <span class="tag teal"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Olive</span> 
    <span class="tag olive"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Navy</span> 
    <span class="tag navy"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Salmon</span> 
    <span class="tag salmon"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Magenta</span> 
    <span class="tag magenta"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Cyan</span>
    <span class="tag cyan"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg> Black</span>
    <span class="tag black"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span>
  </h6>

  <div class="code-example">
    
    <input type="checkbox" id="code-tag-icons">
    <label for="code-tag-icons" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;span class="tag"&gt;
  &lt;svg class="icon"&gt;&lt;/svg&gt;  
&lt;/span&gt;</code></pre>
  
  </div>

</section>
<section id="links">

  <header>
    <h2>Links</h2>
  </header>

  <h4 style="margin: 0">
    <a class="tag">Regular</a> 
    <a class="tag red">Red</a> 
    <a class="tag yellow">Yellow</a> 
    <a class="tag blue">Blue</a> 
    <a class="tag green">Green</a> 
    <a class="tag purple">Purple</a> 
    <a class="tag orange">Orange</a>
  </h4>

  <div class="code-example">
    
    <input type="checkbox" id="code-tag-links">
    <label for="code-tag-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;a class="tag"&gt;...&lt;/a&gt;</code></pre>
  
  </div>


</section>

<section id="badges">
  
  <header>
    <h2>Badges</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sint harum, numquam quasi nihil eum accusamus quas sit velit, nesciunt ipsum architecto animi labore fugit, aut quisquam temporibus ratione. Ab.</p>

  <h1>
    <span class="tag badge">52</span> 
    <span class="tag badge red">7438</span> 
    <span class="tag badge yellow">6</span> 
    <span class="tag badge blue">1</span> 
    <span class="tag badge green">24</span> 
    <span class="tag badge purple">99</span> 
    <span class="tag badge orange">883</span>
    <span class="tag badge"><svg class="icon"><use xlink:href="/icons/icons.svg#info"></use></svg></span> 
  </h1>

  <h2>
    <span class="tag badge">74</span> 
    <span class="tag badge red">56</span> 
    <span class="tag badge yellow">99</span> 
    <span class="tag badge blue">22</span> 
    <span class="tag badge green">4</span> 
    <span class="tag badge purple">61</span> 
    <span class="tag badge orange">21</span>
    <span class="tag badge green"><svg class="icon"><use xlink:href="/icons/icons.svg#mail"></use></svg></span> 
  </h2>

  <h3>
    <span class="tag badge">9998</span> 
    <span class="tag badge red">New message</span> 
    <span class="tag badge yellow">6</span> 
    <span class="tag badge blue">1</span> 
    <span class="tag badge green">24</span> 
    <span class="tag badge purple">99</span> 
    <span class="tag badge orange">88</span>
    <span class="tag badge blue"><svg class="icon"><use xlink:href="/icons/icons.svg#running"></use></svg></span> 
  </h3>

  <h4>
    <span class="tag badge">3</span> 
    <span class="tag badge red">12</span> 
    <span class="tag badge yellow">6</span> 
    <span class="tag badge blue">87897</span> 
    <span class="tag badge green">45</span> 
    <span class="tag badge purple">43</span> 
    <span class="tag badge orange">4</span>
    <span class="tag badge yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg></span> 
  </h4>

  <h5>
    <span class="tag badge">575</span> 
    <span class="tag badge red">3135</span> 
    <span class="tag badge yellow">54</span> 
    <span class="tag badge blue">88</span> 
    <span class="tag badge green">79</span> 
    <span class="tag badge purple">8</span> 
    <span class="tag badge orange">88</span>
    <span class="tag badge red"><svg class="icon"><use xlink:href="/icons/icons.svg#chevron-down"></use></svg></span> 
  </h5>

  <h6>
    <span class="tag badge">1</span> 
    <span class="tag badge red">1</span> 
    <span class="tag badge yellow">1</span> 
    <span class="tag badge blue">1</span> 
    <span class="tag badge green">1</span> 
    <span class="tag badge purple">1</span> 
    <span class="tag badge orange">1</span>
  </h6>

  <p>
    <span class="tag badge">36</span> 
    <span class="tag badge red">2</span> 
    <span class="tag badge yellow">55</span> 
    <span class="tag badge blue">78</span> 
    <span class="tag badge green">98</span> 
    <span class="tag badge purple">7</span> 
    <span class="tag badge orange">0</span>
  </p>

  <p>
    <a href="#" class="knob blue" style="font-size: 1.2em;">Messages <span class="tag badge red">2</span></a> 
    <a href="#" class="knob green" style="font-size: 1.2em;">Orders <span class="tag badge blue">448</span></a>
    <a href="#" class="knob red" style="font-size: 1.2em;">Feedback <span class="tag badge purple">8411</span></a>
  </p>

  <nav class="panel gray" style="width: 50%;">
    <ul>
      <li><a href="">Dashboard</a></li>
      <li class="active"><a href="">Activity Feed <span class="tag badge">3</span></a></li>
      <li><a href="">Messages <span class="tag badge red">62</span></a></li>
      <li><a href="">Pull Requests <span class="tag badge green">1</span></a></li>
      <li><a href="">Retrospectives <span class="tag badge blue">33</span></a></li>
    </ul>
  </nav>

  <div class="code-example">
    
    <input type="checkbox" id="code-tag-badges">
    <label for="code-tag-badges" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;span class="tag badge"&gt;...&lt;/span&gt;</code></pre>
  
  </div>

</section>
