<header>
  <h1>Buttons</h1>
</header>
<section>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quibusdam! Voluptatem tempora mollitia perferendis adipisci molestiae, veritatis magni pariatur beatae quo itaque excepturi suscipit, velit quam dignissimos, inventore sunt. Pariatur.</p>
  <p>Atque cupiditate eius pariatur, aliquam dolore ipsum omnis, reprehenderit illum nesciunt, suscipit laboriosam magnam maiores obcaecati porro. Quam quidem, ducimus quos nam corporis, perspiciatis aut, aperiam eaque maiores laudantium nisi.</p>
</section>

<section id="regular">
  <header>
    <h2>Regular</h2>
  </header>

  <p>
  	
  	<button>Default</button> 
  	<button class="hover">Hover</button> 
  	<button class="focus">Focus</button> 
  	<button class="active">Active</button> 
  	<button disabled>Disabled</button> 
  	<button>
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button>

  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-regular">
    <label for="code-button-regular" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;button&gt;...&lt;/button&gt;
&lt;button class="hover"&gt;...&lt;/button&gt;
&lt;button class="focus"&gt;...&lt;/button&gt;
&lt;button class="active"&gt;...&lt;/button&gt;
&lt;button disabled&gt;...&lt;/button&gt;
&lt;button&gt;&lt;svg class="icon"&gt;...&lt;/svg&gt;&lt;/button&gt;</code></pre>
  
  </div>
</section>


<section id="colors">
  <header>
    <h2>Colors</h2>
  </header>


  <p>
  	<button class="primary">Primary</button> 
  	<button class="primary hover">Hover</button> 
  	<button class="primary focus">Focus</button> 
  	<button class="primary active">Active</button> 
  	<button class="primary" disabled="disabled">Disabled</button> 
  	<button class="primary">
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button>

  	<br>
  
  	<button class="secondary">Primary</button> 
  	<button class="secondary hover">Hover</button> 
  	<button class="secondary focus">Focus</button> 
  	<button class="secondary active">Active</button> 
  	<button class="secondary" disabled="disabled">Disabled</button> 
  	<button class="secondary">
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button>

  	<br>

  	<button class="positive">Primary</button> 
  	<button class="positive hover">Hover</button> 
  	<button class="positive focus">Focus</button> 
  	<button class="positive active">Active</button> 
  	<button class="positive" disabled="disabled">Disabled</button> 
  	<button class="positive">
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button>

  	<br>
  
  	<button class="negative">Primary</button> 
  	<button class="negative hover">Hover</button> 
  	<button class="negative focus">Focus</button> 
  	<button class="negative active">Active</button> 
  	<button class="negative" disabled="disabled">Disabled</button> 
  	<button class="negative">
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button>

  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-colors">
    <label for="code-button-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;button class="primary"&gt;Primary&lt;/button&gt;
&lt;button class="secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="positive"&gt;Positive&lt;/button&gt;
&lt;button class="negative"&gt;Negative&lt;/button&gt;</code></pre>
  
  </div>

</section>


<section id="loading">
  <header>
    <h2>Loading</h2>
  </header>


  <p>
  	
  	<button class="loading">Loading</button> 
  	<button class="primary loading">Loading</button> 
  	<button class="secondary loading">Loading</button> 
  	<button class="positive loading">Loading</button> 
  	<button class="negative loading">Loading</button>

  	<br>
  	  	
  	<button class="loading success">Success</button> 
  	<button class="primary loading success">Success</button> 
  	<button class="secondary loading success">Success</button> 
  	<button class="positive loading success">Success</button> 
  	<button class="negative loading success">Success</button>
  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-loading">
    <label for="code-button-loading" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;button class="loading"&gt;...&lt;/button&gt;
&lt;button class="loading success"&gt;...&lt;/button&gt;</code></pre>
  
  </div>
</section>


<section id="labels">
  <header>
    <h2>Labels</h2>
  </header>

  <p>
  	
  	<button>
  		<span class="label">
  			<svg class="icon">
  				<use xlink:href="/images/icons.svg#star"></use>
  			</svg>
  		</span>
  		Labeled
  	</button> 
  	<button>
  		<span class="label">
  			Label
  		</span>
  		Text
  	</button> 
  	<button class="loading">
  		<span class="label">
  			Label
  		</span>
  		Text
  	</button>

	  <br>
	  
	  <button class="primary">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="primary">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button> 
	  <button class="primary loading">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button>

	  <br>
	  
	  <button class="secondary">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="secondary">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button> 
	  <button class="secondary loading">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button>

	  <br>
	  
	  <button class="positive">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="positive">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button> 
	  <button class="positive loading">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button>

	  <br>
	  
	  <button class="negative">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="negative">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button> 
	  <button class="negative loading">
	  	<span class="label">
	  		Label
	  	</span>
	  	Text
	  </button>

	</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-labels">
    <label for="code-button-labels" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;button&gt;
  &lt;span class="label"&gt;
    &lt;svg class="icon"&gt;&lt;/svg&gt;
  &lt;/span&gt;
  ...
&lt;/button&gt;
&lt;button&gt;
  &lt;span class="label"&gt;Label&lt;/span&gt;
  ...
&lt;/button&gt;</code></pre>
  
  </div>

</section>


<section id="sizes">
  <header>
    <h2>Sizes</h2>
  </header>

  <p>
  	
  	<button class="mini">Mini</button> 
  	<button class="mini">
  		<span class="label">
  			<svg class="icon">
  				<use xlink:href="/images/icons.svg#star"></use>
  			</svg>
  		</span>
  		Labeled
  	</button> 
  	<button class="mini">
  		<svg class="icon">
  			<use xlink:href="/images/icons.svg#star"></use>
  		</svg>
  	</button> 
  	<button class="mini loading">Mini</button>

  	<br>

	  
	  <button class="small">Small</button> 
	  <button class="small">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="small">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="small loading">Small</button>

	  <br>
	  
	  <button class="medium">Medium</button> 
	  <button class="medium">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="medium">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="medium loading">Medium</button>

	  <br>
	  
	  <button>Regular</button> 
	  <button>
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button>
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button>

	  <button class="loading">Regular</button>

	  <br>
	  
	  <button class="large">Large</button> 
	  <button class="large">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="large">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="large loading">Large</button>

	  <br>
	  
	  <button class="big">Big</button> 
	  <button class="big">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="big">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="big loading">Big</button>

	  <br>
	  
	  <button class="huge">Huge</button> 
	  <button class="huge">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="huge">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="huge loading">Huge</button>

	  <br>
	  
	  <button class="massive">Massive</button> 
	  <button class="massive">
	  	<span class="label">
	  		<svg class="icon">
	  			<use xlink:href="/images/icons.svg#star"></use>
	  		</svg>
	  	</span>
	  	Labeled
	  </button> 
	  <button class="massive">
	  	<svg class="icon">
	  		<use xlink:href="/images/icons.svg#star"></use>
	  	</svg>
	  </button> 
	  <button class="massive loading">Massive</button>

	</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-sizes">
    <label for="code-button-sizes" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;button class="mini"&gt;...&lt;/button&gt;
&lt;button class="small"&gt;...&lt;/button&gt;
&lt;button class="medium"&gt;...&lt;/button&gt;
&lt;button&gt;...&lt;/button&gt;
&lt;button class="large"&gt;...&lt;/button&gt;
&lt;button class="big"&gt;...&lt;/button&gt;
&lt;button class="huge"&gt;...&lt;/button&gt;
&lt;button class="massive"&gt;...&lt;/button&gt;</code></pre>
  
  </div>

</section>


<section id="groups">
  <header>
    <h2>Groups</h2>
  </header>

  <p>

	  <div class="group">
	    
	    <button>One</button> 
	    <button>Two</button> 
	    <button>Three</button> 
	    <button disabled>Four</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="primary">One</button> 
	    <button class="primary">Two</button> 
	    <button class="primary">Three</button> 
	    <button class="primary" disabled>Four</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="secondary">One</button> 
	    <button class="secondary">Two</button> 
	    <button class="secondary">Three</button> 
	    <button class="secondary" disabled>Four</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="positive">One</button> 
	    <button class="positive">Two</button> 
	    <button class="positive">Three</button> 
	    <button class="positive" disabled>Four</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="negative">One</button> 
	    <button class="negative">Two</button> 
	    <button class="negative">Three</button> 
	    <button class="negative" disabled>Four</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="primary">One</button> 
	    <button class="primary hover">Two</button> 
	    <button class="primary focus">Three</button> 
	    <button class="primary active">Four</button> 
	    <button class="primary" disabled>Five</button> 
	    <button class="primary loading">Six</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button>One</button> 
	    <button class="primary">Two</button> 
	    <button class="secondary">Three</button> 
	    <button class="positive">Four</button> 
	    <button class="negative">Five</button>
	  </div>
	  <br>


	  <div class="group">
	    
	    <button class="big">
	    	<span class="label">
	    		<svg class="icon">
	    			<use xlink:href="/images/icons.svg#clear"></use>
	    		</svg>
	    	</span>
	    	Decline
	    </button> 
	    <button class="big positive">
	    	<span class="label">
	    		<svg class="icon">
	    			<use xlink:href="/images/icons.svg#check"></use>
	    		</svg>
	    	</span>
	  	  Approve
	  	</button>
	  </div>

  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-button-groups">
    <label for="code-button-groups" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;div class="group"&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;button&gt;...&lt;/button&gt;
  &lt;button disabled&gt;...&lt;/button&gt;
&lt;/div&gt;</code></pre>
  
  </div>

</section>
