<header>
  <h1>Checkboxes & radios</h1>
</header>

<section id="checkboxes">
  <header>
    <h2>Checkboxes</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero culpa voluptatem consectetur sequi ab minima nisi eveniet quibusdam, qui nobis provident, distinctio cumque saepe mollitia velit dolorem quo autem, veritatis!</p>

  <div class="basic-form">
    <label>Checkbox</label>
    <ul class="checkboxes">
      <li>
        <input name="radio1" id="labelOne0" type="checkbox" checked="">
        <label for="labelOne1">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input name="radio1" id="labelTwo1" type="checkbox">
        <label for="labelTwo1">Label 2</label>
      </li>
      <li>
        <input name="radio1" id="labelThree1" type="checkbox">
        <label for="labelThree1">Label 3</label>
      </li>
      <li>
        <input name="radio1" id="labelFour1" type="checkbox" disabled="">
        <label for="labelFour1">Label 4 <small>disabled</small></label>
      </li>
    </ul>
    <small class="help">Help messages where appropriate.</small>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ducimus asperiores qui consequatur adipisci vero reiciendis, nesciunt, assumenda quod corporis officia debitis illo vel velit porro quo autem nisi facere!</p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-checkbox-basic">
    <label for="code-checkbox-basic" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="checkboxes"&gt;
  &lt;li&gt;
    &lt;input type="checkbox" id="..." checked&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="checkbox" id="..."&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="checkbox" id="..."&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="checkbox" id="..." disabled&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;small class="help"&gt;...&lt;/small&gt;</code></pre>
  
  </div>
</section>

<section id="radios">

  <header>
    <h2>Radio buttons</h2>
  </header>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iusto provident laudantium earum, nisi cumque ipsam voluptas fugit accusamus eius expedita cupiditate excepturi deleniti vitae consectetur laboriosam praesentium, eveniet quisquam?</p>

  <div class="basic-form">
    <label>Radios</label>
    <ul class="radios">
      <li>
        <input name="radioz" id="labelOneX" type="radio" checked>
        <label for="labelOneX">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input name="radioz" id="labelTwoX" type="radio">
        <label for="labelTwoX">Label 2</label>
      </li>
      <li>
        <input name="radioz" id="labelThreeX" type="radio">
        <label for="labelThreeX">Label 3</label>
      </li>
      <li>
        <input name="radioz" id="labelFourX" type="radio" disabled="">
        <label for="labelFourX">Label 4 <small>disabled</small></label>
      </li>
    </ul>
    <small class="help">Help messages where appropriate.</small>
  </div>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-radio-basic">
    <label for="code-radio-basic" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="radios"&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..." checked&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..."&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..."&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;input type="radio" name="..." id="..." disabled&gt;
    &lt;label for="..."&gt;...&lt;/label&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;small class="help"&gt;...&lt;/small&gt;</code></pre>
  
  </div>

</section>
<section id="inline-boxes">
  
  <header>
    <h2>Inline boxes</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt vitae autem hic molestias veniam nobis ad iusto odio nostrum officiis, sequi quasi, neque adipisci. Saepe qui beatae, reiciendis minima quia!</p>

  <div class="basic-form">
    <label>Inline checkboxes</label>
    <ul class="checkboxes inline">
      <li>
        <input name="radio2" id="labelOne2" type="checkbox" checked="">
        <label for="labelOne2">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input name="radio2" id="labelTwo2" type="checkbox">
        <label for="labelTwo2">Label 2</label>
      </li>
      <li>
        <input name="radio2" id="labelThree2" type="checkbox">
        <label for="labelThree2">Label 3</label>
      </li>
      <li>
        <input name="radio2" id="labelFour2" type="checkbox" disabled="">
        <label for="labelFour2">Label 4 <small>disabled</small></label>
      </li>
    </ul>
    <small class="help">Help messages where appropriate.</small>
    <label>Inline radios</label>
    <ul class="radios inline">
      <li>
        <input name="radioP" id="labelOneP" type="radio" >
        <label for="labelOneP">Label 1 <small>checked</small></label>
      </li>
      <li>
        <input name="radioP" id="labelTwoP" type="radio">
        <label for="labelTwoP">Label 2</label>
      </li>
      <li>
        <input name="radioP" id="labelThreeP" type="radio">
        <label for="labelThreeP">Label 3</label>
      </li>
      <li>
        <input name="radioP" id="labelFourP" type="radio" disabled="" checked="">
        <label for="labelFourP">Label 4 <small>disabled</small></label>
      </li>
    </ul>
    <small class="help">Help messages where appropriate.</small>
  </div>

  <div class="code-example">
    
    <input type="checkbox" id="code-checkbox-inline">
    <label for="code-checkbox-inline" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="checkboxes inline"&gt;&lt;/ul&gt;
&lt;ul class="radios inline"&gt;&lt;/ul&gt;</code></pre>
  
  </div>

</section>

<section id="button-styles">

  <header>
    <h2>Button styles</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ducimus similique, dolores velit nesciunt at. Excepturi quod alias nisi corporis neque veniam laudantium maiores, pariatur ipsam odio nesciunt! Dolorum, ullam.</p>
  
  <div class="basic-form">
    <label>Button checkboxes</label>
    <ul class="checkboxes buttons">
      <li>
        <input id="labelOne5" type="checkbox">
        <label class="button" for="labelOne5">Label 1</label>
      </li>
      <li>
        <input id="labelTwo5" type="checkbox">
        <label class="button" for="labelTwo5">Label 2</label>
      </li>
      <li>
        <input id="labelThree5" type="checkbox">
        <label class="button" for="labelThree5">Label 3</label>
      </li>
      <li>
        <input id="labelFour5" type="checkbox" disabled="">
        <label class="button" for="labelFour5">Label 4</label>
      </li>
    </ul>
    <small class="help">Help messages where appropriate.</small>

    <label>Button radios</label>
    <ul class="radios buttons">
      <li>
        <input name="radio6" id="labelOne6" type="radio">
        <label class="button" for="labelOne6">Label 1</label>
      </li>
      <li>
        <input name="radio6" id="labelTwo6" type="radio">
        <label class="button" for="labelTwo6">Label 2</label>
      </li>
      <li>
        <input name="radio6" id="labelThree6" type="radio">
        <label class="button" for="labelThree6">Label 3</label>
      </li>
      <li>
        <input name="radio6" id="labelFour6" type="radio" disabled="">
        <label class="button" for="labelFour6">Label 4</label>
      </li>
    </ul>
  </div>


  <div class="code-example">
    
    <input type="checkbox" id="code-checkbox-buttons">
    <label for="code-checkbox-buttons" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;ul class="checkboxes buttons"&gt;&lt;/ul&gt;
&lt;ul class="radios buttons"&gt;&lt;/ul&gt;</code></pre>
  
  </div>

</section>
