<header>
  <h1>Images</h1>
</header>

<section>
  <p>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi?
  </p>

  <figure>
    <img src="/images/Nausicaa_and_her_Maidens_brought_to_Odysseus_food_and_wine.gif" alt="" class="wp-image-870" width="300">
  </figure>

  <div class="code-example">
      
    <input type="checkbox" id="code-images">
    <label for="code-images" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;figure&gt;
  &lt;img src="..." alt="..."&gt;
&lt;/figure&gt;</code></pre>

  </div>
  
<p>
  Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
</p>

<figure>
  <img src="/images/lastman.jpg" alt="Figure Example">
  <figcaption>Odysseus en Nausikaä door Pieter Lastman, 1619 [<a href="https://www.pinakothek.de/besuch/alte-pinakothek">Alte Pinakothek, München</a>]</figcaption>
</figure>

<div class="code-example">
    
    <input type="checkbox" id="code-captions">
    <label for="code-captions" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code class="html">&lt;figure&gt;
  &lt;img src="..." alt="..."&gt;
  &lt;figcaption&gt;...&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
  
  </div>
  
</section>
