<header>
  <h1>Links</h1>
</header>
<section>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti accusamus dolorum vitae reprehenderit modi quidem rerum quibusdam sapiente quasi. Culpa eveniet est quasi, eaque quae aliquid animi sint, magnam eligendi.</p>

  <p>Omnis porro sequi ipsum eos labore debitis, iste, quis inventore. Ab tempora amet accusamus, nobis distinctio totam asperiores expedita nihil fugiat vitae autem ducimus voluptatibus hic corporis maiores, porro ea.</p>

</section>
<section>

  <p>
    <a>Regular link</a><br>
    <a class="hover">Hover link</a><br>
    <a class="focus">Focused link</a><br>
    <a class="active">Active link</a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-regular-links">
    <label for="code-regular-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a&gt;Regular link&lt;/a&gt;
&lt;a class="hover"&gt;Hover link&lt;/a&gt;
&lt;a class="focus"&gt;Focused link&lt;/a&gt;
&lt;a class="active"&gt;Active link&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="visited">Visited link</a><br>
    <a class="visited hover">Visited hover link</a><br>
    <a class="visited focus">Visited focused link</a><br>
    <a class="visited active">Visited active link</a>
  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-visited-links">
    <label for="code-visited-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="visited"&gt;Visited link&lt;/a&gt;
&lt;a class="visited hover"&gt;...&lt;/a&gt;
&lt;a class="visited focus"&gt;...&lt;/a&gt;
&lt;a class="visited active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="knob">Knob link</a><br>
    <a class="knob hover">Knob hover link</a><br>
    <a class="knob focus">Knob focused link</a><br>
    <a class="knob active">Knob active link</a><br>
    <a class="knob">
      <svg class="icon">
        <use xlink:href="/images/icons.svg#star"></use>
      </svg> 
      Knob icon link
    </a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-knobs">
    <label for="code-knobs" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="knob"&gt;...&lt;/a&gt;
&lt;a class="knob hover"&gt;...&lt;/a&gt;
&lt;a class="knob focus"&gt;...&lt;/a&gt;
&lt;a class="knob active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>

    <a class="knob rosewater">Rosewater</a>
		<a class="knob hover rosewater">Rosewater hover</a>
		<a class="knob focus rosewater">Rosewater focused</a>
		<a class="knob active rosewater">Rosewater active</a>
		<a class="knob rosewater">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Rosewater icon
		</a>
		<br>

    <a class="knob flamingo">Flamingo</a>
		<a class="knob hover flamingo">Flamingo hover</a>
		<a class="knob focus flamingo">Flamingo focused</a>
		<a class="knob active flamingo">Flamingo active</a>
		<a class="knob flamingo">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Flamingo icon
		</a>
		<br>

    <a class="knob pink">Pink</a>
		<a class="knob hover pink">Pink hover</a>
		<a class="knob focus pink">Pink focused</a>
		<a class="knob active pink">Pink active</a>
		<a class="knob pink">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Pink icon
		</a>
		<br>

    <a class="knob mauve">Mauve</a>
		<a class="knob hover mauve">Mauve hover</a>
		<a class="knob focus mauve">Mauve focused</a>
		<a class="knob active mauve">Mauve active</a>
		<a class="knob mauve">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Mauve icon
		</a>
		<br>

    <a class="knob red">Red</a>
		<a class="knob hover red">Red hover</a>
		<a class="knob focus red">Red focused</a>
		<a class="knob active red">Red active</a>
		<a class="knob red">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Red icon
		</a>
		<br>

    <a class="knob maroon">Maroon</a>
		<a class="knob hover maroon">Maroon hover</a>
		<a class="knob focus maroon">Maroon focused</a>
		<a class="knob active maroon">Maroon active</a>
		<a class="knob maroon">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Maroon icon
		</a>
		<br>

    <a class="knob peach">Peach</a>
		<a class="knob hover peach">Peach hover</a>
		<a class="knob focus peach">Peach focused</a>
		<a class="knob active peach">Peach active</a>
		<a class="knob peach">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Peach icon
		</a>
		<br>

    <a class="knob yellow">Yellow</a>
		<a class="knob hover yellow">Yellow hover</a>
		<a class="knob focus yellow">Yellow focused</a>
		<a class="knob active yellow">Yellow active</a>
		<a class="knob yellow">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Yellow icon
		</a>
		<br>

    <a class="knob green">Green</a>
		<a class="knob hover green">Green hover</a>
		<a class="knob focus green">Green focused</a>
		<a class="knob active green">Green active</a>
		<a class="knob green">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Green icon
		</a>
		<br>

    <a class="knob teal">Teal</a>
		<a class="knob hover teal">Teal hover</a>
		<a class="knob focus teal">Teal focused</a>
		<a class="knob active teal">Teal active</a>
		<a class="knob teal">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Teal icon
		</a>
		<br>

    <a class="knob sky">Sky</a>
		<a class="knob hover sky">Sky hover</a>
		<a class="knob focus sky">Sky focused</a>
		<a class="knob active sky">Sky active</a>
		<a class="knob sky">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Sky icon
		</a>
		<br>

    <a class="knob sapphire">Sapphire</a>
		<a class="knob hover sapphire">Sapphire hover</a>
		<a class="knob focus sapphire">Sapphire focused</a>
		<a class="knob active sapphire">Sapphire active</a>
		<a class="knob sapphire">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Sapphire icon
		</a>
		<br>

    <a class="knob blue">Blue</a>
		<a class="knob hover blue">Blue hover</a>
		<a class="knob focus blue">Blue focused</a>
		<a class="knob active blue">Blue active</a>
		<a class="knob blue">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Blue icon
		</a>
		<br>

    <a class="knob lavender">Lavender</a>
		<a class="knob hover lavender">Lavender hover</a>
		<a class="knob focus lavender">Lavender focused</a>
		<a class="knob active lavender">Lavender active</a>
		<a class="knob lavender">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Lavender icon
		</a>
		<br>

    <a class="knob gray">Gray</a>
		<a class="knob hover gray">Gray hover</a>
		<a class="knob focus gray">Gray focused</a>
		<a class="knob active gray">Gray active</a>
		<a class="knob gray">
			<svg class="icon">
				<use xlink:href="/images/icons.svg#warning"></use>
			</svg> Gray icon
		</a>
		<br>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-knob-colors">
    <label for="code-knob-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="knob yellow"&gt;...&lt;/a&gt;
&lt;a class="knob red"&gt;...&lt;/a&gt;
&lt;a class="knob blue"&gt;...&lt;/a&gt;
&lt;a class="knob green"&gt;...&lt;/a&gt;
&lt;a class="knob purple"&gt;...&lt;/a&gt;
&lt;a class="knob orange"&gt;...&lt;/a&gt;
&lt;a class="knob gray"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="button">Button link</a><br>
    <a class="button hover">Button hover link</a><br>
    <a class="button focus">Button focused link</a><br>
    <a class="button active">Button active link</a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-button-links">
    <label for="code-button-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="button"&gt;...&lt;/a&gt;
&lt;a class="button hover"&gt;...&lt;/a&gt;
&lt;a class="button focus"&gt;...&lt;/a&gt;
&lt;a class="button active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>
  
</section>
