<header>
  <h1>Links</h1>
</header>
<section>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti accusamus dolorum vitae reprehenderit modi quidem rerum quibusdam sapiente quasi. Culpa eveniet est quasi, eaque quae aliquid animi sint, magnam eligendi.</p>

  <p>Omnis porro sequi ipsum eos labore debitis, iste, quis inventore. Ab tempora amet accusamus, nobis distinctio totam asperiores expedita nihil fugiat vitae autem ducimus voluptatibus hic corporis maiores, porro ea.</p>

</section>
<section>

  <p>
    <a>Regular link</a><br>
    <a class="hover">Hover link</a><br>
    <a class="focus">Focused link</a><br>
    <a class="active">Active link</a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-regular-links">
    <label for="code-regular-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a&gt;Regular link&lt;/a&gt;
&lt;a class="hover"&gt;Hover link&lt;/a&gt;
&lt;a class="focus"&gt;Focused link&lt;/a&gt;
&lt;a class="active"&gt;Active link&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="visited">Visited link</a><br>
    <a class="visited hover">Visited hover link</a><br>
    <a class="visited focus">Visited focused link</a><br>
    <a class="visited active">Visited active link</a>
  </p>

  <div class="code-example">
    
    <input type="checkbox" id="code-visited-links">
    <label for="code-visited-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="visited"&gt;Visited link&lt;/a&gt;
&lt;a class="visited hover"&gt;...&lt;/a&gt;
&lt;a class="visited focus"&gt;...&lt;/a&gt;
&lt;a class="visited active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="knob">Knob link</a><br>
    <a class="knob hover">Knob hover link</a><br>
    <a class="knob focus">Knob focused link</a><br>
    <a class="knob active">Knob active link</a><br>
    <a class="knob">
      <svg class="icon">
        <use xlink:href="/icons/icons.svg#star"></use>
      </svg> 
      Knob icon link
    </a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-knobs">
    <label for="code-knobs" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="knob"&gt;...&lt;/a&gt;
&lt;a class="knob hover"&gt;...&lt;/a&gt;
&lt;a class="knob focus"&gt;...&lt;/a&gt;
&lt;a class="knob active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="knob yellow">Yellow</a><a class="knob hover yellow">Yellow hover</a><a class="knob focus yellow">Yellow focused</a><a class="knob active yellow">Yellow active</a><a class="knob yellow"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Yellow icon</a><br>

    <a class="knob red">Red</a><a class="knob hover red">Red hover</a><a class="knob focus red">Red focused</a><a class="knob active red">Red active</a><a class="knob red"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Red icon</a><br>

    <a class="knob blue">Blue</a><a class="knob hover blue">Blue hover</a><a class="knob focus blue">Blue focused</a><a class="knob active blue">Blue active</a><a class="knob blue"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Blue icon</a><br>

    <a class="knob green">Green</a><a class="knob hover green">Green hover</a><a class="knob focus green">Green focused</a><a class="knob active green">Green active</a><a class="knob green"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Green icon</a><br>

    <a class="knob purple">Purple</a><a class="knob hover purple">Purple hover</a><a class="knob focus purple">Purple focused</a><a class="knob active purple">Purple active</a><a class="knob purple"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Purple icon</a><br>

    <a class="knob orange">Orange</a><a class="knob hover orange">Orange hover</a><a class="knob focus orange">Orange focused</a><a class="knob active orange">Orange active</a><a class="knob orange"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Orange icon</a><br>

    <a class="knob gray">Gray</a><a class="knob hover gray">Gray hover</a><a class="knob focus gray">Gray focused</a><a class="knob active gray">Gray active</a><a class="knob gray"><svg class="icon"><use xlink:href="/icons/icons.svg#warning"></use></svg> Gray icon</a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-knob-colors">
    <label for="code-knob-colors" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="knob yellow"&gt;...&lt;/a&gt;
&lt;a class="knob red"&gt;...&lt;/a&gt;
&lt;a class="knob blue"&gt;...&lt;/a&gt;
&lt;a class="knob green"&gt;...&lt;/a&gt;
&lt;a class="knob purple"&gt;...&lt;/a&gt;
&lt;a class="knob orange"&gt;...&lt;/a&gt;
&lt;a class="knob gray"&gt;...&lt;/a&gt;</code></pre>
  
  </div>

  <p>
    <a class="button">Button link</a><br>
    <a class="button hover">Button hover link</a><br>
    <a class="button focus">Button focused link</a><br>
    <a class="button active">Button active link</a>
  </p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-button-links">
    <label for="code-button-links" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/icons/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/icons/icons.svg#clear"></use>
      </svg>
    </label>
    
    <pre><code>&lt;a class="button"&gt;...&lt;/a&gt;
&lt;a class="button hover"&gt;...&lt;/a&gt;
&lt;a class="button focus"&gt;...&lt;/a&gt;
&lt;a class="button active"&gt;...&lt;/a&gt;</code></pre>
  
  </div>
  
</section>