<header>
  <h1>Typography</h1>
</header>

<section>
  <p class="introduction">
    Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis elementum arcu nec enim sagittis interdum. Praesent gravida lacinia ipsum, et rutrum felis posuere nec. Duis ipsum ipsum, consectetur in molestie non, dignissim eget ex. Maecenas ut fermentum libero. Mauris eu libero sollicitudin, pulvinar nunc id, facilisis odio.
  </p>
</section>

<section id="headings">
  <header>
    <h2>Headings</h2>
  </header>

  <h1>First header, H1</h1>
  <h2>Second header, H2</h2>
  <h3>Third header, H3</h3>
  <h4>Fourth header, H4</h4>
  <h5>Fifth header, H5</h5>
  <h6>Sixth header, H6</h6>
    
  <div class="code-example">
    
    <input type="checkbox" id="code-headings">
    <label for="code-headings" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;h1&gt;...&lt;/h1&gt;
&lt;h2&gt;...&lt;/h2&gt;
&lt;h3&gt;...&lt;/h3&gt;
&lt;h4&gt;...&lt;/h4&gt;
&lt;h5&gt;...&lt;/h5&gt;
&lt;h6&gt;...&lt;/h6&gt;</code></pre>

  </div>

</section>  
<section id="inline-text-elements">

  <header>
    <h2>Inline text elements</h2>
  </header>

    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
    <p><var>f</var>(<var>x</var>) = <var>a</var><sub>0</sub> + <var>a</var><sub>1</sub><var>x</var> +<var>a</var><sub>2</sub><var>x</var><sup>2</sup>, where <var>a</var><sup>2</sup> ≠ 0</p>
    <p>Snippets of code with <code>&lt;code&gt;</code> tags.</p>
    <p>Keyboard input is displayed like: <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>F8</kbd> or <kbd>ls -gto</kbd>.</p>
    <p>Computer sample output is displayed like: <samp>Press F1 to continue</samp>.</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-inline-text-elements">
    <label for="code-inline-text-elements" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text
&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;
&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;
&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;
&lt;u&gt;This line of text will render as underlined&lt;/u&gt;
&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;
&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;
&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;
&lt;var&gt;f&lt;/var&gt;(&lt;var&gt;x&lt;/var&gt;) = &lt;var&gt;a&lt;/var&gt;&lt;sub&gt;0&lt;/sub&gt; + &lt;var&gt;a&lt;/var&gt;&lt;sub&gt;1&lt;/sub&gt;&lt;var&gt;x&lt;/var&gt; +&lt;var&gt;a&lt;/var&gt;&lt;sub&gt;2&lt;/sub&gt;&lt;var&gt;x&lt;/var&gt;&lt;sup&gt;2&lt;/sup&gt;, where &lt;var&gt;a&lt;/var&gt;&lt;sup&gt;2&lt;/sup&gt; ≠ 0
Snippets of code with &lt;code&gt;...&lt;/code&gt; tags.
Keyboard input is viewed like &lt;kbd&gt;Ctrl&lt;/kbd&gt; + &lt;kbd&gt;Alt&lt;/kbd&gt; + &lt;kbd&gt;F8&lt;/kbd&gt; or &lt;kbd&gt;ls -gto&lt;/kbd&gt;.
Computer sample output is displayed like: &lt;samp&gt;Press F1 to continue&lt;/samp&gt;</code></pre>

  </div>

</section>
<section id="blockquotes">

  <header>
    <h2>Blockquotes</h2>
  </header>
 
  <blockquote>
    <p>
      <strong>Blockquote</strong> lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eveniet eius sapiente rerum nesciunt magni neque officia aperiam, enim minus quaerat ipsum, ea suscipit. Iure eligendi placeat voluptatum beatae a.
    </p>
    <footer>
      Someone famous in <cite title="Source">Cite Source</cite>
    </footer>
  </blockquote>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-blockquotes">
    <label for="code-blockquotes" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;blockquote&gt;
  &lt;p&gt;&lt;strong&gt;Blockquote&lt;/strong&gt; ... &lt;/p&gt;
  &lt;footer&gt;
    Someone famous in &lt;cite title="Source"&gt;Cite Source&lt;/cite&gt;
  &lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>

  </div>

</section>
<section id="unordered-lists">

  <header>
    <h2>(Un)Ordered lists</h2>
  </header>

  <ul>
    <li>Orange</li>
    <li>Apple
      <ul>
        <li>Tomato</li>
        <li>Eggplant</li>
        <li>Potato</li>
        <li>Cucumber
          <ul>
            <li>Chickpea</li>
            <li>Peanut</li>
            <li>Green bean</li>
            <li>Kidney bean</li>
            <li>Tamarind</li>
          </ul>
        </li>
        <li>Soybean</li>
      </ul>
    </li>
    <li>Rasberry</li>
    <li>Blueberry</li>
    <li>Cherry</li>
  </ul>

  <div class="code-example">
    
    <input type="checkbox" id="code-ul">
    <label for="code-ul" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;ul&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;
    ...
    &lt;ul&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
    &lt;ul&gt;
  &lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;</code></pre>

  </div>

  <ol>
    <li>Agamemnon</li>
    <li>Patroclus</li>
    <li>Diomedes</li>
    <li>Nestor
      <ol>
        <li>Priam</li>
        <li>Hector</li>
        <li>Paris
          <ol>
            <li>Athena</li>
            <li>Zeus</li>
            <li>Eris</li>
            <li>Poseidon</li>
            <li>Hephaestus</li>
            <li>Hermes</li>
            <li>Hera</li>
            <li>Apollo</li>
            <li>Scamander</li>
          </ol>
        </li>
        <li>Hecuba</li>
        <li>Aeneas</li>
        <li>Cassandra</li>
      </ol>
    </li>
    <li>Odysseus</li>
    <li>Menelaus</li>
  </ol>

  <div class="code-example">
    
    <input type="checkbox" id="code-ol">
    <label for="code-ol" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;ol&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;
    ...
    &lt;ol&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
    &lt;ol&gt;
  &lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;</code></pre>

  </div>

</section>
<section id="description-lists">

  <header>
    <h2>Description lists</h2>
  </header>

  <dl>
    <dt>Kick</dt>
    <dd>808</dd>
    <dt>Snare</dt>
    <dd>909</dd>
  </dl>
  <dl>
    <dt>Maine</dt>
    <dd>Augusta</dd>
    <dt>California</dt>
    <dd>Sacremento</dd>
    <dt>Oregon</dt>
    <dd>Salem</dd>
    <dt>New York</dt>
    <dd>Albany</dd>
  </dl>
  <dl>
    <dt>Ascender</dt>
    <dd>The part of certain lowercase letters that extends above the x-height of a font.</dd>
    <dt>Font</dt>
    <dd>Traditionally, a complete set of characters for one typeface at one particular type size. Often used more loosely as a synonym for "typeface".</dd>
    <dt>Golden Section</dt>
    <dd>The ideal proportion according to the ancient Greeks. It is visualized as the division of a line into two unequal segments in such a way that the ratio of the smaller segment to the larger segment is equal to the ratio of the larger to the whole. It is usually defined as 21:34, that is, 21/34 and 34/(21+34) both equal approximately 0.618. A rectangle whose sides are of this proportion is called a "golden rectangle". Golden rectangles can be found in the proportions of the Parthenon and many medieval<br>manuscripts.</dd>
  </dl>

  <div class="code-example">
    
    <input type="checkbox" id="code-dl">
    <label for="code-dl" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;dl&gt;
  &lt;dt&gt;...&lt;/dt&gt;
  &lt;dd&gt;...&lt;/dd&gt;
  &lt;dt&gt;...&lt;/dt&gt;
  &lt;dd&gt;...&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

  </div>

</section>
<section id="horizontal-rule">

  <header>
    <h2>Horizontal rule</h2>
  </header>

  <p>Duis a ultrices ante. Praesent suscipit porttitor dui ultricies auctor. Nunc pharetra nibh justo, vitae fermentum sapien malesuada et. Duis elementum arcu nec enim sagittis interdum.</p>

  <hr>
  
  <p>Praesent gravida lacinia ipsum, et rutrum felis posuere nec. Duis ipsum ipsum, consectetur in molestie non, dignissim eget ex. Maecenas ut fermentum libero. Mauris eu libero sollicitudin, pulvinar nunc id, facilisis odio.</p>
  
  <div class="code-example">
    
    <input type="checkbox" id="code-hr">
    <label for="code-hr" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;p&gt;...&lt;/p&gt;
&lt;hr&gt;
&lt;p&gt;...&lt;/p&gt;</code></pre>

  </div>

</section>
<section id="pre">

  <header>
    <h2>Pre</h2>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum suscipit a dolores, error cupiditate, iste ducimus hic. Dicta rem illo, accusamus, quod, iusto quis modi nesciunt, impedit enim quaerat laudantium.</p>
              
  <pre>main( ) {
  extern a, b, c;
  putchar(a); putchar(b); putchar(c); putchar('!*n');
}
 
a 'hell';
b 'o, w';
c 'orld';</pre>

  <p>Sit eaque magni aliquam dolore cum aliquid ipsa, asperiores modi voluptates? Quisquam magnam dignissimos tempore quae quasi iure dolorum, quidem ad mollitia architecto distinctio nisi cumque deleniti provident adipisci eos!</p>

  <div class="code-example">
    
    <input type="checkbox" id="code-pre">
    <label for="code-pre" title="Show/hide example code">
      <svg class="code">
        <use xlink:href="/images/icons.svg#code"></use>
      </svg>
      <svg class="clear">
        <use xlink:href="/images/icons.svg#clear"></use>
      </svg>
    </label>

    <pre><code class="html">&lt;pre&gt;...&lt;/pre&gt;</code></pre>

  </div>
</section>
