$black: #181825 !default;
$white: #ffffff !default;

$rosewater3: #dc8a78 !default;
$rosewater2: #f2d5cf !default;
$rosewater1: #f4dbd6 !default;
$rosewater0: #f5e0dc !default;

$flamingo3: #dd7878 !default;
$flamingo2: #eebebe !default;
$flamingo1: #f0c6c6 !default;
$flamingo0: #f2cdcd !default;

$pink3: #ea76cb !default;
$pink2: #f4b8e4 !default;
$pink1: #f5bde6 !default;
$pink0: #f5c2e7 !default;

$mauve3: #8839ef !default;
$mauve2: #ca9ee6 !default;
$mauve1: #c6a0f6 !default;
$mauve0: #cba6f7 !default;

$red3: #d20f39 !default;
$red2: #e78284 !default;
$red1: #ed8796 !default;
$red0: #f38ba8 !default;

$maroon3: #e64553 !default;
$maroon2: #ea999c !default;
$maroon1: #ee99a0 !default;
$maroon0: #eba0ac !default;

$peach3: #fe640b !default;
$peach2: #ef9f76 !default;
$peach1: #f5a97f !default;
$peach0: #fab387 !default;

$yellow3: #df8e1d !default;
$yellow2: #e5c890 !default;
$yellow1: #eed49f !default;
$yellow0: #f9e2af !default;

$green3: #40a02b !default;
$green2: #a6d189 !default;
$green1: #a6da95 !default;
$green0: #a6e3a1 !default;

$teal3: #179299 !default;
$teal2: #81c8be !default;
$teal1: #8bd5ca !default;
$teal0: #94e2d5 !default;

$sky3: #04a5e5 !default;
$sky2: #99d1db !default;
$sky1: #91d7e3 !default;
$sky0: #89dceb !default;

$sapphire3: #209fb5 !default;
$sapphire2: #85c1dc !default;
$sapphire1: #7dc4e4 !default;
$sapphire0: #74c7ec !default;

$blue3: #1e66f5 !default;
$blue2: #8caaee !default;
$blue1: #8aadf4 !default;
$blue0: #89b4fa !default;

$lavender3: #7287fd !default;
$lavender2: #babbf1 !default;
$lavender1: #b7bdf8 !default;
$lavender0: #b4befe !default;

$base: #eff1f5 !default;
$mantle: #e6e9ef !default;
$crust: #dce0e8 !default;

$text: #222222 !default;
$subtext1: #3a3a3a !default;
$subtext0: #535353 !default;
$overlay2: #6b6b6b !default;
$overlay1: #838383 !default;
$overlay0: #9b9b9b !default;
$surface2: #b4b4b4 !default;
$surface1: #cccccc !default;
$surface0: #dddddd !default;

$asideBase: #222222 !default;
$asideMantle: #111111 !default;
$asideCrust: #000000 !default;

$asideText: #eff1f5 !default;
$asideSubtext1: #e6e9ef !default;
$asideSubtext0: #dce0e8 !default;
