@use "index.scss" with (
  // $rosewater: #f5e0dc,
  // $flamingo: #f2cdcd,
  // $pink: #f5c2e7,
  // $mauve: #cba6f7,
  // $red: #f38ba8,
  // $maroon: #eba0ac,
  // $peach: #fab387,
  // $yellow: #f9e2af,
  // $green: #a6e3a1,
  // $teal: #94e2d5,
  // $sky: #89dceb,
  // $sapphire: #74c7ec,
  // $blue: #89b4fa,
  // $lavender: #b4befe,

  $text: #ffffff,
  $subtext1: #dddddd,
  $subtext0: #cccccc,
  $overlay2: #b4b4b4,
  $overlay1: #9b9b9b,
  $overlay0: #838383,
  $surface2: #6b6b6b,
  $surface1: #535353,
  $surface0: #3a3a3a,
  $base: #222222,
  $mantle: #1a1a1a,
  $crust: #111111,

  $asideBase: #222222,
  $asideMantle: #111111,
  $asideCrust: #000000,
  $asideText: #eff1f5,
  $asideSubtext1: #e6e9ef,
  $asideSubtext0: #dce0e8
);
