@use "index.scss" with (
  $rosewater: #dc8a78,
  $flamingo: #dd7878,
  $pink: #ea76cb,
  $mauve: #8839ef,
  $red: #d20f39,
  $maroon: #e64553,
  $peach: #fe640b,
  $yellow: #df8e1d,
  $green: #40a02b,
  $teal: #179299,
  $sky: #04a5e5,
  $sapphire: #209fb5,
  $blue: #1e66f5,
  $lavender: #7287fd,

  $text: #222222,
  $subtext1: #3a3a3a,
  $subtext0: #535353,
  $overlay2: #6b6b6b,
  $overlay1: #838383,
  $overlay0: #9b9b9b,
  $surface2: #b4b4b4,
  $surface1: #cccccc,
  $surface0: #dddddd,
  $base: #eff1f5,
  $mantle: #e6e9ef,
  $crust: #dce0e8,

  $asideBase: #222222,
  $asideMantle: #111111,
  $asideCrust: #000000,
  $asideText: #eff1f5,
  $asideSubtext1: #e6e9ef,
  $asideSubtext0: #dce0e8
);
