/* COLORS */

$black: #111;
$white: #fff;

$mainBackground: $white;
$mainBackgroundLite: #efefef;
$mainBackgroundLiteHover: #e6e6e6;
$mainBackgroundAlt: #f8f8f8;
$mainText: $black;
$mainVague: #777;
$mainHover: #999;
$mainLine: #c0c0c0;

$yellow: #ff0;
$yellowBackground: #fdf9e7;
$yellowBorder: #f7db6e;
$yellowText: $black;
$yellowHeader: #f1c40f;
$yellowBorderSub: $yellowBorder;
$yellowTextSub: $black;
$yellowHover: #fbedb7;
$yellowActive: #f1c40f;
$yellowActiveLite: #f2ca26;
$yellowActiveText: $white;

$blue: #2980d7;
$darkblue: #154360;
$blueBackground: #e6f2ff;
$blueBorder: #68a6e3;
$blueText: $black;
$blueHeader: #66b0ff;
$blueBorderSub: $blueBorder;
$blueTextSub: $black;
$blueHover: #b3d7ff;
$blueActive: #2980d7;
$blueActiveLite: #3d8cdb;
$blueActiveText: $white;

$red: #c00;
$redBackground: #f5d9d6;
$redBorder: #da7c71;
$redText: $black;
$redHeader: #ff8080;
$redBorderSub: $redBorder;
$redTextSub: $black;
$redHover: #eab4ae;
$redActive: #cb4335;
$redActiveLite: #d05649;
$redActiveText: $white;

$greenBackground: #d5f6e3;
$greenBorder: #29bc67;
$greenText: $black;
$greenHeader: #28b463;
$greenBorderSub: $greenBorder;
$greenTextSub: $black;
$greenHover: #abedc7;
$greenActive: #28b463;
$greenActiveLite: #29bc67;
$greenActiveText: $white;

$purpleBackground: #e6ccff;
$purpleBorder: #bf80ff;
$purpleText: $black;
$purpleHeader: #9933ff;
$purpleBorderSub: $purpleBorder;
$purpleTextSub: $black;
$purpleHover: #d9b3ff;
$purpleActive: #9933ff;
$purpleActiveLite: #a64dff;
$purpleActiveText: $white;

$orangeBackground: #ffe0cc;
$orangeBorder: #ffa366;
$orangeText: $black;
$orangeHeader: #ff8c66;
$orangeBorderSub: $orangeBorder;
$orangeTextSub: $black;
$orangeHover: #ffd1b3;
$orangeActive: #d35400;
$orangeActiveLite: #e65c00;
$orangeActiveText: $white;

$gray: #aaa;
$grayBackground: $mainBackgroundLite;
$grayBorder: $mainLine;
$grayText: #2573a7;
$grayHeader: $mainVague;
$grayBorderSub: $grayBorder;
$grayTextSub: $black;
$grayHover: $mainBackgroundLiteHover;
$grayActive: $blue;
$grayActiveText: $white;

/* TYPOGRAPHY */

$blockText: "IBM Plex Serif", Georgia, serif;
$utilityText: "IBM Plex Sans", Calibri, Arial, Verdana, sans-serif;
$monoText: "IBM Plex Mono", monospace;

$fontFamily: $blockText;
$fontSize: 15px;
$lineHeight: $fontSize * 1.4;
$paragraphSpacer: $lineHeight * 0.75;

/* HEADER */

$headerBackground: #efefef;
$headerText: $black;
$headerLine: #e6e6e6;
$headerHeight: 55px;

/* ASIDE */

$asideBackground: #e6e6e6;
$asideLine: #c8c8c8;

/* SECTIONS */

$sectionHeaderBackground: #f2f2f2;
$inner3D: $white;
$outer3D: $black;
$outer3D-80: #1a1a1a;
$outer3D-60: #262626;
$outer3D-50: #595959;
$outer3D-40: #737373;

/* LINKS */

$linkColor: #2573a7;
$linkLine: #3498db;
$linkHover: $mainText;
$linkActive: $mainText;
$linkVisited: #8e44ad;

/* INPUT */

$inputFontSize: 1em;
$inputHeight: 2.6em;
$inputPaddingWidth: 0.6em;
$inputPaddingHeight: 0;
$inputPadding: $inputPaddingHeight $inputPaddingWidth;

$inputBackground: $mainBackground;
$inputBackgroundDisabled: #ddd;
$inputText: $mainText;
$inputVague: #666;
$inputLine: $mainLine;
$inputLineHover: #5dade2;
$inputLineFocus: #2e8fc1;
$inputLineActive: #2c81ba;
$inputLineError: #c0392b;

/* BUTTONS */

$buttonFontSize: 1em;
$buttonHeight: 2.6em;
$buttonPadding: 0 1.2em 5px;
$buttonShadowSize: 3px;

$buttonBackground: #e5e8e8;
$buttonText: $mainText;
$buttonTextDisabled: #75828a;

$buttonLine: #a0aaab;
$buttonHover: #d7dbdd;
$buttonFocus: #d7dbdd;
$buttonActive: #c8cdd0;
$buttonDisabled: #c9cfcf;
$buttonShadow: #bbc3c3;

$buttonPulseHigh: #bbc2c3;
$buttonPulseLow: #e4e7e7;

$buttonRefresh: url(../images/icons/refresh-black.svg);
$buttonCheck: url(../images/icons/check-black.svg);
