<header>
  <h1>Calendar</h1>
</header>

<section id="introduction">
	<p class="introduction">
		<strong>Calendars</strong> are essential tools for organizing time, scheduling events, and tracking important dates. They provide a visual representation of days, weeks, and months, helping individuals and organizations plan their activities effectively. Whether in physical form or digital applications, calendars facilitate time management and enhance productivity by allowing users to set reminders, mark deadlines, and coordinate with others.
	</p>
	<p class="introduction">
		The <strong>calendar</strong> is a <a href="https://react.dev/" target="_blank">React</a> component and relies on the <a href="https://date-fns.org/" target="_blank" rel="noopener noreferrer">date-fns</a> library for date manipulation and formatting. It is designed to be flexible and customizable, allowing developers to easily integrate it into their applications and tailor its appearance and functionality to meet specific requirements.
	</p>
</section>


<section>
	<header>
		<h2>Basic calendar</h2>
	</header>

	<!-- TODO: Write a description of how the calendar works -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<div class="section-example">
		<div id="calendar-demo-1"></div>
	</div>

	<!-- TODO: Write additional notes on requirements, best practices, etc. -->
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat

  <div class="code-example">
    <pre><code class="html">&lt;!-- Example calendar code here --&gt;</code></pre>
  </div>
  
</section>

<section>
	<header>
		<h2>Calendar events</h2>
	</header>

	<!-- TODO: Write a description of how calendar events works -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<div class="section-example">
		<div id="calendar-demo-2"></div>
	</div>

	<!-- TODO: Write additional notes on requirements, best practices, etc. -->
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat

  <div class="code-example">
    <pre><code class="html">&lt;!-- Example calendar code here --e&gt;</code></pre>
  </div>
  
</section>
<script type="module" src="/scripts/calendar-demo.js"></script>
