<header>
  <h1>Editor</h1>
</header>

<section id="introduction">
	<p class="introduction">
	<strong>Editors</strong> are essential tools for creating, modifying, and formatting text and code. They provide a user-friendly interface that allows users to input and manipulate content efficiently. Editors often come with features such as syntax highlighting, auto-completion, and error detection, which enhance productivity and reduce the likelihood of mistakes. Whether used for writing documents, coding, or designing web pages, editors play a crucial role in various fields by streamlining the content creation process.
	</p>
	<p class="introduction">
	The <strong>editor</strong> is a <a href="https://react.dev/" target="_blank">React</a> component and relies on the <a href="https://tiptap.dev" target="_blank" rel="noopener noreferrer">Tiptap</a> library for rich text editing. It is designed to be flexible and customizable, allowing developers to easily integrate it into their applications and tailor its appearance and functionality to meet specific requirements.
	</p>
</section>


<section>
	<header>
		<h2>Basic editor</h2>
	</header>

	<!-- TODO: Write a description of how the editor works -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<div class="section-example">
		<!-- TODO: Example date picker -->
		Example date picker here
	</div>

	<!-- TODO: Write additional notes on requirements, best practices, etc. -->
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat

  <div class="code-example">
    <pre><code class="html">&lt;!-- Example editor code here --&gt;</code></pre>
  </div>
  
</section>
<section>
	<header>
		<h2>Sizes</h2>
	</header>

	<!-- TODO: Write a description of how the editor sizes works -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

	<div class="section-example">
		<!-- TODO: Example ediors in different sizes -->
		Example editor sizes here
	</div>

	<!-- TODO: Write additional notes on requirements, best practices, etc. -->
	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat

  <div class="code-example">
    <pre><code class="html">&lt;!-- Example editor sizes code here --&gt;</code></pre>
  </div>
  
</section>
