.product {
  display: block;
  position: relative;
  margin: $paragraphSpacer 0;
  max-width: 100%;

  & > * {
    display: none;
  }

  & > .product-image {
    position: relative;
    display: block;
    width: 100%;

    & > .sticky {
      display: block;
      position: absolute;
      margin: 0;
      font-size: 1em;
      z-index: 2;
    }

    a:focus {
      outline-width: 0;
    }

    &.image-cover,
    &.image-contain {
      padding-top: 100%;

      & > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -o-object-fit: cover;
        }
      }

      &.ratio-3by4 {
        padding-top: 133.33333333333%;
      }

      &.ratio-9by16 {
        padding-top: 177.77777777778%;
      }

      &.ratio-golden-portrait {
        padding-top: 161.803398875%;
      }

      &.ratio-4by3 {
        padding-top: 75%;
      }

      &.ratio-16by9 {
        padding-top: 56.25%;
      }

      &.ratio-golden-landscape {
        padding-top: 61.803398874985%;
      }
    }

    &.contain > a > img {
      object-fit: contain;
      -o-object-fit: contain;
    }
  }

  & > .product-metadata {
    display: block;

    .product-title,
    .product-title > * {
      font-family: $utilityText;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $mainText;
      text-decoration: none;
      font-weight: 500;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  & > .product-controls {
    display: flex;

    .spacer {
      flex: 100 0 auto;
    }
  }

  &.card {
    &:focus-within,
    &:hover {
      background-color: $mainBackgroundAlt;
      box-shadow: 0 0 0 3px $inputLineHover;
      border-color: $inputLineHover;
    }

    .sticky {
      top: 0;
      right: 0;
      transform: translate(0.25em, -0.25em);
    }

    & > .product-controls {
      padding-top: 0.4rem;
      flex-direction: row-reverse;
      align-items: flex-end;

      & > * {
        margin: 0 0 0 0.4rem;

        &:last-child {
          margin-left: 0;
        }
      }

      .price {
        font-size: 1em;
      }
    }

    &.bordered {
      border: 1px solid $mainLine;
      border-radius: 6px;

      .product-title {
        padding: 0 0.4rem;
      }

      .product-image img {
        border-radius: 6px 6px 0 0;
      }

      .product-controls {
        padding: 0.4rem;
      }
    }
  }

  &.detail {
    display: grid;
    grid-column-gap: 2em;
    grid-row-gap: 0.5em;
    grid-template-columns: repeat(12, 1fr);

    > *:first-child {
      margin-top: 0;
    }

    .product-title {
      display: block;
      grid-column: 1 / 13;
      margin: 0;
    }

    .product-author {
      display: block;
      grid-column: 1 / 13;
      margin: 0 0 1.5em;
    }

    .product-image {
      grid-column: 1 / 6;

      & > *:first-child {
        margin-top: 0;
      }
    }

    .product-metadata {
      grid-column: 6 / 13;
      display: grid;
      grid-row-gap: $paragraphSpacer;
      grid-template-columns: repeat(8, 1fr);

      & > * {
        margin: 0;
      }

      .product-price {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-top: 0;
      }

      .product-controls {
        grid-column: 4 / 9;
        grid-row: 1 / 2;
        text-align: right;

        .product-cart {
          margin-bottom: 0;

          input {
            width: 6em;
          }
        }

        @media (min-width: 601px) and (max-width: 900px) {
          grid-column: 1 / 9;
          grid-row: 2 / 3;
          text-align: left;
        }
      }

      & > * {
        grid-column: 1 / 9;
      }
    }

    @media (max-width: 600px) {
      .product-image {
        grid-column: 1 / 13;
        margin: 0 auto;
        max-width: 350px;
      }

      .product-metadata {
        grid-column: 1 / 13;
      }
    }
  }
}

.products {
  &.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1em;
    margin: $paragraphSpacer 0;
    padding: 0;

    & > header {
      grid-column: 1 / -1;

      & > * {
        margin: 0;
      }
    }

    & > .product {
      margin: 0;
    }

    &.mini {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

      .product-controls {
        flex-direction: column-reverse;
        align-items: stretch;

        & > *:first-child {
          margin: 0.4rem 0 0 0;
        }
      }
    }

    &.small {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

      .product-controls {
        flex-direction: column-reverse;
        align-items: stretch;

        & > *:first-child {
          margin: 0.4rem 0 0 0;
        }
      }
    }

    &.medium {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

      .product-controls {
        flex-direction: column-reverse;
        align-items: stretch;

        & > *:first-child {
          margin: 0.4rem 0 0 0;
        }
      }
    }

    &.large {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    &.big {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    &.huge {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    &.massive {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &.enormous {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    &.giant {
      grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }

    &.ratio-3by4 .product-image {
      padding-top: 133.33333333333%;
    }

    &.ratio-9by16 .product-image {
      padding-top: 177.77777777778%;
    }

    &.ratio-golden-portrait .product-image {
      padding-top: 161.803398875%;
    }

    &.ratio-4by3 .product-image {
      padding-top: 75%;
    }

    &.ratio-16by9 .product-image {
      padding-top: 56.25%;
    }

    &.ratio-golden-landscape .product-image {
      padding-top: 61.803398874985%;
    }

    @media (min-width: 667px) and (max-width: 900px) {
      &.mini {
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.small {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.medium {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.large {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.big {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      }

      &.huge {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      }

      &.massive {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }

      &.enormous {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      &.giant {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      }
    }

    @media (min-width: 320px) and (max-width: 666px) {
      &.mini {
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.small {
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.medium {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.large {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

        .product-controls {
          flex-direction: column-reverse;
          align-items: stretch;

          & > *:first-child {
            margin: 0.4rem 0 0 0;
          }
        }
      }

      &.big {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      }

      &.huge {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      }

      &.massive {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      }

      &.enormous {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      }

      &.giant {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  }

  &.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > .controls {
      display: flex;
      border-bottom: 1px solid $mainLine;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      align-items: baseline;

      & > * {
        margin: 0 1em 0.4rem 0;

        &:last-child {
          margin-right: 0;
        }
      }

      & > .spacer {
        flex: 100 0 auto;
      }

      &:last-child {
        padding-top: 1em;
        border-bottom-width: 0;
      }

      @media (max-width: 500px) {
        padding-bottom: 0.4rem;
        justify-content: center;

        .spacer {
          flex: 0 0 0;
        }

        &:last-child {
          margin-bottom: 2em;
          border-bottom-width: 1px;
        }
      }
    }

    & > input[type="checkbox"] {
      position: absolute;
      pointer-events: none;
      opacity: 0;

      &:checked + .product {
        border-left: 2em solid $blue;
        padding-left: 1em;

        .product-selector .select {
          display: none;
        }

        .product-selector .deselect {
          display: inline;
        }
      }
    }

    & > .product {
      position: relative;
      display: grid;
      grid-column-gap: 1.5em;
      grid-template-columns: repeat(12, 1fr);
      align-items: start;
      border-bottom: 1px solid $mainLine;
      margin: 0;
      padding: $paragraphSpacer * 2 0;
      transition: 0.2s border-left, 0.2s padding-left;

      &:last-child {
        border-bottom-width: 0;
      }

      & > .product-image {
        grid-column: 1 / 4;

        & > .sticky {
          left: 0;
          transform: translate(-0.25em, -0.25em);
        }

        & > .slideshow {
          margin: 0;
        }

        &:focus-within img {
          box-shadow: 0 0 0 3px $inputLineHover;
        }
      }

      & > .product-metadata {
        grid-column: 4 / 10;

        & > *:first-child {
          margin-top: 0;
        }

        & > *:last-child {
          margin-bottom: 0;
        }

        .product-title {
          font-weight: 500;
        }

        & > p {
          font-size: 0.9em;
        }
      }

      & > .product-controls {
        grid-column: 10 / 13;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-start;

        & > * {
          margin: 0 0 0.4rem 0.4rem;

          &:first-child {
            margin-bottom: 1em;
          }
        }

        button,
        .group {
          margin-bottom: 0;
        }

        a,
        label {
          font-size: 0.9em;
          margin-bottom: 0;

          &.product-selector .deselect {
            display: none;
          }
        }
      }

      @media (min-width: 500px) and (max-width: 900px) {
        grid-template-rows: auto 1fr;
        grid-auto-flow: dense;
        grid-row-gap: 0.5em;

        & > .product-image {
          grid-column: 1 / 5;
          grid-row: 1 / 3;
        }

        & > .product-metadata {
          grid-column: 5 / 13;
        }

        & > .product-controls {
          grid-column: 5 / 13;
        }
      }

      @media (max-width: 900px) {
        & > .product-controls {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-end;

          & > *:first-child {
            margin: 0;
          }

          & > *:last-child {
            flex-basis: 100%;
            text-align: right;
          }
        }
      }

      @media (max-width: 499px) {
        & > .product-image {
          grid-column: 1 / 13;
          grid-row: 1 / 2;
          max-width: 275px;
          margin: 0 auto;
        }

        & > .product-metadata {
          grid-column: 1 / 13;
          grid-row: 2 / 3;
        }

        & > .product-controls {
          grid-column: 1 / 13;
          grid-row: 3 / 4;
        }
      }
    }
  }
}
