@mixin siteOverviewMixin($soIcon, $soHeader, $soBorder, $soBackground) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-decoration: underline solid $soHeader;
  }

  u {
    text-decoration: underline solid $soHeader;
  }

  & > ul > li > a {
    & > .title {
      color: $mainText;
      text-decoration: underline solid $soIcon;
    }

    & > .icon {
      fill: $soIcon;
    }

    &:hover,
    &:focus {
      & > .title {
        text-decoration: underline solid $soHeader;
      }

      & > .icon {
        fill: $soHeader;
      }
    }

    &:focus {
      outline-width: 0;
      border-color: $soBorder;
      background-color: $soBackground;
    }

    &:active {
      & > .title {
        color: $mainText;
        text-decoration: underline solid $mainText;
      }
    }
  }
}

.site-overview {
  @include siteOverviewMixin(
    $mainLine,
    $linkColor,
    $mainLine,
    $mainBackgroundLite
  );

  padding: 2em 1em;
  margin-bottom: 2em;

  & > .explainer {
    font-size: 1.1em;
    line-height: 1.5;
    padding: 0 25vw 0 0;
  }

  & > ul {
    list-style-type: none;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > li > a {
      position: relative;
      padding: 1em 3em 1em 5em;
      margin: 1em 0;
      display: block;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 6px;

      & > .icon {
        position: absolute;
        top: 1em;
        left: 0.5em;
        width: 3.5em;
        height: 3.5em;
      }

      & > .title {
        font-size: 1.5em;
        font-family: $utilityText;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0.25em;
      }

      & > .description {
        color: $mainText;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (min-width: 667px) and (max-width: 900px) {
    & > .explainer {
      padding: 0 10vw 0 0;
    }

    & > ul {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 320px) and (max-width: 666px) {
    & > .explainer {
      padding: 0;
    }

    & > ul {
      grid-template-columns: 1fr;
    }
  }

  &.yellow {
    @include siteOverviewMixin(
      $yellowBorder,
      $yellowActive,
      $yellowBorder,
      $yellowBackground
    );
  }
  &.red {
    @include siteOverviewMixin(
      $redHeader,
      $redActive,
      $redBorder,
      $redBackground
    );
  }
  &.blue {
    @include siteOverviewMixin(
      $blueHeader,
      $blueActive,
      $blueBorder,
      $blueBackground
    );
  }
  &.green {
    @include siteOverviewMixin(
      $greenHeader,
      $greenActive,
      $greenBorder,
      $greenBackground
    );
  }
  &.orange {
    @include siteOverviewMixin(
      $orangeHeader,
      $orangeActive,
      $orangeBorder,
      $orangeBackground
    );
  }
  &.purple {
    @include siteOverviewMixin(
      $purpleHeader,
      $purpleActive,
      $purpleBorder,
      $purpleBackground
    );
  }
  &.gray {
    @include siteOverviewMixin(
      $grayHeader,
      $grayActive,
      $grayBorder,
      $grayBackground
    );
  }
}
